@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: #698F3F #154360 !important;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #10354C !important; 
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #698F3F !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #557433 !important;
}

::-webkit-scrollbar-button{
    width: 0px !important;
    display: none !important;
}

::-moz-scrollbar-button{
    width: 0px !important;
    display: none !important;
}


.post{
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-column: 1;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
}

.post .card-header{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #154360;
    display: grid;
}

.post .card-header header{
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 22px !important;
    color: #FFFFFF;
    white-space: nowrap !important; 
    overflow: auto !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-header header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 20px !important;
        color: #FFFFFF;
        white-space: nowrap !important; 
        overflow: auto !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-header header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 18px !important;
        color: #FFFFFF;
        white-space: nowrap !important; 
        overflow: auto !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-header header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 16px !important;
        color: #FFFFFF;
        white-space: nowrap !important; 
        overflow: auto !important;
    }
}

.post .card-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    display: grid;
    background-color: #FFFFFF;
}

.post .card-body .field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .post .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

.post .card-body .field .column label[for = "valid-posts"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column label[for = "valid-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column label[for = "valid-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column label[for = "valid-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.post .card-body .field .column .valid-posts{
    position: relative;
}

.post .card-body .field .column .valid-posts input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.post .card-body .field .column .valid-posts input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .valid-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .valid-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .valid-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.post .card-body .field .column .valid-posts i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .valid-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .valid-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .valid-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.post .card-body .field .column label[for = "valid-date"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column label[for = "valid-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column label[for = "valid-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column label[for = "valid-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.post .card-body .field .column .valid-date{
    position: relative;
}

.post .card-body .field .column .valid-date input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.post .card-body .field .column .valid-date input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .valid-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .valid-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .valid-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.post .card-body .field .column .valid-date i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .valid-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .valid-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .valid-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.post .card-body .field .column label[for = "invalid-posts"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column label[for = "invalid-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column label[for = "invalid-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column label[for = "valid-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.post .card-body .field .column .invalid-posts{
    position: relative;
}

.post .card-body .field .column .invalid-posts input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.post .card-body .field .column .invalid-posts input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .invalid-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .invalid-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .invalid-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.post .card-body .field .column .invalid-posts i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .invalid-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .invalid-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .invalid-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.post .card-body .field .column label[for = "invalid-date"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column label[for = "invalid-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column label[for = "invalid-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column label[for = "invalid-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.post .card-body .field .column .invalid-date{
    position: relative;
}

.post .card-body .field .column .invalid-date input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.post .card-body .field .column .invalid-date input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .invalid-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .invalid-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .invalid-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.post .card-body .field .column .invalid-date i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .invalid-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .invalid-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .invalid-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.post .card-body .field .column label[for = "uncertain-posts"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column label[for = "uncertain-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column label[for = "uncertain-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column label[for = "uncertain-posts"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.post .card-body .field .column .uncertain-posts{
    position: relative;
}

.post .card-body .field .column .uncertain-posts input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.post .card-body .field .column .uncertain-posts input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .uncertain-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .uncertain-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .uncertain-posts input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.post .card-body .field .column .uncertain-posts i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .uncertain-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .uncertain-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .uncertain-posts i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.post .card-body .field .column label[for = "uncertain-date"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column label[for = "uncertain-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column label[for = "uncertain-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column label[for = "uncertain-date"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.post .card-body .field .column .uncertain-date{
    position: relative;
}

.post .card-body .field .column .uncertain-date input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.post .card-body .field .column .uncertain-date input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .uncertain-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .uncertain-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .uncertain-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.post .card-body .field .column .uncertain-date i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .field .column .uncertain-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .field .column .uncertain-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .field .column .uncertain-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.post .card-body .button{
    margin-left: auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: fit-content;
    height: 100% !important;
}

.post .card-body .button a.browse-posts{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: 1px solid #B2BEB5; 
    border-radius: 5px;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF !important;
    background-color: #154360 !important;
    text-decoration: none;
    cursor: pointer;
}

.post .card-body .button a.browse-posts:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .post .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .post .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .post .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}