{% extends "contributor/index/index.html" %}
{% load static %}

{% block content %}
{% if user %}
<div class = "update">
    <form action = "" method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        
        <div class = "card-body">
            <img class = "profile-photo" src = "{{user.profile_photo.url}}">        
                
            <input type = "file" class = "browse-photo" accept = "image">
                    
            <p>{{users.account.username}}</p>
            
            <div class = "field">
                <div class = "column">
                    <label for = "first-name">First Name</label>
                    
                    <div class = "first-name">
                        <input type = "text" id = "first-name" name = "first_name">
                    
                        <i class = "fa-solid fa-user-tag"></i>
                    </div>
    
                    <label for = "last-name">User Type</label>
    
                    <div class = "last-name">                    
                        <input type = "text" id = "last-name" name = "last_name">
                    
                        <i class = "fa-solid fa-user-group"></i>
                    </div>
                </div>
    
                <div class = "column">
                    <label for = "email">Email</label>
    
                    <div class = "email">
                        <input type = "email" id = "email" name = "email">
    
                        <i class = "fa-solid fa-envelope"></i>
                    </div>
    
                    <label for = "phone-number">Phone Number</label>
    
                    <div class = "phone-number">
                        <input type = "text" id = "phone-number" name = "phone_number">
    
                        <i class = "fa-solid fa-phone"></i>
                    </div>
                </div>
            </div>
    
            <div class = "button">
                <a class = "save-profile" type = "submit">Save</a>
            </div>   
        </div>
    </form>
</div>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", icon: "warning", iconColor: "#3B5998", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#3B5998"})</script>
        {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", icon: "success", iconColor: "#2ECC71", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#2ECC71"})</script>
        {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", icon: "error", iconColor: "#E74C3C", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#E74C3C"})</script>
        {% endif %}    
    {% endfor %}
{% endif %}

<script>
    const browsePhoto = document.querySelector(".browse-photo")
    const profilePhoto = document.querySelector(".profile-photo")

    browsePhoto.addEventListener("change", (event)=>{
        const photoObject = event.target.files[0]

        profilePhoto.src = URL.createObjectURL(photoObject)
    })
</script>

<script>
    document.querySelector(".profile-photo").addEventListener("click", () =>{
        document.querySelector("input[type = 'file']").click();
    });
</script>
{% endblock content %}