<!DOCTYPE html>
{% load static %}

<html lang = "en">
    <head>
        <meta charset = "UTF-8">

        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">

        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/officer/control/index/index.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/officer/control/home/home.css' %}">
        
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/officer/control/sighting/sighting.css' %}">
         
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/officer/control/profile/profile.css' %}">
        
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/officer/control/profile/update.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/officer/control/announcement/announcement.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/officer/control/status/status.css' %}">

        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel = "stylesheet">

        <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity = "sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin = "anonymous" referrerpolicy = "no-referrer"/>

        <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/daterangepicker/3.1/daterangepicker.css">

        <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity = "sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin = ""/>    

        <script src = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity = "sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin = ""></script>
        
        <script src = "https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js"></script>

        <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet-geosearch/dist/geosearch.css"/>
    
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    
        <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css"/>
        
        <title>COTSEye | Home</title>
    </head>

    <style>
        .nav-link:hover{
            border-radius: 5px;
            color: rgb(0, 151, 252) !important;
            background-color: rgba(0, 151, 252, 0.1);
            text-decoration: none;
        }

        .nav-link img{
            vertical-align: middle;
        }

        .nav{
            display: flex;
            align-items: center;
        }

        .notification-bell{
            position: relative;
        }

        .notification-bell .badge{
            position: absolute;
            top: 3px;
            right: -0.25rem;
            padding: 5px 5px;
            border-radius: 50%;
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 0.6rem;
            color: white;
            background: rgb(233, 27, 27);
            line-height: 1;
        }
    </style>

    <body>
        <div style = "box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); background-color: white !important;" class = "bg-primary navbar">
            <div class = "container-fluid d-flex justify-content-between align-items-center flex-wrap">
                <nav class = "nav">
                    <a class = "nav-link active disabled" aria-current = "page">
                        <img src = "{% static 'assets/icons/header.png' %}" height = "20px">
                    </a>

                    <a style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px; color: rgb(0, 151, 252) !important;" class = "nav-link text-white" href = "{% url 'Officer Control Home' %}">HOME</a>
                    
                    <a style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px; color: rgb(0, 151, 252) !important;" class = "nav-link text-white" href = "{% url 'Officer Control Sighting' %}">SIGHTINGS</a>
                    
                    <a style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px; color: rgb(0, 151, 252) !important;" class = "nav-link text-white" href = "{% url 'Officer Control Status' %}">INFESTATIONS</a>
                    
                    <a style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px; color: rgb(0, 151, 252) !important;" class = "nav-link text-white" href = "{% url 'Officer Control Intervention' %}">ACTIVITIES</a>
                    
                    <a style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px; color: rgb(0, 151, 252) !important;" class = "nav-link text-white" href = "{% url 'Officer Control Announcement' %}">ANNOUNCEMENTS</a>
                </nav>
        
                <div class = "d-flex align-items-center login-cursor">
                    <nav class = "nav">
                        <div class = "dropdown" id = "notification-bell">
                            <a class = "nav-link text-black notification-bell position-relative" style = "cursor: pointer;" id = "notificationBell">
                                <i class = "fa-solid fa-bell"></i>

                                {% if unread_notifications %}
                                    <span class = "badge rounded-pill">{{unread_notifications | length}}</span>
                                {% endif %}
                            </a>

                            <ul class = "dropdown-menu" style = "right: 10px; padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important;" id = "notificationDropdown">
                                {% if unread_notifications %}
                                    {% for notification in unread_notifications %}
                                        <li class = "dropdown-item" style = "display: grid !important; grid-template-columns: auto 1fr; padding: 5px 10px 5px 10px !important; border-bottom: 1px solid rgba(229, 229, 229); cursor: pointer;">
                                            <img style = " object-fit: cover; margin-right: 10px; width: 36px; height: 36px; border-radius: 50%;" src = "{{notification.object.post_photos.first.post_photo.url}}">

                                            <div style = "display: grid !important; grid-template-columns: 1fr;">
                                                <a style = "font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(28, 169, 234); text-decoration: none;" href = "{% url 'Officer Control Notification Read' id=notification.id %}" class = "unread-post-link" data-post-id = "{{notification.id}}"><strong>{{notification.object.user}}</strong> has sent a report.</a>

                                                <small class = "text-muted" style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">{{notification.creation_date}}</small>
                                            </div>
                                        </li>
                                    {% endfor %}

                                {% else %}
                                    <li class = "dropdown-item" style = "display: grid !important; grid-template-columns: auto 1fr; padding: 5px 10px 5px 10px !important; border-bottom: 1px solid rgba(229, 229, 229);"><p style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">No unread notifications in the last 30 days.</p></li>
                                {% endif %}
                                
                                <a style = "display: block; white-space: wrap; font-family: 'Montserrat'; font-weight: 700; font-size: 20px; color: rgb(28, 169, 234); text-align: center; text-decoration: none !important;" href = "{% url 'Officer Control Notification' %}">See more</a>
                            </ul>
                        </div>
                    
                        <a style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" class = "nav-link text-black" href = "{% url 'Officer Control Profile' %}">PROFILE</a>
                    
                        <a style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" class = "nav-link text-black" href = "{% url 'Officer Control Logout' %}">LOGOUT</a>
                    </nav>
                </div>
            </div>
        </div>
    
        <div class = "content">
            {% block content %}

            {% endblock %}
        </div>

        <script>
            $(document).ready(function(){
                $(".select2").select2();
            });

            document.addEventListener("DOMContentLoaded", function (){
                const notificationBell = document.getElementById("notificationBell");

                const notificationDropdown = document.getElementById('notificationDropdown');

                notificationBell.addEventListener("click", function(event){
                    event.preventDefault();

                    notificationDropdown.classList.toggle("show");
                });

                document.addEventListener("click", function(event){
                    if (!notificationBell.contains(event.target) && !notificationDropdown.contains(event.target)){
                        notificationDropdown.classList.remove("show");
                    };
                });
            });
        </script>

        <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    
        <script>
            document.addEventListener("DOMContentLoaded", function(){
                {% if errors and field_labels %}
                    var errorMessages = {{errors | safe}};

                    var fieldLabels = {{field_labels | safe}};
            
                    for (var field in errorMessages) {
                        if (errorMessages.hasOwnProperty(field)){
                            var fieldErrors = errorMessages[field];

                            var fieldLabel = fieldLabels[field];
                            
                            fieldErrors.forEach(function(error){
                                swal({
                                    title: "Error!",
                                    
                                    text: "There is an issue in the " + fieldLabel + " field. " + error.message,
                                    
                                    type: "error",
                                    
                                    confirmButtonText: "Ok"
                                });
                            });
                        };
                    };
                {% endif %}

                {% if location_error %}
                    swal({
                        title: "Error!",
                        
                        text: "{{location_error}}",
                        
                        type: "error",
                        
                        confirmButtonText: "Ok"
                    });
                {% endif %}
            });
        </script>

        <script>
            function redirectMobileHandler() {
                const width = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
                
                if (width < 1080){
                    window.location.href = "{% url 'Officer Control Fallback' %}";
                }
            }

            window.onload = redirectMobileHandler;

            window.onresize = redirectMobileHandler;
        </script>
    </body>
</html>