@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 2.5px !important;
    height: 2.5px !important;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF !important; 
}

::-webkit-scrollbar-button{
    display: none !important;
    width: 0px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
    background-color: #003755 !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #78cffd !important;
}


body{
    background: #FFFFFF;
}

.nav-link:hover{
    color: #55ebff !important;
    text-decoration: none;
}

.bg-primary{
    padding: 8px 0;
    background-color: unset !important;
}

.content{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-fluid{
    max-width: 100%;
}

@media (max-width: 768px){
    .content{
        padding-left: 0.5in;
        padding-right: 0.5in;
    }
}

@media (max-width: 576px){
    .content{
        padding-left: 0.25in;
        padding-right: 0.25in;
    }

    .nav-link{
        font-size: 0.875rem;
    }
}

.content{
    min-height: 100vh
}