@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 2.5px !important;
    height: 2.5px !important;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF !important; 
}

::-webkit-scrollbar-button{
    display: none !important;
    width: 0px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
    background-color: #003755 !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #78cffd !important;
}


body{
    background: #FFFFFF;
}

.nav-link:hover{
    color: #55EBFF !important;
    text-decoration: none;
}

.bg-primary{
    padding: 8px 0;
    background-color: unset !important;
}

.content{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-fluid{
    max-width: 100%;
}


.breadcrub-item{
    display: none;
}

.breadcrumb-item::before{
    display: none !important;
}

.status_active{
    display: block;
}

.status_active::before{
    display: block !important;
}

@media (max-width: 768px){
    .content{
        padding-left: 0.5in;
        padding-right: 0.5in;
    }
}

@media (max-width: 576px){
    .content{
        padding-left: 0.25in;
        padding-right: 0.25in;
    }

    .nav-link{
        font-size: 0.875rem;
    }
}

.content{
    min-height: 100vh;
}


#load{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 99;
}

.load{
    z-index: 100
} 


.swal2-container .swal2-popup{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-radius: 5px !important;
    border: 1px solid #003755 !important; 
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .swal2-popup{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-radius: 5px !important;
    }
}

.swal2-container .swal2-popup .swal2-styled:focus{
    box-shadow: none !important;
}

.swal2-container .swal2-html-container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    color: #003755 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 12px !important;
    }
}

.swal2-container div:where(.swal2-icon){
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container div:where(.swal2-icon){
        margin-bottom: 5px !important;
    }
}

.swal2-container div:where(.swal2-icon).swal2-warning{
    border-color: #003755 !important;
    color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-success .swal2-success-ring{
    border: 1px solid #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-success [class ^= swal2-success-line]{
    background-color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error{
    border-color: #003755 !important;
    color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error [class ^= swal2-x-mark-line]{
    background-color: #003755 !important;
}

.swal2-container h2:where(.swal2-title){
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container h2:where(.swal2-title){
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
    }
}

.swal2-container .title{
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: 24px !important;   
    color: #003755 !important;
    pointer-events: none !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .title{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .title{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .title{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .title{
        font-size: 16px !important;
    }
}

.swal2-container div:where(.swal2-actions){
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.swal2-container .swal2-actions{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: fit-content !important;
}

.swal2-container .swal2-actions button{
    background-color: #003755 !important;
}

.swal2-container .info-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .info-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .info-button::before{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #003755 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .info-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .info-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .info-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .info-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .info-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .success-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .success-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .success-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #003755 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .success-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .success-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .success-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .success-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .success-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .error-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .error-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .error-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #003755 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .error-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .error-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .error-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .error-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .error-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .confirm-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .confirm-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .confirm-button::before{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    content: "Yes" !important;
    visibility: visible !important;
    border: 1px solid #003755 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .confirm-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .confirm-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .confirm-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .confirm-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .confirm-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .cancel-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .cancel-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .cancel-button::before{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    content: "No" !important;
    visibility: visible !important;
    border: 1px solid #003755 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .cancel-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .cancel-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .cancel-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .cancel-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .cancel-button::before{
        font-size: 12px !important;
    }
}