[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
django-allauth = "*"
psycopg2 = "*"
pillow = "*"
dj-database-url = "==2.2.0"
gunicorn = "~=22.0.0"
requests = "*"
whitenoise = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.12"
