.content:has(.postandfeedread-body){
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.postandfeedread-body{
    position: relative;
    width: 100%;
    height: 100%;
    color: #003755;
}

/* .postandfeedread-body .postandfeedread-section{
    display: flex;                   
    align-items: center; 
    justify-content: center;          
    padding-top: 10px;
    padding-bottom: 10px;      
    width: 100%;                     
    text-align: center;                                   
}

.postandfeedread-body .postandfeedread-section h1{
    font-family: "Montserrat";
    font-weight: 700;       
    font-size: 22px;        
    text-align: center;     
} */

.postandfeedread-body .postandfeedread{
    display: grid;
    row-gap: 15px;
}

.postandfeedread-body .postandfeedread .postandfeedread-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-header{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-header .header-context{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postandfeedread-body .postandfeedread .postandfeedread-header .header-context .context-caption p:first-child{
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px !important;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-header .header-context .context-caption p:first-child{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-header .header-context .context-caption p:first-child{
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-header .header-context .context-caption p:last-child{
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px !important;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-header .header-context .context-caption p:last-child{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-header .header-context .context-caption p:last-child{
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-header .header-context:last-child{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
}

.postandfeedread-body .postandfeedread .postandfeedread-header .header-context:last-child > p{
    margin-bottom: 0px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-header .header-context:last-child > p{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-header .header-context:last-child > p{
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-header img{
    margin-right: 10px !important;
    margin-bottom: 0px !important;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-header img{
        width: 28px;
        height: 28px;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-gallery{
    position: relative;
    height: 100%;                
    background-color: #FFFFFF;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap;
}

.postandfeedread-body .postandfeedread .postandfeedread-gallery img{
    position: relative;
    display: inline-block;
    place-items: center;
    object-fit: cover;
    margin-right: 10px;
    width: 100%;
    height: 500px;
    overflow: hidden !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-gallery img{
        height: 250px;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-remarks{
    display: grid;
    row-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    width: 100%; 
    border-bottom: 1px solid #D3D3D3;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-remarks{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-remarks .remarks-context{
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #003755;
    border-radius: 5px;
    background-color: #C90016;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-remarks .remarks-context{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-remarks .remarks-context h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat";
    font-weight: 400; 
    font-size: 24px;      
    color: #FFFFFF;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-remarks .remarks-context h1{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-remarks .remarks-context h1{
        font-size: 16px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-remarks .remarks-context p{ 
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;       
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-remarks .remarks-context p{ 
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-remarks .remarks-context p{ 
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-origin{  
    display: grid !important;    
    gap: 15px;  
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    width: 100%; 
    border-bottom: 1px solid #D3D3D3;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-origin{      
        padding-left: 15px;
        padding-right: 15px;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-origin h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700; 
    font-size: 24px;      
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-origin h1{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-origin h1{
        font-size: 16px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-origin .origin-context p:first-child{
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
    white-space: wrap;
    font-family: "Montserrat";
    font-weight: 700; 
    font-size: 20px;      
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-origin .origin-context p:first-child{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-origin .origin-context p:first-child{
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-origin .origin-context p:last-child{
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
    white-space: wrap;
    font-family: "Montserrat";
    font-weight: 400;       
    font-size: 20px;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-origin .origin-context p:last-child{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-origin .origin-context p:last-child{
        font-size: 12px !important;
    }
}

/* .postandfeedread-body .postandfeedread .postandfeedread-origin i{
    margin-right: 10px;
    font-size: 22px;
    color: #003755;  
} */

.postandfeedread-body .postandfeedread .postandfeedread-observation{
    display: grid;
    row-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    width: 100%; 
    border-bottom: 1px solid #D3D3D3;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-observation{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-observation h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700; 
    font-size: 24px;      
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-observation h1{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-observation h1{
        font-size: 16px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-observation .observation-context p:first-child{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0px !important;
    white-space: wrap;
    font-family: "Montserrat";
    font-weight: 700;       
    font-size: 20px;
    color: #003755;                          
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-observation .observation-context p:first-child{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-observation .observation-context p:first-child{
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-observation .observation-context p:last-child{
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
    white-space: wrap;
    font-family: "Montserrat";
    font-weight: 400;       
    font-size: 20px;
    color: #003755;                          
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-observation .observation-context p:last-child{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-observation .observation-context p:last-child{
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-description{
    display: grid;
    row-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    width: 100%; 
    border-bottom: 1px solid #D3D3D3;
}

.postandfeedread-body .postandfeedread .postandfeedread-description:last-child{
    border-bottom: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-description{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-description h1{
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat";
    font-weight: 700; 
    font-size: 20px;      
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-description h1{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-description h1{
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .postandfeedread-description .description-context p{ 
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 400;       
    font-size: 20px;
    color: #003755;
    text-align: justify;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .postandfeedread-description .description-context p{ 
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread .postandfeedread-description .description-context p{ 
        font-size: 12px !important;
    }
}

.postandfeedread-body .postandfeedread .button{
    margin-left: auto;
    margin-right: 30px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: fit-content;
    height: 100% !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread .button{
        margin-right: 15px;
    }
}

.postandfeedread-body .postandfeedread a{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 5px;
    outline: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF !important;
    background-color: #003755 !important;
    text-decoration: none;
    cursor: pointer;  
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .postandfeedread-body .postandfeedread a{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .postandfeedread-body .postandfeedread a{
        font-size: 12px !important;
    }
}