@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: #698F3F #154360 !important;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track{
    border: 1px solid #B2BEB5; 
    border-radius: 5px;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #10354C !important; 
}

::-webkit-scrollbar-thumb{
    border: 1px solid #B2BEB5; 
    border-radius: 5px;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #698F3F !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #557433 !important;
}


.home{
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-column: 1;
}

.home .section-header{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
    display: grid;
}

.home .section-header header{
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 36px !important;
    color: #154360;
    text-align: center;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .section-header header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 28px !important;
        color: #154360;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .section-header header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 26px !important;
        color: #154360;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .section-header header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 24px !important;
        color: #154360;
    }
}

.home .section-body{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
    display: grid;
}

.home .section-body p{
    font-family: "Overlock";
    font-weight: 400;
    font-size: 22px !important;
    color: #154360;
    text-align: center;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .section-body p{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 20px !important;
        color: #154360;
        text-align: center;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .section-body p{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .section-body p{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360;
        text-align: center;
    }
}

.home .latest-announcement{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    max-height: 100vh;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background-color: #698F3F;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap;
}

.home .latest-announcement .announcement-gallery{
    margin-right: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.home .latest-announcement .announcement-gallery:last-child{
    margin-right: 0px !important;
}

.home .latest-announcement .announcement-gallery img{
    margin-right: 10px;
    width: 100%;
    height: 100%;
    place-items: center;
    object-fit: cover;
    filter: brightness(50%);
}

.home .latest-announcement .announcement-gallery img:hover{
    transform: scale(1.25);
}

.home .latest-announcement .announcement-gallery img:last-child{
    margin-right: 0px !important;
}

.home .latest-announcement .announcement-gallery .context{
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
}

.home .latest-announcement .announcement-gallery .context header{
    text-align: justify;
    font-family: "Philosopher" !important;
    font-weight: 700 !important;
    font-size: 36px !important;
    color: #FFFFFF !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home .latest-announcement .announcement-gallery .context header{
        text-align: justify;
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 22px !important;
        color: #FFFFFF !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .latest-announcement .announcement-gallery .context header{
        text-align: justify;
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        color: #FFFFFF !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .latest-announcement .announcement-gallery .context header{
        text-align: justify;
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 18px !important;
        color: #FFFFFF !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .latest-announcement .announcement-gallery .context header{
        text-align: justify;
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 16px !important;
        color: #FFFFFF !important;
    }
}

.home .latest-announcement .announcement-gallery .context p{
    text-align: justify;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 28px !important;
    color: #FFFFFF;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home .latest-announcement .announcement-gallery .context p{
        text-align: justify;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 20px !important;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .latest-announcement .announcement-gallery .context p{
        text-align: justify;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .latest-announcement .announcement-gallery .context p{
        text-align: justify;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .latest-announcement .announcement-gallery .context p{
        text-align: justify;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #FFFFFF;
    }
}

.home .latest-intervention{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    max-height: 100vh;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background-color: #698F3F;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap;
}

.home .latest-intervention .intervention-gallery{
    margin-right: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.home .latest-intervention .intervention-gallery:last-child{
    margin-right: 0px !important;
}

.home .latest-intervention .intervention-gallery img{
    margin-right: 10px;
    width: 100%;
    height: 100%;
    place-items: center;
    object-fit: cover;
    filter: brightness(50%);
}

.home .latest-intervention .intervention-gallery img:hover{
    transform: scale(1.25);
}

.home .latest-intervention .intervention-gallery img:last-child{
    margin-right: 0px !important;
}

.home .latest-intervention .intervention-gallery .context{
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
}

.home .latest-intervention .intervention-gallery .context header{
    text-align: justify;
    font-family: "Philosopher" !important;
    font-weight: 700 !important;
    font-size: 36px !important;
    color: #FFFFFF !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home .latest-intervention .intervention-gallery .context header{
        text-align: justify;
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 22px !important;
        color: #FFFFFF !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .latest-intervention .intervention-gallery .context header{
        text-align: justify;
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        color: #FFFFFF !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .latest-intervention .intervention-gallery .context header{
        text-align: justify;
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 18px !important;
        color: #FFFFFF !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .latest-intervention .intervention-gallery .context header{
        text-align: justify;
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 16px !important;
        color: #FFFFFF !important;
    }
}

.home .latest-intervention .intervention-gallery .context p{
    text-align: justify;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 28px !important;
    color: #FFFFFF;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home .latest-intervention .intervention-gallery .context p{
        text-align: justify;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 20px !important;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .latest-intervention .intervention-gallery .context p{
        text-align: justify;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .latest-intervention .intervention-gallery .context p{
        text-align: justify;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .latest-intervention .intervention-gallery .context p{
        text-align: justify;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #FFFFFF;
    }
}

.home .context{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: grid;
}

.home .context header{
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 36px !important;
    color: #154360;
    text-align: justify;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .context header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 28px !important;
        color: #154360;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .context header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 26px !important;
        color: #154360;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .context header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 24px !important;
        color: #154360;
    }
}

.home .list a{
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    display: grid !important;
    background-color: #FFFFFF;
    text-decoration: none;
}

.home .list .field{
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home .list .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

.home .list .post-gallery{
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #698F3F;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap;
}

.home .list .post-gallery .gallery-photo{
    margin-right: 30px;
    width: 100%;
    height: 25vw;
    place-items: center;
    object-fit: cover;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
}

.home .list .post-gallery .gallery-photo:last-child{
    margin-right: 0px !important;
}

.home .list .field .column label[for = "user"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column label[for = "user"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column label[for = "user"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column label[for = "user"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.home .list .field .column .user{
    position: relative;
}

.home .list .field .column .user input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.home .list .field .column .user input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column .user input{
        padding-left: 10px !important;
        padding-right: 38px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column .user input{
        padding-left: 10px !important;
        padding-right: 36px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column .user input{
        padding-left: 10px !important;
        padding-right: 34px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.home .list .field .column .user i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column .user i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column .user i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column .user i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.home .list .field .column label[for = "capture-date"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column label[for = "capture-date"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column label[for = "capture-date"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column label[for = "capture-date"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.home .list .field .column .capture-date{
    position: relative;
}

.home .list .field .column .capture-date input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.home .list .field .column .capture-date input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column .capture-date input{
        padding-left: 10px !important;
        padding-right: 38px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column .capture-date input{
        padding-left: 10px !important;
        padding-right: 36px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column .capture-date input{
        padding-left: 10px !important;
        padding-right: 34px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.home .list .field .column .capture-date i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column .capture-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column .capture-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column .capture-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.home .list .field .column label[for = "location"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column label[for = "location"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column label[for = "location"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column label[for = "location"]{
        margin-top: 15px !important;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.home .list .field .column .location{
    position: relative;
}

.home .list .field .column .location input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.home .list .field .column .location input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column .location input{
        padding-left: 10px !important;
        padding-right: 38px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column .location input{
        padding-left: 10px !important;
        padding-right: 36px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column .location input{
        padding-left: 10px !important;
        padding-right: 34px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.home .list .field .column .location i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home .list .field .column .location i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home .list .field .column .location i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home .list .field .column .location i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}


.swal2-popup{
    padding-bottom: 15px !important;
    border-radius: 5px !important;
    border: 1px solid #B2BEB5 !important; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
}

.swal2-popup .swal2-styled:focus{
    box-shadow: none !important;
}

div:where(.swal2-container) .swal2-html-container{
    padding: 10px 30px 0em 30px !important;
    margin: 0px !important;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    div:where(.swal2-container) .swal2-html-container{
        padding: 10px 30px 0em 30px !important;
        margin: 0px !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    div:where(.swal2-container) .swal2-html-container{
        padding: 10px 30px 0em 30px !important;
        margin: 0px !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    div:where(.swal2-container) .swal2-html-container{
        padding: 10px 30px 0em 30px !important;
        margin: 0px !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

div:where(.swal2-icon){
    margin: 15px auto 0em auto !important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring{
    border: 0.25em solid #698F3F !important;
}

div:where(.swal2-icon).swal2-success [class ^= swal2-success-line]{
    background-color: #698F3F !important;
}

div:where(.swal2-icon).swal2-error [class ^= swal2-x-mark-line]{
    background-color: #C90016 !important;
}

div:where(.swal2-container) h2:where(.swal2-title){
    padding: 15px 30px 0em 30px !important;
}

.title{
    font-family: "Philosopher" !important;
    font-weight: 700 !important;
    font-size: 22px !important;   
    color: #154360 !important;
    pointer-events: none !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .title{
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 20px !important;   
        color: #154360 !important;
        pointer-events: none !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .title{
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
        pointer-events: none !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .title{
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
        pointer-events: none !important;
    }
}

div:where(.swal2-container) div:where(.swal2-actions){
    margin: 15px auto 0 !important;
}

.swal2-actions{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: fit-content !important;
}

.info-button{
    visibility: hidden;
    font-size: 0px !important;
}

.info-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #154360 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.info-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .info-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        background-color: #154360 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .info-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        background-color: #154360 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .info-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #154360 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

.success-button{
    visibility: hidden;
    font-size: 0px !important;
}

.success-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #698F3F !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.success-button:hover{
    background-color: #557433 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .success-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .success-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .success-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

.error-button{
    visibility: hidden;
    font-size: 0px !important;
}

.error-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #C90016 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.error-button:hover{
    background-color: #A00011 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .error-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        background-color: #C90016 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .error-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        background-color: #C90016 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .error-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #C90016 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}