{% extends "officer/statistics/index/index.html" %}
{% load static %}

{% block content %}
<div class = "post">
    <div class = "card-header">
        <header>Posts</header>
    </div>

    <div class = "card-body">
        <div class = "field">
            <div class = "column">
                <label for = "post-date">Newest Date</label> 

                <div class = "post-date">
                    <input type = "text" value = "{{post_date | date:'M. j, Y' | default:'None available'}}" id = "post-date" name = "post_date" readonly>

                    <i class = "fa-solid fa-calendar-day"></i>
                </div>  
            </div>
            
            <div class = "column">
                <label for = "posts">Post Count</label> 
                    
                <div class = "posts">
                    <input type = "text" value = "{{posts.count | default:'0'}}" id = "posts" name = "posts" readonly>
                        
                    <i class = "fa-solid fa-arrow-up-wide-short"></i>
                </div>
            </div>
        </div>

        <div class = "button">
            <a class = "check-posts" href = "#">Check</a>
        </div>    
    </div>
</div>

<div class = "status">
    <div class = "card-header">
        <header>Statuses</header>
    </div>

    <div class = "card-body">
        <div class = "field">
            <div class = "column">
                <label for = "status-date">Newest Date</label> 

                <div class = "status-date">
                    <input type = "text" value = "{{status_date | date:'M. j, Y' | default:'None available'}}" id = "status-date" name = "status_date" readonly>

                    <i class = "fa-solid fa-calendar-day"></i>
                </div>  
            </div>
            
            <div class = "column">
                <label for = "statuses">Status Count</label> 
                    
                <div class = "statuses">
                    <input type = "text" value = "{{statuses.count | default:'0'}}" id = "statuses" name = "statuses" readonly>
                        
                    <i class = "fa-solid fa-arrow-up-wide-short"></i>
                </div>
            </div>
        </div>

        <div class = "button">
            <a class = "check-statuses" href = "{% url 'Officer Statistics Status' %}">Check</a>
        </div>    
    </div>
</div>

<div class = "intervention">
    <div class = "card-header">
        <header>Interventions</header>
    </div>

    <div class = "card-body">
        <div class = "field">
            <div class = "column">
                <label for = "intervention-date">Newest Date</label> 

                <div class = "intervention-date">
                    <input type = "text" value = "{{intervention_date | date:'M. j, Y' | default:'None available'}}" id = "intervention-date" name = "intervention_date" readonly>

                    <i class = "fa-solid fa-calendar-day"></i>
                </div>  
            </div>
            
            <div class = "column">
                <label for = "interventions">Intervention Count</label> 
                    
                <div class = "interventions">
                    <input type = "text" value = "{{interventions.count | default:'0'}}" id = "interventions" name = "interventions" readonly>
                        
                    <i class = "fa-solid fa-arrow-up-wide-short"></i>
                </div>
            </div>
        </div>

        <div class = "button">
            <a class = "check-interventions" href = "{% url 'Officer Statistics Intervention' %}">Check</a>
        </div>    
    </div>
</div>

{% if messages %}
{% for message in messages %}
    {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
    {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
    {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
    {% endif %}    
{% endfor %}
{% endif %}

<script type = "text/javascript">if (window.location.hash && window.location.hash === "#_=_"){ window.location.hash = ""; history.pushState("", document.title, window.location.pathname);}</script>
{% endblock content %}