{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "resource" id = "link">
        <div class = "card-header">
            <header>Resource links</header>
        </div>

        <div class = "card-body">
            <div class = "field">
                <div class = "column">
                    <label for = "links-date">Newest Date</label> 

                    <div class = "links-date">
                        <input type = "text" value = "{{links_date.capture_date | date:'M. j, Y g:i a' | default:'None available'}}" id = "links-date" name = "links_date" readonly>

                        <i class = "fa-solid fa-calendar-day"></i>
                    </div>  
                </div>
                
                <div class = "column">
                    <label for = "resource-links">Resources Count</label> 
                        
                    <div class = "resource-links">
                        <input type = "text" value = "{{resource_links.count | default:'0'}}" id = "resource-links" name = "resource_links" readonly>
                            
                        <i class = "fa-solid fa-arrow-up-wide-short"></i>
                    </div>
                </div>
            </div>

            <div class = "button">
                <a class = "browse-links" href = "{% url 'Contributor Service Resource Link' %}">Browse</a>
            </div>    
        </div>
    </div>

    <div class = "resource" id = "file">
        <div class = "card-header">
            <header>Resource files</header>
        </div>

        <div class = "card-body">
            <div class = "field">
                <div class = "column">
                    <label for = "files-date">Newest Date</label> 

                    <div class = "files-date">
                        <input type = "text" value = "{{files_date.capture_date | date:'M. j, Y g:i a' | default:'None available'}}" id = "files-date" name = "files_date" readonly>

                        <i class = "fa-solid fa-calendar-day"></i>
                    </div>  
                </div>

                <div class = "column">
                    <label for = "resource-files">Resources Count</label> 
                        
                    <div class = "resource-files">
                        <input type = "text" value = "{{resource_files.count | default:'0'}}" id = "resource-files" name = "resource_files" readonly>
                            
                        <i class = "fa-solid fa-arrow-up-wide-short"></i>
                    </div>
                </div>
            </div>

            <div class = "button">
                <a class = "browse-files" href = "{% url 'Contributor Service Resource File' %}">Browse</a>
            </div>    
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
            
            {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
            
            {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
            
            {% endif %}    
        {% endfor %}
    {% endif %}
{% endblock content %}