{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
<div class = "resource-body">
    <div class = "resource-section">
        <h1>RESOURCES</h1>
    </div>

    <div class = "resource">
        {% for resource in resource_links %}
            <a href = "{% url 'Service Resource Link Read Redirect' resource.id %}" class = "resource-context">
                <h3>{{resource.resource.title | default:'None available'}}</h3>
                
                <i class = "fa-solid fa-play"></i>
            </a>
        {% endfor %}

        {% for resource in resource_files %}
            <a href = "{% url 'Service Resource File Read Redirect' resource.id %}" class = "resource-context">
                <h3>{{resource.resource.title | default:'None available'}}</h3>
                
                <i class = "fa-solid fa-play"></i>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}