
::placeholder{
    color: #646464;
}

.report-body{
    position: relative;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    color: #000000;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}

.report-body .report-section{
    display: flex;                   
    align-items: center; 
    justify-content: center;          
    flex-direction: column;
    width: 100%;                     
    text-align: center;                                   
}

.report-body .report-section img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
}

.report-body .report-section h1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Montserrat";    
    font-weight: 700;       
    font-size: 15px; 
    margin-bottom: 10px;    
    color: #000000;   
    text-align: center;  
}

.report-body .report-section p{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px !important;
    color: #000000;
    text-transform: uppercase;
}

.report-body .report-form{
    width: 100% !important;
}

.report-body .report-form .controls-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .controls-wrapper .control-section.capture{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
    background-color: #3c6bd1;
    color: #FFFFFF;
    cursor: pointer;
}

.report-body .report-form .controls-wrapper .control-section.choose{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
    background-color: #1e78a8;
    color: #FFFFFF;
    cursor: pointer;
}

.report-body .report-form .controls-wrapper .control-section i{
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}

.report-body .report-form .controls-wrapper .control-section label{
    width: 100%;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF !important;
    text-align: center;
    cursor: pointer;  
}

.report-body .report-form .controls-wrapper .control-section input.invisible-input-capture{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.report-body .report-form .controls-wrapper .control-section input.invisible-input-choose{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.report-body .report-form .capture-date{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
}

.report-body .report-form .capture-date label{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    color: #000000 !important;
}

.report-body .report-form .capture-date input[type = "datetime-local"]::-webkit-inner-spin-button{
    display: none !important;
}

.report-body .report-form .capture-date input[type = "datetime-local"]::-webkit-calendar-picker-indicator{
    opacity: 0 !important;
}

.report-body .report-form .capture-date input[type = "datetime-local"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
    appearance: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 14px !important;   
    color: #000000 !important;
    background: url("data: image/svg+xml; utf8, <svg xmlns = 'http://www.w3.org/2000/svg' width = '20' height = '20' viewBox = '0 0 448 512' fill = '%23154360'> <path d = 'M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192zM224 248c13.3 0 24 10.7 24 24v56h56c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v56c0 13.3-10.7 24-24 24s-24-10.7-24-24V376H144c-13.3 0-24-10.7-24-24s10.7-24 24-24h56V272c0-13.3 10.7-24 24-24z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center; 
}

.report-body .report-form .capture-date input[type = "datetime-local"]:focus{
    border-color: #003755;
}

.report-body .report-form h1{
    text-align: center;     
    font-weight: 700;       
    font-size: 22px;  
    font-family: "Montserrat";      
}

.report-body .report-form .map:has(.report-map){ 
    width: 100%;
    height: 250px;
}

.report-body .report-form .report-map{
    margin-top: 0px;
    min-width: 100%;
    height: 250px;
    border-radius: 5px; 
    z-index: 1;
}

.report-body .report-form .barangay{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .barangay label{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    color: #000000 !important;
}

.report-body .report-form .barangay select{
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
}

.report-body .report-form .municipality{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .municipality label{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    color: #000000 !important;
}

.report-body .report-form .municipality select{
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
}

.report-body .report-form .description{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .description label{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    color: #000000 !important;
}

.report-body .report-form .description textarea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
    color: #646464;
}

.report-body .report-form .size{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .size label{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    color: #000000 !important;
}

.report-body .report-form .size select{
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
    color: #646464;
}

.report-body .report-form .density{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .density label{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    color: #000000 !important;
}

.report-body .report-form .density input{
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
    color: #646464;
}

.report-body .report-form .depth{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .depth label{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    color: #000000 !important;
}

.report-body .report-form .depth select{
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
    color: #646464;
}

.report-body .report-form .weather{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .weather label{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 14px;
    color: #000000 !important;
}

.report-body .report-form .weather select{
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
    color: #646464;
}

.report-body .report-form .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .save-report{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF !important;
    background-color: #2578a5;
    text-align: center;
    cursor: pointer;
}

.report-body .report-form .save-report button{
    border: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF !important;
    background: none;
}

.report-body .report-form .next-report{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF !important;
    background-color: #006aa3;
    text-align: center;
    cursor: pointer;
    outline: none;
    appearance: none !important;
}

.report-body .report-form .next-report button{
    border: none !important;
    border: none !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF !important;
    background: none;
    outline: none !important;
    appearance: none !important;
}

.report-body .report-form .back-report{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #003755;
    text-align: center;
    cursor: pointer;
}

.report-body .report-form .back-report button{
    border: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF !important;
    background: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
    -webkit-text-fill-color: #003755;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill{
    background: #FFFFFF !important;
}

select::-ms-expand{
    display: none !important;
}

label.required::after{
    margin-left: 5px !important;
    content: "*" !important;
    color: red;
}

/* START TEXT INPUT */

.text-input, .select-input {
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    box-sizing: border-box;
  }

/* end   */