.report-body{
    position: relative;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    color: #000000;
}

.report-body .report-section{
    display: flex;                   
    align-items: center; 
    justify-content: center;          
    flex-direction: column;
    width: 100%;                     
    text-align: center;                                   
}

.report-body .report-section h1{
    text-align: center;     
    font-weight: 500;       
    font-size: 22px;  
    font-family: "Poppins";      
    letter-spacing: 2.5px;
}

.report-body .report-form{
    width: 100% !important;
}

.report-body .report-form .controls-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .controls-wrapper .control-section{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
    background-color: #003755;
    color: #FFFFFF;
    cursor: pointer;
}

.report-body .report-form .controls-wrapper .control-section i{
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.report-body .report-form .controls-wrapper .control-section label{
    width: 100%;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #003755 !important;
    text-align: center;
    cursor: pointer;  
}

.report-body .report-form .controls-wrapper .control-section input.invisible-input-capture{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.report-body .report-form .controls-wrapper .control-section input.invisible-input-choose{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.report-body .report-form .capture-date{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.report-body .report-form  .capture-date label{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form  .capture-date input[type = "datetime-local"]{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form .capture-date input[type = "datetime-local"]:focus{
    border-color: #003755;
}

.report-body .report-form h1{
    text-align: center;     
    font-weight: 500;       
    font-size: 22px;  
    font-family: "Poppins";      
    letter-spacing: 2.5px;
}

.report-body .report-form .map:has(.report-map){ 
    width: 100%;
    height: 250px;
}

.report-body .report-form .report-map{
    margin-top: 0px;
    min-width: 100%;
    height: 250px;
    border-radius: 5px; 
    z-index: 1;
}

.report-body .report-form .location{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .location input{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form .address{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .address select{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form .description{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .description textarea{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 250px;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form .size{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .size input{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form .density{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .density input{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form .depth{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .depth select{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form .weather{
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .weather select{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.report-body .report-form .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-body .report-form .save-report{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #003755;
    text-align: center;
    cursor: pointer;
}

.report-body .report-form .next-report{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #003755;
    text-align: center;
    cursor: pointer;
}

.report-body .report-form .back-report{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #003755;
    text-align: center;
    cursor: pointer;
}

.report-body .report-form .submit-report{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #003755;
    text-align: center;
    cursor: pointer;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
    -webkit-text-fill-color: #003755;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill{
    background: #FFFFFF !important;
}