{% extends "public/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "intervention-body">
        <div class = "intervention-section">
            <h1>ACTIVITIES</h1>
        </div>
    
        {% for intervention in interventions %}
            <div class = "intervention">
                <div class = "intervention-header">
                    <p><i class = "fas fa-user"></i>{{intervention.hosting_agency | default:'None available'}}</p>
                    
                    <p>{{intervention.intervention_date | date:'m/d/y' | default:'None available'}}</p>

                    <p>{{intervention.volunteer_amount | default:'0'}}</p>
                </div>
                
                <img class = "intervention-image" src = "{{intervention.intervention_photo.url | default:'None available'}}">

                <div class = "intervention-context">
                    <h1>{{intervention.title | default:'None available'}}</h1>
                    
                    <div class = "button">
                        <a href = "{% url 'Public Service Intervention Read' intervention.id %}">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
