{% extends "public/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "interventionread-body">
        <!-- <div class = "interventionread-section">
            <h1>ACTIVITY DETAILS</h1>
        </div> -->

        {% if intervention %}
            <div class = "interventionread">
                <div class = "interventionread-header">
                    <div class = "header-context">
                        <i class = "fa-solid fa-user"></i>

                        <div class = "context-caption">
                            <p>{{intervention.hosting_agency | default:'None available'}}</p>

                            <p>{{intervention.location | default:'None available'}}</p>
                        </div>
                    </div>

                    <p>{{intervention.event_date | date:'m/d/Y' | default:'None available'}}</p>
                </div>

                <!-- <h1>{{intervention.title | default:'None available'}}</h1> -->

                <div class = "interventionread-gallery">
                    <img src = "{{intervention.intervention_photo.url}}">
                </div>

                <div class = "interventionread-origin">
                    <h1>Activity Details</h1>

                    <div class = "origin-context">
                        <p>Activity Date:</p>

                        <p>{{intervention.activity_date | default:'None available'}}</p>
                    </div>

                    <div class = "origin-context">
                        <p>Place:</p>

                        <p>{{intervention.place | default:'None available'}}</p>
                    </div>

                    <div class = "origin-context">
                        <p>Infestation Status:</p>
    
                        <p>{{intervention.statustype | default:'None available'}}</p>
                    </div>

                    <div class = "origin-context">
                        <p>COTS Collected:</p>
    
                        <p>{{intervention.caught_amount | default:'0'}}</p>
                    </div>
    
                    <div class = "origin-context">
                        <p>Volunteer Count:</p>
    
                        <p>{{intervention.volunteer_amount | default:'0'}}</p>
                    </div>
                </div>

                <div class = "interventionread-description">
                    <h1>Activity Description</h1>
    
                    <div class = "description-context">
                        <p>{{intervention.details | default:'None available'}}</p>
                    </div>
                </div>

                <div class = "button">
                    <a class = "share-intervention" target = "blank">Share</a>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        {% if intervention %}
            const link = encodeURI("{{scheme}}://{{host}}{% url 'Public Service Intervention Read' intervention.id %}");

            const facebook = document.querySelector(".share-intervention");

            facebook.href = "https://www.facebook.com/share.php?u=" + link;
        {% endif %}
    </script>
{% endblock content %}