{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "fixed inset-0 z-[-10] h-screen w-full">
        <img src = "/statics/assets/bg-2.jpg" class = "h-full w-full object-cover top-[-5rem]">
    </div>


    <div class = "my-[2rem] flex flex-col w-full px-[1.8rem] items-center justify-center relative text-center">
        <h1 class = "font-bold text-[3rem] text-white text-center">COTSEYE</h1>
    </div>

    <script>
        document.querySelector(".filter-posts").onclick = function () {
            document.querySelector(".post-form").submit();
        }
    </script>


    {% for post in valid_posts %}
        <div class = "w-full mb-[2rem] border-2 rounded-lg px-4 bg-white">
            <div class="flex w-full flex-col min-[450px]:flex-row min-[450px]:justify-between my-2">
                <p class="flex items-center gap-2 text-[#003755]"><i class="fa-solid fa-user"></i>{{post.user | default:'None available'}}</p>

                <p class="flex items-center gap-2 text-[#003755]"><i class="fa-solid fa-calendar-check"></i>{{post.capture_date | default:'None available'}}</p>
            </div>


            <div class = "flex items-center justify-center">
                <div class = "w-full flex justify-center flex-col items-center">
                    <div class = "w-full h-full flex justify-start flex-col items-start relative">
                        <img class = "h-[18rem] w-full object-cover" src= "{{post.post_photos.first.post_photo.url | default:'None available'}}">

                        <div class="w-full flex items-center absolute bg-black bg-opacity-70 text-white bottom-0 p-4 h-[30%]">
                            <h1 class="font-semibold text-lg min-[490px]:text-2xl">{{post.description | default:'None available'}}</h1>
                        </div>
                    </div>

                    <div class = "flex justify-center w-full my-[2rem]">
                        <a href = "{% url 'Contributor Service Post Feed Read' post.id %}"><button class = "w-[10rem] bg-[#003755] hover:bg-white hover:border-[#003755] border-2 p-2 rounded-full font-bold text-white hover:text-[#003755]">Read More</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}