{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "feed-body">
        <!-- <div class = "feed-section">
            <h1>POSTS FEED</h1>
        </div> -->
    
        {% for post in valid_posts %}
            <div class = "feed">
                <div class = "feed-header">                    
                    <div class = "header-context">
                        <img src = "{{post.user.profile_photo.url}}">

                        <div class = "context-caption">
                            <p>{{post.user | default:'None available'}}</p>

                            <p>{{post.location | default:'None available'}}</p>
                        </div>
                    </div>

                    <div class = "header-context">
                        <p>{{post.creation_date | date:'m/d/Y' | default:'None available'}}</p>

                        <p>{{post.post_status | default:'None available'}}</p>
                    </div>
                </div>

                <!-- <h1>{{post.description | default:'None available'}}</h1> -->
                
                <a href = "{% url 'Contributor Service Post Feed Read' post.id %}">
                    <img class = "feed-image" src = "{{post.post_photos.first.post_photo.url | default:'None available'}}">
                </a>

                <!-- <div class = "feed-context">
                    <h1><i class="fa-solid fa-location-dot"></i>{{post.location | default:'None available'}}</h1>
                    
                    <div class = "button">
                        <a href = "{% url 'Contributor Service Post Feed Read' post.id %}">See more</a>
                    </div>
                </div> -->
            </div>
        {% endfor %}
    </div>
{% endblock content %}
