{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "post" id = "invalid-filter">
        <form action = "" class = "post-form" method = "GET">
            {% csrf_token %}

            <div class = "card-header">
                <header>Filter invalid posts</header>
            </div>

            <div class = "card-body">
                <div class = "field">
                    <div class = "column">
                        <label for = "from-date">From</label> 
                            
                        <div class = "from-date">
                            <input type = "date" value = "" id = "from-date" name = "from_date" required>                            
                        </div>

                        <label for = "depth">Depth</label> 

                        <select name = "depth" id = "depth">
                            <option disabled selected value>Choose depth</option>

                            <option value = "each_depth">Each depth</option>

                            {% for option in options %}
                                <option value = "{{option.post_observation.depth.id}}">{{option.post_observation.depth}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class = "column">
                        <label for = "to-date">To</label> 

                        <div class = "to-date">
                            <input type = "date" value = "" id = "to-date" name = "to_date" required>                            
                        </div>  

                        <label for = "weather">Weather</label> 

                        <select name = "weather" id = "weather">
                            <option disabled selected value>Choose weather</option>

                            <option value = "each_weather">Each weather</option>

                            {% for option in options %}
                                <option value = "{{option.post_observation.weather.id}}">{{option.post_observation.weather}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class = "button">
                    <a class = "filter-posts" type = "submit">Filter</a>
                </div>    
            </div>
        </form>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
            
            {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
            
            {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
            
            {% endif %}    
        {% endfor %}
    {% endif %}

    <script>
        document.querySelector(".filter-posts").onclick = function() {
            document.querySelector(".post-form").submit();
        }
    </script>

    {% if results %}
        <div class = "line" id = "results"></div>

        {% for post in results %}
            <div class = "post" id = "invalid-results">
                <div class = "card-header" onclick = "toggleBody(this)">
                    <header class = "preview">{{post.description}}</header>
                </div>

                <div class = "card-body">
                    <div class = "field">
                        <div class = "column">
                            <label for = "capture-date">Capture Date</label> 

                            <div class = "capture-date">
                                <input type = "text" value = "{{post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}" id = "capture-date" name = "capture-date" readonly>

                                <i class = "fa-solid fa-calendar-day"></i>
                            </div>  
                        </div>

                        <div class = "column">
                            <label for = "coordinates">Coordinates</label> 
                                
                            <div class = "coordinates">
                                <input type = "text" value = "{{post.coordinates.latitude | default:'0'}}° N, {{post.coordinates.longitude | default:'0'}}° E" id = "coordinates" name = "coordinates" readonly>
                                    
                                <i class = "fa-solid fa-location-dot"></i>
                            </div>
                        </div>
                    </div>

                    <div class = "button">
                        <a class = "read-post" href = "{% url 'Contributor Service Post Invalid Read' post.id %}">Read</a>
                    </div>    
                </div>
            </div>
        {% endfor %}

    {% else %}
        <div class = "line" id = "records"></div>

        {% for post in records %}
            <div class = "post" id = "invalid-records">
                <div class = "card-header" onclick = "toggleBody(this)">
                    <header class = "preview">{{post.description}}</header>
                </div>

                <div class = "card-body">
                    <div class = "field">
                        <div class = "column">
                            <label for = "capture-date">Capture Date</label> 

                            <div class = "capture-date">
                                <input type = "text" value = "{{post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}" id = "capture-date" name = "capture-date" readonly>

                                <i class = "fa-solid fa-calendar-day"></i>
                            </div>  
                        </div>

                        <div class = "column">
                            <label for = "coordinates">Coordinates</label> 
                                
                            <div class = "coordinates">
                                <input type = "text" value = "{{post.coordinates.latitude | default:'0'}}° N, {{post.coordinates.longitude | default:'0'}}° E" id = "coordinates" name = "coordinates" readonly>
                                    
                                <i class = "fa-solid fa-location-dot"></i>
                            </div>
                        </div>
                    </div>

                    <div class = "button">
                        <a class = "read-post" href = "{% url 'Contributor Service Post Invalid Read' post.id %}">Read</a>
                    </div>    
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <script>
        function toggleBody(element){
            var body = element.nextElementSibling;
            
            if(body.style.display === "none" || body.style.display === ""){
                body.style.borderBottomLeftRadius = "5px";

                body.style.borderBottomTopRadius = "5px";
                
                body.style.display = "grid";
            
            } else{
                body.style.display = "none";
            };
        };
    </script>
{% endblock content %}