{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "post" id = "valid">
        <div class = "card-header">
            <header>Valid posts</header>
        </div>

        <div class = "card-body">
            <div class = "field">
                <div class = "column">
                    <label for = "valid-date">Newest Date</label> 

                    <div class = "valid-date">
                        <input type = "text" value = "{{valid_date.capture_date | date:'M. j, Y g:i a' | default:'None available'}}" id = "valid-date" name = "valid_date" readonly>

                        <i class = "fa-solid fa-calendar-day"></i>
                    </div>  
                </div>
                
                <div class = "column">
                    <label for = "valid-posts">Posts Count</label> 
                        
                    <div class = "valid-posts">
                        <input type = "text" value = "{{valid_posts.count | default:'0'}}" id = "valid-posts" name = "valid_posts" readonly>
                            
                        <i class = "fa-solid fa-arrow-up-wide-short"></i>
                    </div>
                </div>
            </div>

            <div class = "button">
                <a class = "browse-posts" href = "{% url 'Contributor Service Post Valid' %}">Browse</a>
            </div>    
        </div>
    </div>

    <div class = "post" id = "invalid">
        <div class = "card-header">
            <header>Invalid posts</header>
        </div>

        <div class = "card-body">
            <div class = "field">
                <div class = "column">
                    <label for = "invalid-date">Newest Date</label> 

                    <div class = "invalid-date">
                        <input type = "text" value = "{{invalid_date.capture_date | date:'M. j, Y g:i a' | default:'None available'}}" id = "invalid-date" name = "invalid_date" readonly>

                        <i class = "fa-solid fa-calendar-day"></i>
                    </div>  
                </div>

                <div class = "column">
                    <label for = "invalid-posts">Posts Count</label> 
                        
                    <div class = "invalid-posts">
                        <input type = "text" value = "{{invalid_posts.count | default:'0'}}" id = "invalid-posts" name = "invalid_posts" readonly>
                            
                        <i class = "fa-solid fa-arrow-up-wide-short"></i>
                    </div>
                </div>
            </div>

            <div class = "button">
                <a class = "browse-posts" href = "{% url 'Contributor Service Post Invalid' %}">Browse</a>
            </div>    
        </div>
    </div>

    <div class = "post" id = "uncertain">
        <div class = "card-header">
            <header>Uncertain posts</header>
        </div>

        <div class = "card-body">
            <div class = "field">
                <div class = "column">
                    <label for = "uncertain-date">Newest Date</label> 

                    <div class = "uncertain-date">
                        <input type = "text" value = "{{uncertain_date.capture_date | date:'M. j, Y g:i a' | default:'None available'}}" id = "uncertain-date" name = "uncertain_date" readonly>

                        <i class = "fa-solid fa-calendar-day"></i>
                    </div>  
                </div>

                <div class = "column">
                    <label for = "uncertain-posts">Posts Count</label> 
                        
                    <div class = "uncertain-posts">
                        <input type = "text" value = "{{uncertain_posts.count | default:'0'}}" id = "uncertain-posts" name = "uncertain_posts" readonly>
                            
                        <i class = "fa-solid fa-arrow-up-wide-short"></i>
                    </div>
                </div>
            </div>

            <div class = "button">
                <a class = "browse-posts" href = "{% url 'Contributor Service Post Uncertain' %}">Browse</a>
            </div>    
        </div>
    </div>

    <div class = "post" id = "draft">
        <div class = "card-header">
            <header>Draft posts</header>
        </div>

        <div class = "card-body">
            <div class = "field">
                <div class = "column">
                    <label for = "draft-date">Newest Date</label> 

                    <div class = "draft-date">
                        <input type = "text" value = "{{draft_date.capture_date | date:'M. j, Y' | default:'None available'}}" id = "draft-date" name = "draft_date" readonly>

                        <i class = "fa-solid fa-calendar-day"></i>
                    </div>  
                </div>

                <div class = "column">
                    <label for = "draft-posts">Posts Count</label> 
                        
                    <div class = "uncertain-posts">
                        <input type = "text" value = "{{draft_posts.count | default:'0'}}" id = "draft-posts" name = "draft_posts" readonly>
                            
                        <i class = "fa-solid fa-arrow-up-wide-short"></i>
                    </div>
                </div>
            </div>

            <div class = "button">
                <a class = "browse-posts" href = "{% url 'Contributor Service Post Draft' %}">Browse</a>
            </div>    
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
            
            {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
            
            {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
            
            {% endif %}    
        {% endfor %}
    {% endif %}
{% endblock content %}