.notification-body{
    position: relative;
    display: grid;
    place-items: start;
    width: 100%;
    height: 100%;
    color: #003755;
}

/* .notification-body .notification-section{
    display: flex;                   
    align-items: center; 
    justify-content: center;          
    width: 100%;     
    text-align: center;                     
}

.notification-body .notification-section h1{
    padding-bottom: 15px;
    font-family: "Montserrat"; 
    font-weight: 700;       
    font-size: 24px;
    color: #003755;     
}

@media screen and (min-width: 445px) and (max-width: 775px){
    .notification-body .notification-section h1{
        padding-bottom: 5px;
        font-size: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification-section h1{
        padding-bottom: 5px;
        font-size: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification-section h1{
        padding-bottom: 5px;
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification-section h1{
        padding-bottom: 5px;
        font-size: 16px;
    }
} */

.notification-body .notification{
    display: grid;
    grid-template-columns: 100%;
    height: 100% !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .notification-body .notification{
        grid-template-columns: 100%;
    }
}

.notification-body .notification .notification-item{
    display: grid;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: fit-content;
    overflow-y: auto;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .notification-body .notification .notification-item{
        gap: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.notification-body .notification .notification-item h1{
    font-family: "Montserrat"; 
    font-weight: 700;       
    font-size: 24px;
    color: #003755;  
}

@media screen and (min-width: 445px) and (max-width: 775px){
    .notification-body .notification .notification-item h1{
        font-size: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification .notification-item h1{
        font-size: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification .notification-item h1{
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item h1{
        font-size: 16px;
    }
}

.notification-body .notification .notification-item a:last-child{
    padding-bottom: 0px;
    border-bottom: unset;
}

.notification-body .notification .notification-item .notification-unread{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    white-space: wrap;
    background-color: #FFFFFF;
    text-decoration: none !important;
}

.notification-body .notification .notification-item .notification-unread:hover{
    color: #002C44 !important;
    background-color: #B2BEB5;
}

.notification-body .notification .notification-item .notification-unread:focus{
    color: #002C44 !important;
    background-color: #B2BEB5;
}

.notification-body .notification .notification-item .notification-unread:active{
    color: #002C44 !important;
    background-color: #B2BEB5;
}

.notification-body .notification .notification-item .notification-unread .item-header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.notification-body .notification .notification-item .notification-unread .item-header img{
    object-fit: cover;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .notification-body .notification .notification-item .notification-unread .item-header img{
        width: 28px;
        height: 28px;
    }
}

.notification-body .notification .notification-item .notification-unread .item-context p{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #003755;
    text-align: left;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-body .notification .notification-item .notification-unread .item-context p{
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification .notification-item .notification-unread .item-context p{
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification .notification-item .notification-unread .item-context p{
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item .notification-unread .item-context p{
        font-size: 12px;
    }
}

.notification-body .notification .notification-item .notification-unread .item-context p strong{
    font-weight: 700 !important;
}

.notification-body .notification .notification-item .notification-unread .item-context p strong:hover{
    color: #002C44 !important;
}

.notification-body .notification .notification-item .notification-unread .item-context p strong:focus{
    color: #002C44 !important;
}

.notification-body .notification .notification-item .notification-unread .item-context p strong:active{
    color: #002C44 !important;
}

.notification-body .notification .notification-item .notification-unread .item-header i{
    margin-left: 10px;
    font-size: 20px;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-body .notification .notification-item .notification-unread .item-header i{
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification .notification-item .notification-unread .item-header i{
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification .notification-item .notification-unread .item-header i{
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item .notification-unread .item-header i{
        font-size: 12px;
    }
}

.notification-body .notification .notification-item .notification-unread .button{
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: fit-content;
    height: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item .notification-unread .button{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.notification-body .notification .notification-item .notification-unread .button a{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 5px;
    outline: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF !important;
    background-color: #003755 !important;
    text-decoration: none;
    cursor: pointer;  
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-body .notification .notification-item .notification-unread .button a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification .notification-item .notification-unread .button a{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification .notification-item .notification-unread .button a{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item .notification-unread .button a{
        font-size: 12px !important;
    }
}

.notification-body .notification .notification-item .notification-read{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    white-space: wrap;
    color: #003755;
    background-color: #E7F4FD;
    text-decoration: none !important;
}

.notification-body .notification .notification-item .notification-read:hover{
    color: #003755;
    background-color: #E7F4FD;
}

.notification-body .notification .notification-item .notification-read:focus{
    color: #003755;
    background-color: #E7F4FD;
}

.notification-body .notification .notification-item .notification-read:active{
    color: #003755;
    background-color: #E7F4FD;
}

.notification-body .notification .notification-item .notification-read .item-header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.notification-body .notification .notification-item .notification-read .item-header img{
    object-fit: cover;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .notification-body .notification .notification-item .notification-read .item-header img{
        width: 28px;
        height: 28px;
    }
}

.notification-body .notification .notification-item .notification-read .item-context p strong{
    font-weight: 700 !important;
}

.notification-body .notification .notification-item .notification-read .item-context p strong:hover{
    color: #003755 !important;
}

.notification-body .notification .notification-item .notification-read .item-context p strong:focus{
    color: #003755 !important;
}

.notification-body .notification .notification-item .notification-read .item-context p strong:active{
    color: #003755 !important;
}

.notification-body .notification .notification-item .notification-read .item-context p{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #003755;
    text-align: left;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-body .notification .notification-item .notification-read .item-context p{
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification .notification-item .notification-read .item-context p{
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification .notification-item .notification-read .item-context p{
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item .notification-read .item-context p{
        font-size: 12px;
    }
}

.notification-body .notification .notification-item .notification-read .item-header i{
    margin-left: 10px;
    font-size: 20px;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-body .notification .notification-item .notification-read .item-header i{
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification .notification-item .notification-read .item-header i{
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification .notification-item .notification-read .item-header i{
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item .notification-read .item-header i{
        font-size: 12px;
    }
}

.notification-body .notification .notification-item .notification-read .button{
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: fit-content;
    height: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item .notification-read .button{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.notification-body .notification .notification-item .notification-read .button a{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 5px;
    outline: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #003755 !important;
    background-color: #E7F4FD !important;
    text-decoration: none;
    cursor: pointer;  
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-body .notification .notification-item .notification-read .button a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification .notification-item .notification-read .button a{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification .notification-item .notification-read .button a{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item .notification-read .button a{
        font-size: 12px !important;
    }
}

.notification-body .notification .notification-item p{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #003755;
    text-align: center;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-body .notification .notification-item p{
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-body .notification .notification-item p{
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-body .notification .notification-item p{
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-body .notification .notification-item p{
        font-size: 12px;
    }
}