@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: #698F3F #154360 !important;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #10354C !important; 
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #698F3F !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #557433 !important;
}

::-webkit-scrollbar-button{
    width: 0px !important;
    display: none !important;
}

::-moz-scrollbar-button{
    width: 0px !important;
    display: none !important;
}


.announcement{
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-column: 1;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
}

.announcement .card-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    display: grid;
    gap: 15px;
    background-color: #FFFFFF;
}

.announcement .card-body header{
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 48px !important;
    color: #154360;
    text-align: center;
    white-space: normal !important; 
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .announcement .card-body header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 36px !important;
        color: #154360;
        text-align: center;
        white-space: normal !important; 
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .announcement .card-body header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 28px !important;
        color: #154360;
        text-align: center;
        white-space: normal !important; 
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .announcement .card-body header{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 26px !important;
        color: #154360;
        text-align: center;
        white-space: normal !important; 
    }
}

.announcement .card-body p i{
    margin-right: 10px;
    font-size: 20px;
    color: #154360;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .announcement .card-body p i{
        margin-right: 10px;
        font-size: 18px;
        color: #154360;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .announcement .card-body p i{
        margin-right: 10px;
        font-size: 16px;
        color: #154360;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .announcement .card-body p i{
        margin-right: 10px;
        font-size: 14px;
        color: #154360;
    }
}

.announcement .card-body img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    align-items: center;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
}

.announcement .card-body p{
    width: 100%;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #154360 !important;
    text-align: justify;
    white-space: normal;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .announcement .card-body p{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #154360;
        text-align: justify;
        white-space: normal; 
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .announcement .card-body p{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #154360;
        text-align: justify;
        white-space: normal; 
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .announcement .card-body p{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #154360;
        text-align: justify;
        white-space: normal; 
    }
}

.announcement .card-body .buttons{
    margin-left: auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: fit-content;
    height: 100% !important;
}

.announcement .card-body .buttons a.share-announcement{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: 1px solid #B2BEB5; 
    border-radius: 5px;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF !important;
    background-color: #154360 !important;
    text-decoration: none;
    cursor: pointer;
}

.announcement .card-body .buttons a.share-announcement:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .announcement .card-body .buttons a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .announcement .card-body .buttons a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .announcement .card-body .buttons a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}