{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
<div class = "profile w-full mb-[2rem]">
    <div class = "flex flex-col">
        <div class = "flex justify-center items-center">
            <div class = "w-[10rem] h-[10rem] rounded-full overflow-hidden">
                <img src = "{{user.profile_photo.url}}">
            </div>
        </div>

        <div class = "flex justify-center items-center flex-col">
            <p class = "text-2xl text-black">{{user.account.username}}</p>
            
            <div class="w-[80%] border-2 my-4 border-white"></div>
            
            <p class = "text-blaxk uppercase">{{user.account.usertype}}</p>
        </div>
    </div>

    <div class = "w-full flex flex-col justify-start items-start mt-[2rem]">
        <div class = "flex flex-col text-black w-full">
            <label class = "my-1">Firstname</label>
            
            <span class = "block border-2 border-white p-2 text-black font-semibold w-full break-words">
                {{user.first_name | default:'None available'}}
            </span>
        </div>

        <div class="flex flex-col text-black w-full mt-[0.8rem]">
            <label class = "my-1">Lastname</label>
            
            <span class = "block border-2 border-white p-2 text-black font-semibold w-full break-words">
                {{user.last_name | default:'None available'}}
            </span>
        </div>

        <div class = "flex flex-col text-black w-full mt-[0.8rem]">
            <label class="my-1">Email</label>

            <span class = "block border-2 border-white p-2 text-black font-semibold w-full break-words">
                {{user.email | default:'None available'}}
            </span>
        </div>

        <div class = "flex flex-col text-black w-full mt-[0.8rem]">
            <label class = "my-1">Phone Number</label>

            <span class = "block border-2 border-white p-2 text-black font-semibold w-full break-words">
                {{user.phone_number | default:'None available'}}
            </span>
        </div>
    </div>

    <div class="flex flex-col min-[370px]:flex-row min-[370px]:justify-end gap-2 w-full my-4">
        <a href = "{% url 'Contributor Service Profile Update' %}"><button class = "min-[370px]:w-[8rem] w-full bg-[#003755] text-white p-3 rounded-full border-2 border-white">UPDATE</button></a>

        <!-- <a href = "{% url 'Contributor Service Logout' %}"><button class = "min-[370px]:w-[8rem] w-full bg-black text-white p-3 rounded-full">LOGOUT</button></a> -->
    </div>
</div>

<!-- <div class = "posts">
    <div class = "post-choices">
        <h1 class = "font-bold text-[3rem] text-black text-center">MY POSTS</h1>

        <div>
            <button onclick = "showDropdownOptions()" class="flex flex-row justify-between px-2 py-2 text-black rounded-md shadow focus:outline-none focus:border-[#003755]">
                <span class = "text-black text-2xl"><i class="fa-solid fa-sliders"></i></span>
            </button>

            <form action = "" class = "post-form" method = "GET">
                {% csrf_token %}

                <div id = "options" class = "hidden">
                    <a name = "post_status" href = "?post_status=1" type = "submit" class = "filter-posts block px-4 py-2 text-gray-800 hover:text-[#003755]">Valid Posts</a>
                    
                    <a name = "post_status" href = "?post_status=2" type = "submit" class = "filter-posts block px-4 py-2 text-gray-800 hover:text-[#003755]">Invalid Posts</a>

                    <a name = "post_status" href = "?post_status=3" type = "submit" class = "filter-posts block px-4 py-2 text-gray-800 hover:text-[#003755]">Pending Posts</a>
                </div>
            </form>
        </div>
    </div>

    <div class = "post-status">
        <h1 class = "font-bold border-l-4 border-white pl-2 text-white">VALID, INVALID or PENDING</h1>
    </div>

    {% if results %}
        {% for post in results %}
            <div class = "post">
                <div class = "w-full">
                    <a href = "{% url 'Contributor Service Post Read' post.id %}">
                        <div style = "padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #333;">
                            <div class = "origin">
                                <h1 class = "font-semibold flex gap-2 items-center text-[#003755]"><i class = "fa-regular fa-user"></i>@{{post.user | default:'None available'}}<h1>
                                
                                <p class = "font-semibold flex gap-2 items-center text-[#003755]"> <i class = "fa-solid fa-calendar-days"></i>{{post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}</p>
                            </div>

                            <div class="relative w-full h-full">
                                {% for post_photo in post.post_photos.all %}
                                    <img class = "w-full h-[18rem] object-cover" src = "{{post.post_photos.first.post_photo.url | default:'/statics/assets/posts/default.png'}}">
                                {% endfor %}

                                <p class = "font-semibold absolute bottom-0 h-[4rem] bg-black bg-opacity-75 w-full flex items-center text-white text-2xl px-2">{{post.coordinates | default:'None available'}}</p>
                            </div>

                            <button class = "button my-[1rem] border-2 w-full min-[320px]:w-[15rem] h-[3rem] bg-[#003755] text-white font-bold hover:bg-white hover:border-[#003755] hover:text-[#003755] text-center cursor-pointer px-4 rounded-full">SEE MORE</button>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        {% for post in records %}
            <div class = "post">
                <div class = "w-full ">
                    <a href = "{% url 'Contributor Service Post Read' post.id %}">
                        <div style = "padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #333;">
                            <div class = "origin">
                                <h1 class = "font-semibold flex gap-2 items-center text-[#003755]"><i class = "fa-regular fa-user"></i>@{{post.user | default:'None available'}}<h1>
                                
                                <p class = "font-semibold flex gap-2 items-center text-[#003755]"> <i class = "fa-solid fa-calendar-days"></i>{{post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}</p>
                            </div>

                            <div class = "relative w-full h-full">
                                {% for post_photo in post.post_photos.all %}
                                    <img class = "w-full h-[18rem] object-cover" src = "{{post.post_photos.first.post_photo.url | default:'/statics/assets/posts/default.png'}}">
                                {% endfor %}

                                <p class = "text-lg min-[490px]:text-2xl font-semibold absolute bottom-0 h-[5rem] bg-black bg-opacity-75 w-full flex items-center text-white px-2">{{post.coordinates | default:'None available'}}</p>
                            </div>

                            <button class = "button">SEE MORE</button>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div> -->

<script>
    function showDropdownOptions(){
        document.getElementById("options").classList.toggle("hidden");
    }
</script>
{% endblock content %}