{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "profile">
        <div class = "card-body">
            <img src = "{{user.profile_photo.url}}">                
                    
            <p>{{user.account.username}}</p>

            <div class = "field">
                <div class = "column">
                    <label for = "user-id">User ID</label>
                    
                    <div class = "user-id">
                        <input type = "text" value = "{{user.account.id}}" id = "user-id" name = "user_id" readonly>
                    
                        <i class = "fa-solid fa-user-tag"></i>
                    </div>

                    <label for = "usertype">User Type</label>

                    <div class = "usertype">                    
                        <input type = "text" value = "{{user.account.usertype}}" id = "usertype" name = "usertype" readonly>
                    
                        <i class = "fa-solid fa-user-group"></i>
                    </div>

                    <label for = "first-name">First Name</label>

                    <div class = "first-name">
                        <input type = "text" value = "{{user.first_name | default:'None available'}}" id = "first-name" name = "first_name" readonly>

                        <i class = "fa-solid fa-id-card"></i>
                    </div>

                    <label for = "last-name">Last Name</label>

                    <div class = "last-name">
                        <input type = "text" value = "{{user.last_name | default:'None available'}}" id = "last-name" name = "last_name" readonly>

                        <i class = "fa-solid fa-id-card"></i>
                    </div>
                </div>

                <div class = "column">
                    <label for = "email">Email</label>

                    <div class = "email">
                        <input type = "email" value = "{{user.email | default:'None available'}}" id = "email" name = "email" readonly>

                        <i class = "fa-solid fa-envelope"></i>
                    </div>

                    <label for = "phone-number">Phone Number</label>

                    <div class = "phone-number">
                        <input type = "text" value = "{{user.phone_number | default:'None available'}}" id = "phone-number" name = "phone_number" readonly>

                        <i class = "fa-solid fa-phone"></i>
                    </div>

                    <label for = "joined-date">Joined Date</label>

                    <div class = "joined-date">
                        <input type = "text" value = "{{user.joined_date | date:'M. j, Y, g:i a'}}" id = "joined-date" name = "joined_date" readonly>

                        <i class = "fa-solid fa-calendar-check"></i>
                    </div>

                    <label for = "last-login">Last Login</label>

                    <div class = "last-login">
                        <input type = "text" value = "{{user.account.last_login}}" id = "last-login" name = "last_login" readonly>

                        <i class = "fa-solid fa-right-to-bracket"></i>
                    </div>
                </div>
            </div>

            <div class = "button">
                <a class = "update-profile" href = "{% url 'Contributor Service Profile Update' %}">Update</a>
            </div>   
        </div>
    </div>
{% endblock content %}