{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}

<div class = "fixed inset-0 z-[-10] h-screen w-full bg-[#003755]">
</div>


<div class = "w-full mb-[2rem]">
    <div class = "flex flex-col">
        <div class = "flex justify-center items-center">
            <div class = "w-[10rem] h-[10rem] rounded-full overflow-hidden">
                <img src = "{{user.profile_photo.url}}">
            </div>
        </div>

        <div class = "flex justify-center items-center flex-col">
            <p class = "text-2xl text-white">{{user.account.username}}</p>
            
            <div class="w-[80%] border-2 my-4 border-white"></div>
            
            <p class = "text-white uppercase">{{user.account.usertype}}</p>
        </div>
    </div>

    <div class = "w-full flex flex-col justify-start items-start mt-[2rem]">
        <div class = "flex flex-col text-white w-full">
            <label class = "my-1">Firstname</label>
            
            <span class = "block border-2 border-white p-2 text-white font-semibold w-full break-words">
                {{user.first_name | default:'None available'}}
            </span>
        </div>

        <div class="flex flex-col text-white w-full mt-[0.8rem]">
            <label class = "my-1">Lastname</label>
            
            <span class = "block border-2 border-white p-2 text-white font-semibold w-full break-words">
                {{user.last_name | default:'None available'}}
            </span>
        </div>

        <div class = "flex flex-col text-white w-full mt-[0.8rem]">
            <label class="my-1">Email</label>

            <span class = "block border-2 border-white p-2 text-white font-semibold w-full break-words">
                {{user.email | default:'None available'}}
            </span>
        </div>

        <div class = "flex flex-col text-white w-full mt-[0.8rem]">
            <label class = "my-1">Phone Number</label>

            <span class = "block border-2 border-white p-2 text-white font-semibold w-full break-words">
                {{user.phone_number | default:'None available'}}
            </span>
        </div>
    </div>

    <div class="flex flex-col min-[370px]:flex-row min-[370px]:justify-end gap-2 w-full my-4">
        <a href = "{% url 'Contributor Service Profile Update' %}"><button class = "min-[370px]:w-[8rem] w-full bg-[#003755] text-white p-3 rounded-full border-2 border-white">UPDATE</button></a>

        <a href = "{% url 'Contributor Service Logout' %}"><button class = "min-[370px]:w-[8rem] w-full bg-black text-white p-3 rounded-full">LOGOUT</button></a>
    </div>
</div>

<div class = "h-screen w-dvw bg-[#0C0C0C] p-[2rem] block">
    <div class = "my-[2rem] flex flex-col w-full px-[1.8rem] items-center justify-center relative text-center ">
        <h1 class = "font-bold text-[3rem] text-white text-center">MY POSTS</h1>

        <div class="p-2 min-[360px]:absolute right-5">
            <button onclick = "showDropdownOptions()" class="flex flex-row justify-between px-2 py-2 text-white rounded-md shadow focus:outline-none focus:border-[#003755]">
                <span class = "text-white text-2xl"><i class="fa-solid fa-sliders"></i></span>
            </button>

            <form action = "" class = "post-form" method = "GET">
                {% csrf_token %}

                <div id = "options" class = "hidden absolute left-[-9rem] z-20 w-48 py-2 mt-[1rem] bg-white rounded-lg shadow-xl">
                    <a name = "post_status" href = "?post_status=1" type = "submit" class = "filter-posts block px-4 py-2 text-gray-800 hover:text-[#003755]">Valid Posts</a>
                    
                    <a name = "post_status" href = "?post_status=2" type = "submit" class = "filter-posts block px-4 py-2 text-gray-800 hover:text-[#003755]">Invalid Posts</a>

                    <a name = "post_status" href = "?post_status=3" type = "submit" class = "filter-posts block px-4 py-2 text-gray-800 hover:text-[#003755]">Pending Posts</a>
                </div>
            </form>
        </div>
    </div>

    <div class = "w-full flex justify-start items-start">
        <h1 class = "font-bold border-l-4 border-white pl-2 text-white">VALID, INVALID or PENDING</h1>
    </div>

    {% if results %}
        {% for post in results %}
            <div class = "border-2 min-h-[20rem] w-full rounded-2xl mt-[2rem] p-4 bg-white">
                <div class = "w-full">
                    <a href = "{% url 'Contributor Service Post Read' post.id %}">
                        <div class = "flex items-center w-full gap-2 h-full p-2 flex-col">
                            <div class = "flex w-full flex-col min-[320px]:flex-column min-[320px]:justify-between my-2">
                                <h1 class = "font-semibold flex gap-2 items-center text-[#003755]"><i class = "fa-regular fa-user"></i>@{{post.user | default:'None available'}}<h1>
                                
                                    <p class = "font-semibold flex gap-2 items-center text-[#003755]"> <i class = "fa-solid fa-calendar-days"></i>{{post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}</p>
                            </div>

                            <div class="relative w-full h-full">
                                {% for post_photo in post.post_photos.all %}
                                    <img class = "w-full h-[15rem] object-cover" src = "{{post_photo.post_photo.url}}">
                                {% endfor %}

                                <p class = "font-semibold absolute bottom-0 h-[4rem] bg-black bg-opacity-75 w-full flex items-center text-white text-2xl px-2">{{post.coordinates | default:'None available'}}</p>
                            </div>

                            <button class = "my-[1rem] border-2 w-full min-[320px]:w-[15rem] h-[3rem] bg-[#003755] text-white font-bold hover:bg-white hover:border-[#003755] hover:text-[#003755] text-center cursor-pointer px-4 rounded-full">READ MORE</button>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        {% for post in records %}
            <div class = "border-2 min-h-[20rem] w-full rounded-2xl mt-[2rem] p-4 bg-white">
                <div class = "w-full ">
                    <a href = "{% url 'Contributor Service Post Read' post.id %}">
                        <div class = "flex items-center w-full gap-2 h-full p-2 flex-col">
                            <div class = "flex w-full flex-col min-[320px]:flex-row min-[320px]:justify-between my-2">
                                <h1 class = "font-semibold flex gap-2 items-center text-[#003755]"><i class = "fa-regular fa-user"></i>@{{post.user | default:'None available'}}<h1>
                                <p class = "font-semibold flex gap-2 items-center text-[#003755]"> <i class = "fa-solid fa-calendar-days"></i>{{post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}</p>
                            </div>

                            <div class = "relative w-full h-full">
                                {% for post_photo in post.post_photos.all %}
                                    <img class = "w-full h-[18rem] object-cover" src = "{{post_photo.post_photo.url}}">
                                {% endfor %}

                                <p class = "text-lg min-[490px]:text-2xl font-semibold absolute bottom-0 h-[5rem] bg-black bg-opacity-75 w-full flex items-center text-white px-2">{{post.coordinates | default:'None available'}}</p>
                            </div>

                            <button class = "my-[1rem] border-2 w-full min-[320px]:w-[15rem] h-[3rem] bg-[#003755] text-white font-bold hover:bg-white hover:border-[#003755] hover:text-[#003755] text-center cursor-pointer px-4 rounded-full">READ MORE</button>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>



<script>
      function showDropdownOptions() {
        document.getElementById("options").classList.toggle("hidden");
        // document.getElementById("arrow-up").classList.toggle("hidden");
        // document.getElementById("arrow-down").classList.toggle("hidden");
    }
</script>


<!-- <div class = "profile">
        <div class = "card-body">
            <img src = "{{user.profile_photo.url}}">                
                    
            <p class="text-2xl">{{user.account.username}}</p>

            <div class = "field">
                <div class = "column">
                    <label for = "user-id">User ID</label>
                    
                    <div class = "user-id">
                        <input type = "text" value = "{{user.account.id}}" id = "user-id" name = "user_id" readonly>
                    
                        <i class = "fa-solid fa-user-tag"></i>
                    </div>

                    <label for = "usertype">User Type</label>

                    <div class = "usertype">                    
                        <input type = "text" value = "{{user.account.usertype}}" id = "usertype" name = "usertype" readonly>
                    
                        <i class = "fa-solid fa-user-group"></i>
                    </div>

                    <label for = "first-name">First Name</label>

                    <div class = "first-name">
                        <input type = "text" value = "{{user.first_name | default:'None available'}}" id = "first-name" name = "first_name" readonly>

                        <i class = "fa-solid fa-id-card"></i>
                    </div>

                    <label for = "last-name">Last Name</label>

                    <div class = "last-name">
                        <input type = "text" value = "{{user.last_name | default:'None available'}}" id = "last-name" name = "last_name" readonly>

                        <i class = "fa-solid fa-id-card"></i>
                    </div>
                </div>

                <div class = "column">
                    <label for = "email">Email</label>

                    <div class = "email">
                        <input type = "email" value = "{{user.email | default:'None available'}}" id = "email" name = "email" readonly>

                        <i class = "fa-solid fa-envelope"></i>
                    </div>

                    <label for = "phone-number">Phone Number</label>

                    <div class = "phone-number">
                        <input type = "text" value = "{{user.phone_number | default:'None available'}}" id = "phone-number" name = "phone_number" readonly>

                        <i class = "fa-solid fa-phone"></i>
                    </div>

                    <label for = "joined-date">Joined Date</label>

                    <div class = "joined-date">
                        <input type = "text" value = "{{user.joined_date | date:'M. j, Y, g:i a'}}" id = "joined-date" name = "joined_date" readonly>

                        <i class = "fa-solid fa-calendar-check"></i>
                    </div>

                    <label for = "last-login">Last Login</label>

                    <div class = "last-login">
                        <input type = "text" value = "{{user.account.last_login}}" id = "last-login" name = "last_login" readonly>

                        <i class = "fa-solid fa-right-to-bracket"></i>
                    </div>
                </div>
            </div>

          <div class="flex gap-2 justify-end items-center w-full">
            <div class = "text-center w-[10rem] bg-[#003755] hover:bg-white hover:border-[#003755] border-2 p-2 rounded-full font-bold text-white hover:text-[#003755]">
                <a class = "logout" href = "{% url 'Contributor Service Logout' %}">Logout</a>
            </div>

            <div class = "text-center w-[10rem] bg-[#003755] hover:bg-white hover:border-[#003755] border-2 p-2 rounded-full font-bold text-white hover:text-[#003755]">
                <a class = "update-profile" href = "{% url 'Contributor Service Profile Update' %}">Update</a>
            </div>   
          </div>
        </div>
    </div> -->
{% endblock content %}