{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{block.super}}

    <link rel = "manifest" href = "{% static 'templates/webwares/manifest.json' %}">

    <script src = "{% static 'templates/webwares/application.js' %}"></script>

    <link rel = "apple-touch-icon" href = "{% static 'assets/icons/logo (180 x 180).png' %}">

    <meta name = "apple-mobile-web-app-status-bar" content = "#154360">

    <link rel = "icon" type = "image/x-icon" href = "{% static 'assets/icons/logo.png' %}">

    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/admin/control/index/index.css' %}">
    
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">          

    <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity = "sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin = ""/>    

    <script src = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity = "sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin = ""></script>

    <script src = "https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
{% endblock %}

{% block content %}
    {{block.super}}

    <script type = "text/javascript">if(window.location.hash && window.location.hash === "#_=_"){ window.location.hash = ""; history.pushState("", document.title, window.location.pathname);}</script>
    
    {% if edition %}
        <script>
            function revealMap(){    
                var starfish = L.icon({iconUrl: "{% static 'assets/icons/marker.png' %}", iconSize: [30, 30], iconAnchor: [15, 15]});
                
                var posts = L.markerClusterGroup({iconCreateFunction: function(cluster){return starfish}});
        
                var post = L.marker([{{original.latitude}}, {{original.longitude}}], {icon: starfish});
                    
                posts.addLayer(post);
        
                var coordinatesMap = document.getElementsByClassName("coordinates-map")[0];
        
                var background = L.tileLayer("http://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}", {minZoom: 11, maxZoom: 15, subdomains:["mt0", "mt1", "mt2", "mt3"], attribution: "Google"});
        
                var map = L.map(coordinatesMap, {zoomControl: true, scrollWheelZoom: false, dragging: true, maxBounds: [[5.3, 124.3], [6.3, 126.3]], layers: [background, posts]}).setView([{{original.latitude}}, {{original.longitude}}], 11);
                
                map.attributionControl.setPosition("bottomleft");
            };

            function containMap(){
                var coordinates = document.querySelector(".form-group.field-longitude");

                var map = document.createElement("div");

                map.className = "map";

                map.innerHTML = "<div class='coordinates-map'></div>";

                coordinates.parentNode.insertBefore(map, coordinates.nextSibling);

                revealMap();
            }
        
            window.addEventListener("load", function (){
                containMap();
            });
        </script>
    {% endif %}
{% endblock %}