{% extends "officer/control/index/index.html" %}
{% load custom_filters %}

{% block content %}
    <style>
        p.status-None{
            color:#003755 !important;
        }
        
        p.status-Low{
            color: #698F3F !important;
        }

        p.status-Moderate{
            color: #F4C430 !important;
        }

        p.status-High{
            color: #FF7518 !important;
        }

        p.status-Critical{
            color: #C90016 !important;
        }
    </style>

    <div class = "container-fluid mt-3">
        <div class = "row">
            <div class = "col-lg-10 offset-lg-1">
                <div class = "card mb-4 shadow-sm">
                    <div class = "card-body">
                        <div class = "row">
                            <div class = "col-md-8">
                                <h2 class = "card-title h1" style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 20px !important; color: rgb(52, 144, 242);">{{intervention.title}}</h2>

                                <div class = "card-body" style = "padding: 0px !important;">
                                    <div class = "row">
                                        <div class = "col-md-6">
                                            <h5 style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 20px; color: rgb(28, 186, 234);">Activity Details</h5>

                                            <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Activity Date: </strong>

                                            <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">{{intervention.event_date | format_date_mmddyy}}</p>
                                            
                                            <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Hosting Agency: </strong>

                                            <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">{{intervention.hosting_agency}}</p>
                                            
                                            <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">COTS Collected: </strong>

                                            <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">{{intervention.caught_amount}}</p>
                                            
                                            <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Volunteer Count: </strong>

                                            <p style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">{{intervention.volunteer_amount}}</p>
                                        </div>

                                        <div class = "col-md-6">
                                            <h5 style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 20px; color: rgb(28, 186, 234);">Location Details</h5>

                                            <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Municipality: </strong>

                                            <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">{{intervention.location.municipality}}</p>
                                           
                                            <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Barangay: </strong>

                                            <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">{{intervention.location.barangay}}</p>
                                           
                                            <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Coordinates: </strong>

                                            <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">{{intervention.location.latitude}}, {{intervention.location.longitude}}</p>

                                            <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Infestation Level: </strong>

                                            <p class = "status-{{intervention.statustype.statustype}}" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">{{intervention.statustype}}</p>
                                        </div>
                                    </div>

                                    <hr>
                                    
                                    {% if intervention.details == '' %}
                                        <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Details</strong> 

                                        <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">No details were given.</p>

                                    {% else %}
                                        <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Details</strong> 
                                    
                                        <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">{{intervention.details}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class = "col-md-4 text-center">
                                {% if intervention.intervention_photo %}
                                    <img src = "{{intervention.intervention_photo.url}}" alt = "Intervention Photo" class = "img-fluid rounded" style = "align-self: center; margin-bottom: 15px; max-width: 100%;">
                                
                                {% else %}
                                    <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">No photo available.</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class = "text-end">
                            <a style = "padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 12px; background-color: rgb(52, 144, 242);" href = "{% url 'Officer Control Intervention Update' intervention.id %}" class = "btn btn-primary">Update</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}