{% extends "officer/control/index/index.html" %}
{% load static %}

{% block content %}
    <style>
        #interventionTitle{
            margin-bottom: 0px !important; 
            font-family: 'Montserrat'; 
            font-weight: 400; 
            font-size: 16px;
        }

        #interventionDate{
            margin-bottom: 0px !important; 
            font-family: 'Montserrat'; 
            font-weight: 400; 
            font-size: 16px;
        }

        textarea{
            margin-bottom: 0px !important; 
            font-family: 'Montserrat'; 
            font-weight: 400; 
            font-size: 16px;
        }

        #hostingAgency{
            margin-bottom: 0px !important; 
            font-family: 'Montserrat'; 
            font-weight: 400; 
            font-size: 16px;
        }

        #id_caught_amount{
            margin-bottom: 0px !important; 
            font-family: 'Montserrat'; 
            font-weight: 400; 
            font-size: 16px;
        }

        #id_volunteer_amount{
            margin-bottom: 0px !important; 
            font-family: 'Montserrat'; 
            font-weight: 400; 
            font-size: 16px;
        }

        #interventionPhoto{
            margin-bottom: 15px !important; 
        }

        .select2-selection__rendered{
            line-height: 35px !important;
        }

        .select2-container .select2-selection--single{
            height: 35px !important;
        }

        .select2-selection__arrow{
            height: 35px !important;
        }

        .select2-container .select2-selection{
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 16px !important;
        }

        .select2-results__option{
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 16px !important;
        }

        .select2-container[data-select2-id = "3"]{
            margin-bottom: 0px !important;
        }
    </style>

    <div class = "container" style = "padding: 0px !important;">
        <h1 style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 24px; color: rgb(52, 144, 242); text-align: center; text-transform: uppercase;" class = "text-center">{% if update %} Update {% else %} Add {% endif %} Activity</h1>
        
        <div class = "card">
            <div class = "card-body">
                <form id = "interventionForm" method = "post" enctype = "multipart/form-data">
                    {% csrf_token %}
                    
                    <div class = "row">
                        <div class = "col-md-6">
                            <div>
                                <div class = "h5" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 20px; color: rgb(52, 144, 242); text-align: left;">Activity Details</div>
                            </div>
                            
                            <div style = "margin-bottom: 15px !important;">
                                <label for = "{{form.title.id_for_label}}" class = "form-label required" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Title:</label>
                            
                                {{form.title}}
                            </div>

                            <div style = "margin-bottom: 15px !important;">
                                <label for = "{{form.event_date.id_for_label}}" class = "form-label required" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Activity Date:</label>
                            
                                {{form.event_date}}
                            </div>
                            
                            <div style = "margin-bottom: 15px !important;">
                                <label for = "{{form.hosting_agency.id_for_label}}" class = "form-label required" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Hosting Agency:</label>
                                
                                {{form.hosting_agency}}
                            </div>
                            
                            <hr>

                            <div>
                                <div class = "h5" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 20px; color: rgb(52, 144, 242); text-align: left;">Location Details</div>
                            </div>
                            
                            <div>
                                <label for = "municipalityFilter" class = "form-label required" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Municipality:</label>

                                <select id = "municipalityFilter" class = "form-select form-select-sm mb-3 select2" onchange = "updateBarangayOptions()">
                                    <option value = "">Select Municipality</option>
                                    
                                    {% for location in municipalities %}
                                        <option value = "{{location.municipality_name}}" {% if location.municipality.municipality_name == intervention.location.municipality_name %} selected {% endif %}>{{location.municipality_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        
                            <div>
                                <label for = "barangayFilter" class = "form-label required" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Barangay:</label>

                                <select id = "barangayFilter" class = "form-select form-select-sm mb-3 select2" onchange = "setBarangayValue()">
                                    <option value = "">Select Barangay</option>
                                    
                                    {% for location in locations %}
                                        {% if location.municipality == intervention.location.municipality %}
                                            <option value = "{{location.barangay}}" {% if location.barangay == intervention.location.barangay %} selected {% endif %}>{{location.barangay}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <hr>
                            
                            <div>
                                <div class = "h5" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 20px; color: rgb(52, 144, 242); text-align: left;">Other Details</div>
                            </div>
                            
                            <div style = "margin-bottom: 15px !important;">
                                <label for = "{{form.caught_amount.id_for_label}}" class = "form-label required" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">COTS Collected:</label>
                                
                                {{form.caught_amount}}
                            </div>

                            <div style = "margin-bottom: 15px !important;">
                                <label for = "{{form.volunteer_amount.id_for_label}}" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Volunteer Count:</label>
                                
                                {{form.volunteer_amount}}
                            </div>

                            <div style = "margin-bottom: 15px !important;">
                                <label for = "{{form.details.id_for_label}}" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Details:</label>
                                
                                {{form.details}}
                            </div>
                        </div>
                        
                        <div class = "col-md-6">
                            <div style = "margin-bottom: 15px !important;">
                                <label for = "{{form.intervention_photo.id_for_label}}" class = "form-label required" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Activity Photo:</label>
                                
                                {{form.intervention_photo}}
                            </div>
                            
                            <img id = "photoPreview" src = "{{intervention.intervention_photo.url}}" style = "display: block; margin-bottom: 15px; width: 100%; height: auto; border-radius: 5px;">
                            
                            <input type = "hidden" id = "id_municipality" name = "municipality" value = "{{intervention.location.municipality}}">

                            <input type = "hidden" id = "id_barangay" name = "barangay" value = "{{intervention.location.barangay}}">
                            
                            <button type = "submit" class = "btn btn-primary" style = "padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important; width: 100%; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; background-color: rgb(52, 144, 242);" id = "submitButton">{% if update %} Update {% else %} Add {% endif %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script type = "text/javascript">
        window.updateBarangayOptions = function(){
            const municipalityFilter = document.getElementById("municipalityFilter").value;

            const barangayFilter = document.getElementById("barangayFilter");

            const municipalityInput = document.getElementById("id_municipality");

            municipalityInput.value = municipalityFilter;

            barangayFilter.innerHTML = "<option value = ''>Select Barangay</option>";

            if (municipalityFilter){
                $.ajax({
                    url: "{% url 'Officer Control Barangay Read' %}",

                    data: {
                        "municipality": municipalityFilter
                    },

                    success: function(data){
                        data.forEach(function(barangay){
                            const option = document.createElement("option");

                            option.value = barangay;

                            option.textContent = barangay;
                            
                            barangayFilter.appendChild(option);
                        });
                    }
                });
            };
        };

        window.setBarangayValue = function(){
            const barangayFilter = document.getElementById("barangayFilter");

            const barangayInput = document.getElementById("id_barangay");

            barangayInput.value = barangayFilter.value;
        };

        document.getElementById("interventionPhoto").addEventListener("change", function(event){
            const photoPreview = document.getElementById("photoPreview");

            const file = event.target.files[0];
            
            if (file){
                const reader = new FileReader();
                
                reader.onload = function(e){
                    photoPreview.src = e.target.result;

                    photoPreview.style.display = "block";
                };
                
                reader.readAsDataURL(file);

            } else{
                photoPreview.src = "#";

                photoPreview.style.display = "none";
            };
        });

        document.getElementById("submitButton").addEventListener("click", function(event){
            event.preventDefault();

            Swal.fire({title: "Alert", text: "Officer, are you sure that you want to update the activity?", icon: "warning", showCancelButton: true, confirmButtonColor: "#3085D6", cancelButtonColor: "#D33", confirmButtonText: "Yes"}).then((result) => {
                if (result.isConfirmed){
                    document.getElementById("interventionForm").submit();
                };
            });
        });
    </script>
{% endblock %}
