{% extends "officer/control/index/index.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <h1 class="text-center">{% if update %}Update{% else %}Add{% endif %} Intervention</h1>
    
    <div class="card mt-4">
        <div class="card-body">
            <form id="interventionForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="form-group">
                    <h2>Photo Preview</h2>
                    <img id="photoPreview" src="#" alt="Image Preview" style="display: none; max-width: 100%; height: auto; margin:12px;">
                </div>
                
                <button type="submit" class="btn btn-primary">{% if update %}Update{% else %}Add{% endif %} Intervention</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('interventionPhoto').addEventListener('change', function(event) {
        const photoPreview = document.getElementById('photoPreview');
        const file = event.target.files[0];
        
        if (file) {
            const reader = new FileReader();
            
            reader.onload = function(e) {
                photoPreview.src = e.target.result;
                photoPreview.style.display = 'block';
            }
            
            reader.readAsDataURL(file);
        } else {
            photoPreview.src = '#';
            photoPreview.style.display = 'none';
        }
    });
</script>
{% endblock %}
