{% extends "contributor/index/index.html" %}
{% load static %}

{% block content %}
<div class = "post">
    <div class = "card-header">
        <header>Valid posts</header>
    </div>

    <div class = "card-body">
        <div class = "field">
            <div class = "column">
                <label for = "valid-date">Newest Date</label> 

                <div class = "valid-date">
                    <input type = "text" placeholder = "{{valid_dates.capture_date | default:'nonexistent'}}" id = "valid-date" name = "valid-date" readonly>

                    <i class = "fa-solid fa-calendar-plus"></i>
                </div>  
            </div>
            
            <div class = "column">
                <label for = "valid-posts">Post Count</label> 
                    
                <div class = "valid-posts">
                    <input type = "text" placeholder = "{{valid_posts.count | default:'0'}}" id = "valid-posts" name = "valid_posts" readonly>
                        
                    <i class = "fa-solid fa-arrow-up-wide-short"></i>
                </div>
            </div>
        </div>

        <div class = "button">
            <a class = "browse-posts" href = "{% url 'Contributor Post Valid' %}">Browse</a>
        </div>    
    </div>
</div>

<div class = "post">
    <div class = "card-header">
        <header>Invalid posts</header>
    </div>

    <div class = "card-body">
        <div class = "field">
            <div class = "column">
                <label for = "invalid-date">Newest Date</label> 

                <div class = "invalid-date">
                    <input type = "text" placeholder = "{{invalid_dates.capture_date | default:'nonexistent'}}" id = "invalid-date" name = "invalid-date" readonly>

                    <i class = "fa-solid fa-calendar-plus"></i>
                </div>  
            </div>

            <div class = "column">
                <label for = "invalid-posts">Post Count</label> 
                    
                <div class = "invalid-posts">
                    <input type = "text" placeholder = "{{invalid_posts.count | default:'0'}}" id = "invalid-posts" name = "invalid_posts" readonly>
                        
                    <i class = "fa-solid fa-arrow-up-wide-short"></i>
                </div>
            </div>
        </div>

        <div class = "button">
            <a class = "browse-posts" href = "{% url 'Contributor Post Invalid' %}">Browse</a>
        </div>    
    </div>
</div>

<div class = "post">
    <div class = "card-header">
        <header>Uncertain posts</header>
    </div>

    <div class = "card-body">
        <div class = "field">
            <div class = "column">
                <label for = "uncertain-date">Newest Date</label> 

                <div class = "uncertain-date">
                    <input type = "text" placeholder = "{{uncertain_dates.capture_date | default:'nonexistent'}}" id = "uncertain-date" name = "uncertain-date" readonly>

                    <i class = "fa-solid fa-calendar-plus"></i>
                </div>  
            </div>

            <div class = "column">
                <label for = "uncertain-posts">Post Count</label> 
                    
                <div class = "uncertain-posts">
                    <input type = "text" placeholder = "{{uncertain_posts.count | default:'0'}}" id = "uncertain-posts" name = "uncertain_posts" readonly>
                        
                    <i class = "fa-solid fa-arrow-up-wide-short"></i>
                </div>
            </div>
        </div>

        <div class = "button">
            <a class = "browse-posts" href = "{% url 'Contributor Post Uncertain' %}">Browse</a>
        </div>    
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
        {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
        {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
        {% endif %}    
    {% endfor %}
{% endif %}
{% endblock content %}