{% extends "contributor/index/index.html" %}
{% load static %}

{% block content %}
{% if valid_post %}
<div class = "post">
    <div class = "card-body">
        <p><i class = "fa-solid fa-flag"></i>Valid</p>

        <p><i class = "fa-solid fa-calendar-check"></i>{{valid_post.0.capture_date | default:'nonexistent'}}</p>

        <p><i class = "fa-solid fa-location-dot"></i>{{valid_post.0.coordinates.latitude | default:'0'}}° N, {{invalid_post.0.coordinates.longitude | default:'0'}}° E</p>

        <div class = "post-gallery">
            {% for valid_post in valid_post %}
                <img class = "gallery-photo" src = "{{valid_post.post_photo.url}}">
            {% endfor %}
        </div>

        <p>{{valid_post.0.description | default:'nonexistent'}}</p>

        <table>
            <caption>Post observation</caption>

            <tr>
                <td>Size</td>

                <td>{{valid_post.0.post_observation.size | default:'0'}}</td>
            </tr>

            <tr>
              <td>Depth</td>

              <td>{{valid_post.0.post_observation.depth | default:'0'}}</td>
            </tr>

            <tr>
                <td>Density</td>
  
                <td>{{valid_post.0.post_observation.density | default:'0'}}</td>
            </tr>

            <tr>
                <td>Weather</td>
  
                <td>{{valid_post.0.post_observation.weather | default:'nonexistent'}}</td>
            </tr>
        </table>

        <div class = "button">
            <a class = "share-post" href = "">Share</a>
        </div>
    </div>
</div>
{% endif %}

{% if invalid_post %}
<div class = "post">
    <div class = "card-body">
        <p><i class = "fa-solid fa-flag"></i>Invalid</p>

        <p><i class = "fa-solid fa-calendar-check"></i>{{invalid_post.0.capture_date | default:'nonexistent'}}</p>

        <p><i class = "fa-solid fa-location-dot"></i>{{invalid_post.0.coordinates.latitude | default:'0'}}° N, {{invalid_post.0.coordinates.longitude | default:'0'}}° E</p>

        <div class = "post-gallery">
            {% for invalid_post in invalid_post %}
                <img class = "gallery-photo" src = "{{invalid_post.post_photo.url}}">
            {% endfor %}
        </div>

        <p>{{invalid_post.0.description | default:'nonexistent'}}</p>

        <table>
            <caption>Post observation</caption>

            <tr>
                <td>Size</td>

                <td>{{invalid_post.0.post_observation.size | default:'0'}}</td>
            </tr>

            <tr>
              <td>Depth</td>

              <td>{{invalid_post.0.post_observation.depth | default:'0'}}</td>
            </tr>

            <tr>
                <td>Density</td>
  
                <td>{{invalid_post.0.post_observation.density | default:'0'}}</td>
            </tr>

            <tr>
                <td>Weather</td>
  
                <td>{{invalid_post.0.post_observation.weather | default:'nonexistent'}}</td>
            </tr>
        </table>

        <div class = "button">
            <a class = "delete-post" href = "{% url 'Contributor Post Invalid Delete' post.id %}">Delete</a>
        </div>
    </div>
</div>
{% endif %}

{% if uncertain_post %}
<div class = "post">
    <div class = "card-body">
        <p><i class = "fa-solid fa-flag"></i>Uncertain</p>

        <p><i class = "fa-solid fa-calendar-check"></i>{{uncertain_post.0.capture_date | default:'nonexistent'}}</p>

        <p><i class = "fa-solid fa-location-dot"></i>{{uncertain_post.0.coordinates.latitude | default:'0'}}° N, {{uncertain_post.0.coordinates.longitude | default:'0'}}° E</p>

        <div class = "post-gallery">
            {% for uncertain_post in uncertain_post %}
                <img class = "gallery-photo" src = "{{uncertain_post.post_photo.url}}">
            {% endfor %}
        </div>

        <p>{{uncertain_post.0.description | default:'nonexistent'}}</p>

        <table>
            <caption>Post observation</caption>

            <tr>
                <td>Size</td>

                <td>{{uncertain_post.0.post_observation.size | default:'0'}}</td>
            </tr>

            <tr>
              <td>Depth</td>

              <td>{{uncertain_post.0.post_observation.depth | default:'0'}}</td>
            </tr>

            <tr>
                <td>Density</td>
  
                <td>{{uncertain_post.0.post_observation.density | default:'0'}}</td>
            </tr>

            <tr>
                <td>Weather</td>
  
                <td>{{uncertain_post.0.post_observation.weather | default:'nonexistent'}}</td>
            </tr>
        </table>

        <div class = "button">
            <a class = "update-post" href = "{% url 'Contributor Post Uncertain Update' post.id %}">Update</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}