.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

} .card-header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.card-title {
    margin: 0; /* Remove default margin */
}
.card-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
}

#announcementsTable td{
    font-size: 12px;
    font-family: sans-serif;

}

.btn-primary{
    font-size: 12px;
}

.btn-danger{
    font-size: 12px;
}

.btn-sm{
    font-size: 12px;
}

.manage-announcement{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label.required::after{
    margin-left: 10px !important;
    content: "*" !important;
    color: red;
}

.button-container {
    position: relative;
    display: inline-block;
}

#notification-bell{
    position: relative !important;
    display: block;
}

nav .dropdown{
    max-width: 150px !important;
    min-width: unset !important;
    right: 1rem !important;
    background-color: none !important;
    box-shadow: none !important;
}




.notification-badge {
    position: absolute;
    top: -5px; /* Adjust the top position to move the badge vertically */
    right: 0 !important; /* Adjust the right position to move the badge horizontally */
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 0.75em; /* Adjust font size if needed */
}