{% extends "public/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "status" id = "status-filter">
        <form action = "" class = "status-form" method = "GET">
            {% csrf_token %}

            <div class = "card-header">
                <header>Filter status</header>
            </div>

            <div class = "card-body">
                <div class = "field">
                    <div class = "column">
                        <label for = "from-date">From</label> 
                            
                        <div class = "from-date">
                            <input type = "date" value = "" id = "from-date" name = "from_date" required>                            
                        </div>

                        <label for = "location">Location</label> 

                        <select name = "location" id = "location">
                            <option disabled selected value>Choose location</option>

                            <option value = "each_location">Each location</option>

                            {% for option in options %}
                                <option value = "{{option.location.id}}">{{option.location}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class = "column">
                        <label for = "to-date">To</label> 

                        <div class = "to-date">
                            <input type = "date" value = "" id = "to-date" name = "to_date" required>                            
                        </div>  

                        <label for = "statustype">Status Type</label>

                        <select name = "statustype" id = "statustype">
                            <option disabled selected value>Choose status type</option>

                            <option value = "each_statustype">Each status type</option>

                            {% for option in options %}
                                <option value = "{{option.statustype.id}}">{{option.statustype}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class = "button">
                    <a class = "filter-status" type = "submit">Filter</a>
                </div>    
            </div>
        </form>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
            
            {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
            
            {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
            
            {% endif %}    
        {% endfor %}
    {% endif %}

    <script>
        document.querySelector(".filter-status").onclick = function() {
            document.querySelector(".status-form").submit();
        }
    </script>

    {% if results %}
        <div class = "line" id = "results"></div>

        {% for status in results %}
            <div class = "status">
                <div class = "card-header" {% if status.statustype.is_critical == True %} id = "critical-status" {% elif status.statustype.is_moderate == True %} id = "moderate-status" {% elif status.statustype.is_low == True %} id = "low-status" {% endif %}>
                    <header>{{status.statustype | default:'None available'}}</header>
                </div>

                <div class = "card-body">
                    <div class = "field">
                        <div class = "column">
                            <label for = "onset-date">Onset Date</label> 
                                
                            <div class = "onset-date">
                                <input type = "text" value = "{{status.onset_date | date:'M. j, Y' | default:'None available'}}" id = "onset-date" name = "onset_date" readonly>
                                    
                                <i class = "fa-solid fa-calendar-check"></i>
                            </div>
                        </div>

                        <div class = "column">
                            <label for = "location">Location</label> 

                            <div class = "location">
                                <input type = "text" value = "{{status.location | default:'None available'}}" id = "location" name = "location" readonly>

                                <i class = "fa-solid fa-location-dot"></i>      
                            </div>  
                        </div>
                    </div>   
                </div>
            </div>
        {% endfor %}

    {% else %}
        <div class = "line" id = "records"></div>

        {% for status in records %}
            <div class = "status">
                <div class = "card-header" {% if status.statustype.is_critical == True %} id = "critical-status" {% elif status.statustype.is_moderate == True %} id = "moderate-status" {% elif status.statustype.is_low == True %} id = "low-status" {% endif %}>
                    <header>{{status.statustype | default:'None available'}}</header>
                </div>

                <div class = "card-body">
                    <div class = "field">
                        <div class = "column">
                            <label for = "onset-date">Onset Date</label> 
                                
                            <div class = "onset-date">
                                <input type = "text" value = "{{status.onset_date | date:'M. j, Y' | default:'None available'}}" id = "onset-date" name = "onset_date" readonly>
                                    
                                <i class = "fa-solid fa-calendar-check"></i>
                            </div>
                        </div>

                        <div class = "column">
                            <label for = "location">Location</label> 

                            <div class = "location">
                                <input type = "text" value = "{{status.location | default:'None available'}}" id = "location" name = "location" readonly>

                                <i class = "fa-solid fa-location-dot"></i>      
                            </div>  
                        </div>
                    </div>   
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}