@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: #698F3F #154360 !important;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #154360 !important; 
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #698F3F !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #557433 !important;
}


.profile{
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-column: 1;
}

.profile .card-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    display: grid;
    gap: 15px;
    background-color: #FFFFFF;
}

.profile .card-body p{
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 48px;
    color: #154360 !important;
    text-align: center;
    white-space: normal;
    overflow: auto;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body p{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 36px !important;
        color: #154360;
        text-align: center;
        white-space: normal; 
        overflow: auto;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body p{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 28px !important;
        color: #154360;
        text-align: center;
        white-space: normal; 
        overflow: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body p{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 26px !important;
        color: #154360;
        text-align: center;
        white-space: normal; 
        overflow: auto;
    }
}

.profile .card-body img{
    margin-left: auto !important;
    margin-right: auto !important; 
    width: 200px;
    height: 200px;
    align-items: center;
    object-fit: cover;
    border: 1px solid #B2BEB5;
    border-radius: 50% !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
}

.profile .card-body .field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .profile .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

.profile .card-body .field .column label[for = "user-id"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "user-id"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "user-id"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "user-id"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .user-id{
    position: relative;
}

.profile .card-body .field .column .user-id input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .user-id input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .user-id input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .user-id input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .user-id input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .user-id i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .user-id i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .user-id i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .user-id i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .field .column label[for = "usertype"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "usertype"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "usertype"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "usertype"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .usertype{
    position: relative;
}

.profile .card-body .field .column .usertype input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .usertype input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .usertype input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .usertype input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .usertype input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .usertype i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .usertype i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .usertype i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .usertype i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .field .column label[for = "is-active"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "is-active"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "is-active"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "is-active"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .is-active{
    position: relative;
}

.profile .card-body .field .column .is-active input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .is-active input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .is-active input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .is-active input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .is-active input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .is-active i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .is-active i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .is-active i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .is-active i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .field .column label[for = "first-name"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "first-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "first-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "first-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .first-name{
    position: relative;
}

.profile .card-body .field .column .first-name input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .first-name input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .first-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .first-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .first-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .first-name i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .first-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .first-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .first-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .field .column label[for = "last-name"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "last-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "last-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "last-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .last-name{
    position: relative;
}

.profile .card-body .field .column .last-name input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .last-name input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .last-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .last-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .last-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .last-name i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .last-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .last-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .last-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .field .column label[for = "email"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "email"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "email"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "email"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .email{
    position: relative;
}

.profile .card-body .field .column .email input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .email input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .email input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .email input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .email input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .email i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .email i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .email i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .email i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .field .column label[for = "phone-number"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "phone-number"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "phone-number"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "phone-number"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .phone-number{
    position: relative;
}

.profile .card-body .field .column .phone-number input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .phone-number input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .phone-number input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .phone-number input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .phone-number input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .phone-number i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .phone-number i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .phone-number i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .phone-number i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .field .column label[for = "joined-date"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "joined-date"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "joined-date"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "joined-date"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .joined-date{
    position: relative;
}

.profile .card-body .field .column .joined-date input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .joined-date input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .joined-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .joined-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .joined-date input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .joined-date i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .joined-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .joined-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .joined-date i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .field .column label[for = "last-login"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column label[for = "last-login"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column label[for = "last-login"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column label[for = "last-login"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.profile .card-body .field .column .last-login{
    position: relative;
}

.profile .card-body .field .column .last-login input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.profile .card-body .field .column .last-login input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .last-login input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .last-login input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .last-login input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.profile .card-body .field .column .last-login i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .field .column .last-login i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .field .column .last-login i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .field .column .last-login i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.profile .card-body .button{
    margin-left: auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: fit-content;
    height: 100% !important;
}

.profile .card-body .button a.update-profile{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: 1px solid #B2BEB5; 
    border-radius: 5px;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF !important;
    background-color: #698F3F !important;
    text-decoration: none;
    cursor: pointer;
}

.profile .card-body .button a.update-profile:hover{
    background-color: #557433 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}