@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: #698F3F #154360 !important;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #154360 !important; 
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #698F3F !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #557433 !important;
}


.update{
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-column: 1;
}

.update .card-body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    display: grid;
    gap: 15px;
    background-color: #FFFFFF;
}

.update .card-body p{
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 48px;
    color: #154360 !important;
    text-align: center;
    white-space: normal;
    overflow: auto;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body p{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 36px !important;
        color: #154360;
        text-align: center;
        white-space: normal; 
        overflow: auto;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body p{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 28px !important;
        color: #154360;
        text-align: center;
        white-space: normal; 
        overflow: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body p{
        font-family: "Philosopher";
        font-weight: 700;
        font-size: 26px !important;
        color: #154360;
        text-align: center;
        white-space: normal; 
        overflow: auto;
    }
}

.update .card-body img{
    margin-left: auto !important;
    margin-right: auto !important; 
    width: 200px;
    height: 200px;
    align-items: center;
    object-fit: cover;
    border: 1px solid #B2BEB5;
    border-radius: 50% !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    cursor: pointer;
}

.update .card-body .browse-photo{
    display: none;
}

.update .card-body .field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .update .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

.update .card-body .field .column label[for = "first-name"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column label[for = "first-name"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column label[for = "first-name"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column label[for = "first-name"]{
        margin-top: 0px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.update .card-body .field .column .first-name{
    position: relative;
}

.update .card-body .field .column .first-name input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.update .card-body .field .column .first-name input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column .first-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column .first-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column .first-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.update .card-body .field .column .first-name i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column .first-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column .first-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column .first-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.update .card-body .field .column label[for = "last-name"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column label[for = "last-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column label[for = "last-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column label[for = "last-name"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.update .card-body .field .column .last-name{
    position: relative;
}

.update .card-body .field .column .last-name input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.update .card-body .field .column .last-name input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column .last-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column .last-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column .last-name input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.update .card-body .field .column .last-name i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column .last-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column .last-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column .last-name i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.update .card-body .field .column label[for = "email"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column label[for = "email"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column label[for = "email"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column label[for = "email"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.update .card-body .field .column .email{
    position: relative;
}

.update .card-body .field .column .email input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.update .card-body .field .column .email input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column .email input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column .email input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column .email input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.update .card-body .field .column .email i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column .email i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column .email i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column .email i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.update .card-body .field .column label[for = "phone-number"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column label[for = "phone-number"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column label[for = "phone-number"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column label[for = "phone-number"]{
        margin-top: 15px;
        display: inline-block;
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

.update .card-body .field .column .phone-number{
    position: relative;
}

.update .card-body .field .column .phone-number input{
    padding-left: 10px !important;
    padding-right: 45px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Philosopher";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #154360 !important;
}

.update .card-body .field .column .phone-number input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column .phone-number input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column .phone-number input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column .phone-number input{
        padding-left: 10px !important;
        padding-right: 45px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        width: 100%;
        border: 1px solid #B2BEB5;
        border-radius: 5px; 
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Philosopher";
        font-weight: 700 !important;
        font-size: 14px !important;   
        color: #154360 !important;
    }
}

.update .card-body .field .column .phone-number i{
    right: 10px;
    top: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #154360;
    transform: translateY(-50%);
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .field .column .phone-number i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .field .column .phone-number i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 16px;
        color: #154360;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .field .column .phone-number i{
        right: 10px;
        top: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        font-size: 14px;
        color: #154360;
        transform: translateY(-50%);
    }
}

.update .card-body .button{
    margin-left: auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: fit-content;
    height: 100% !important;
}

.update .card-body .button a.save-profile{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: 1px solid #B2BEB5; 
    border-radius: 5px;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF !important;
    background-color: #698F3F !important;
    text-decoration: none;
    cursor: pointer;
}

.update .card-body .button a.save-profile:hover{
    background-color: #557433 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .update .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 18px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .update .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 16px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .update .card-body .button a{
        font-family: "Overlock";
        font-weight: 400;
        font-size: 14px !important;
        color: #FFFFFF !important;
        text-decoration: none;
    }
}


.swal2-popup{
    padding-bottom: 15px !important;
    border-radius: 5px !important;
    border: 1px solid #B2BEB5 !important; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
}

.swal2-popup .swal2-styled:focus{
    box-shadow: none !important;
}

div:where(.swal2-container) .swal2-html-container{
    padding: 10px 30px 0em 30px !important;
    margin: 0px !important;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    color: #154360 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    div:where(.swal2-container) .swal2-html-container{
        padding: 10px 30px 0em 30px !important;
        margin: 0px !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    div:where(.swal2-container) .swal2-html-container{
        padding: 10px 30px 0em 30px !important;
        margin: 0px !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        color: #154360 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    div:where(.swal2-container) .swal2-html-container{
        padding: 10px 30px 0em 30px !important;
        margin: 0px !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #154360 !important;
    }
}

div:where(.swal2-icon){
    margin: 15px auto 0em auto !important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring{
    border: 0.25em solid #698F3F !important;
}

div:where(.swal2-icon).swal2-success [class ^= swal2-success-line]{
    background-color: #698F3F !important;
}

div:where(.swal2-icon).swal2-error [class ^= swal2-x-mark-line]{
    background-color: #C90016 !important;
}

div:where(.swal2-container) h2:where(.swal2-title){
    padding: 15px 30px 0em 30px !important;
}

.title{
    font-family: "Philosopher" !important;
    font-weight: 700 !important;
    font-size: 22px !important;   
    color: #154360 !important;
    pointer-events: none !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .title{
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 20px !important;   
        color: #154360 !important;
        pointer-events: none !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .title{
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #154360 !important;
        pointer-events: none !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .title{
        font-family: "Philosopher" !important;
        font-weight: 700 !important;
        font-size: 16px !important;   
        color: #154360 !important;
        pointer-events: none !important;
    }
}

div:where(.swal2-container) div:where(.swal2-actions){
    margin: 15px auto 0 !important;
}

.swal2-actions{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: fit-content !important;
}

.info-button{
    visibility: hidden;
    font-size: 0px !important;
}

.info-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #154360 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.info-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .info-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        background-color: #154360 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .info-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        background-color: #154360 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .info-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #154360 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

.success-button{
    visibility: hidden;
    font-size: 0px !important;
}

.success-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #698F3F !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.success-button:hover{
    background-color: #557433 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .success-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .success-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .success-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

.error-button{
    visibility: hidden;
    font-size: 0px !important;
}

.error-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    outline: none !important;
    font-family: "Overlock" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #C90016 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.error-button:hover{
    background-color: #A00011 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .error-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        background-color: #C90016 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .error-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        background-color: #C90016 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .error-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px #B2BEB5 !important;
        outline: none !important;
        font-family: "Overlock" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #C90016 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}