.map:has(.post-map){ 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-bottom: 15px;
    width: 665px;
}

@media screen and (min-width: 320px) and (max-width: 1318px){
    .map:has(.post-map){
        width: 100%;
    }
}

.post-map{
    height: 750px;
    border: 1px solid #003755;
    border-radius: 5px; 
    z-index: 1;
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .post-map{
        height: 250px;
    }
}

.leaflet-control-zoom{
    border: 1px solid #003755 !important;
    border-radius: 5px;
}

.leaflet-control-zoom a.leaflet-control-zoom-in{
    border-bottom: 1px solid #003755 !important;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: #698F3F !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.leaflet-control-zoom a.leaflet-control-zoom-in:hover{
    border-bottom: 1px solid #003755 !important;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: #557433 !important;
    color: #B2BEB5 !important;
    text-decoration: none !important;
}

.leaflet-control-zoom a.leaflet-control-zoom-in.leaflet-disabled{
    border-bottom: 1px solid #003755 !important;
    background-color: #557433 !important;
    color: #B2BEB5 !important;
    cursor: default !important;
}

.leaflet-control-zoom a.leaflet-control-zoom-out{
    border-top: none !important;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: #C90016 !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.leaflet-control-zoom a.leaflet-control-zoom-out:hover{
    border-top: none !important;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: #A00011 !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.leaflet-control-zoom a.leaflet-control-zoom-out.leaflet-disabled{
    border-top: none !important;
    background-color: #A00011 !important;
    color: #B2BEB5 !important;
    cursor: default !important;
}

.leaflet-disabled span{
    color: #B2BEB5 !important;
}

.leaflet-control-attribution a{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px !important;
    background-color: #698F3F !important;
    color: #FFFFFF !important;
    text-align: center;
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .leaflet-control-attribution a{
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 16px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .leaflet-control-attribution a{
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 14px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        text-align: center;
    }
}

.leaflet-control-attribution span{
    font-size: 20px !important;
    background-color: #698F3F !important;
    color: #FFFFFF !important;
    text-align: center;
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .leaflet-control-attribution span{
        font-size: 18px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .leaflet-control-attribution span{
        font-size: 16px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        text-align: center;
    }
}

.leaflet-control-attribution{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px !important;
    background-color: #698F3F !important;
    color: #FFFFFF !important;
    text-align: center;
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .leaflet-control-attribution{
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .leaflet-control-attribution{
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 12px !important;
        background-color: #698F3F !important;
        color: #FFFFFF !important;
        text-align: center;
    }
}