{% extends "admin/index.html" %}
{% load static %}

{% block extrahead %}
    {{block.super}}

    <link rel = "manifest" href = "{% static 'js/manifest.json' %}">

    <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity = "sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin = ""/>    
{% endblock %}

{% block content %}
    <div class = "map">
        <div class = "admin-map">
        </div>
    </div>

    {{block.super}}

    <script type = "text/javascript">if(window.location.hash && window.location.hash === "#_=_"){ window.location.hash = ""; history.pushState("", document.title, window.location.pathname);}</script>
    
    <script src = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity = "sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin = ""></script>
    
    <script>
        var map;
    
        function revealMap(){
            var adminMap = document.getElementsByClassName("admin-map")[0];
    
            map = L.map(adminMap, {zoomControl: true, scrollWheelZoom: false, dragging: true, maxBounds: [[5.3, 124.3],[6.3, 126.3]]}).setView([5.9656, 125.1929], 11);
    
            L.tileLayer("https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}", {minZoom: 11, attribution: "ESRI"}).addTo(map);
    
            var starfish = L.icon({iconUrl: "{% static 'assets/icons/marker.png' %}", iconSize: [30, 30], iconAnchor: [15, 15]});
    
            {% for post in posts %}
                L.marker([{{post.coordinates.latitude}}, {{post.coordinates.longitude}}], {icon: starfish}).addTo(map);
            {% endfor %}
        }
    
        window.addEventListener("load", function (){
            revealMap();
        });
    </script>
{% endblock %}