.resource-body{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
    height: 100%;
    color: #000000;
}

.resource-body .resource-section{
    display: flex;                   
    align-items: center; 
    justify-content: center;          
    flex-direction: column;
    width: 100%;                     
    text-align: center;                                   
}

.resource-body .resource-section h1{
    text-align: center;     
    font-weight: 700;       
    font-size: 22px;     
    color: #000000;   
}

.resource-body .resource{
    margin-bottom: 10px;
}

.resource-body .resource:last-child{
    margin-bottom: 0px;
}

.resource-body .resource .resource-context{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    row-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #003755;
}

.resource-body .resource .resource-context h3{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 14px !important;
    color: #000000;
}

.resource-body .resource .resource-context i{
    font-size: 14px !important;
    color: #003755;
}