@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 2.5px !important;
    height: 2.5px !important;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF !important; 
}

::-webkit-scrollbar-button{
    display: none !important;
    width: 0px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
    background-color: #003755 !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #002C44 !important;
}


.content{
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100vh;
}

/* @media screen and (min-width: 320px) and (max-width: 775px){
    .content{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
} */

.login{
    width: 386px;
    display: grid;
    grid-column: 1;
    border: 1px solid #003755;
    border-radius: 5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login{
        width: 309px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login{
        width: 289px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login{
        width: 260px;
    }
}

.login .card-header{
    display: grid;
    place-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #003755;
}

/* @media screen and (min-width: 320px) and (max-width: 775px){
    .login .card-header{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
} */

.login .card-header header{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px !important;
    color: #FFFFFF;
    white-space: nowrap !important; 
    overflow: auto !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-header header{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-header header{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-header header{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-header header{
        font-size: 16px !important;
    }
}

.login .card-body{
    display: grid;
    place-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: #FFFFFF;
}

/* @media screen and (min-width: 320px) and (max-width: 775px){
    .login .card-body{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
} */

.login .card-body form{
    width: 100%;
}

.login .card-body form .field .column label[for = "username"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px !important;
    color: #003755 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body form .field .column label[for = "username"]{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body form .field .column label[for = "username"]{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body form .field .column label[for = "username"]{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body form .field .column label[for = "username"]{
        font-size: 12px !important;
    }
}

.login .card-body form .field .column .username{
    position: relative;
}

.login .card-body form .field .column .username input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px; 
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #003755 !important;
}

.login .card-body form .field .column .username input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body form .field .column .username input{
        padding-right: 38px !important;
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body form .field .column .username input{
        padding-right: 36px !important;
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body form .field .column .username input{
        padding-right: 34px !important;
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body form .field .column .username input{
        padding-right: 32px !important;
        font-size: 12px !important;
    }
}

.login .card-body form .field .column .username i{
    position: absolute;
    display: grid;
    place-items: center;
    right: 10px;
    top: 50%;
    font-size: 20px;
    color: #003755;
    transform: translateY(-50%);
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body form .field .column .username i{
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body form .field .column .username i{
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body form .field .column .username i{
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body form .field .column .username i{
        font-size: 12px;
    }
}

.login .card-body form .field .column label[for = "password1"]{
    margin-top: 15px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px !important;
    color: #003755 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body form .field .column label[for = "password1"]{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body form .field .column label[for = "password1"]{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body form .field .column label[for = "password1"]{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body form .field .column label[for = "password1"]{
        font-size: 12px !important;
    }
}

.login .card-body form .field .column .password1{
    position: relative;
}

.login .card-body form .field .column .password1 input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px; 
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 20px !important;   
    color: #003755 !important;
}

.login .card-body form .field .column .password1 input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body form .field .column .password1 input{
        padding-right: 38px !important;
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body form .field .column .password1 input{
        padding-right: 36px !important;
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body form .field .column .password1 input{
        padding-right: 34px !important;
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body form .field .column .password1 input{
        padding-right: 32px !important;
        font-size: 12px !important;
    }
}

.login .card-body form .field .column .password1 i{
    position: absolute;
    display: grid;
    place-items: center;
    right: 10px;
    top: 50%;
    font-size: 20px;
    color: #003755;
    transform: translateY(-50%);
    cursor: pointer;
}

.login .card-body form .field .column .password1 i:hover{
    color: #002C44 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body form .field .column .password1 i{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body form .field .column .password1 i{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body form .field .column .password1 i{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body form .field .column .password1 i{
        font-size: 12px !important;
    }
}

.login .card-body form .g-recaptcha{
    margin-top: 15px !important;
    display: grid !important;
    place-items: center;
    position: relative !important;
}

/* @media screen and (min-width: 320px) and (max-width: 775px){
    .login .card-body form .g-recaptcha{
        margin-top: 5px !important;
    }
} */

@media screen and (min-width: 320px) and (max-width: 775px){
    .login .card-body form .g-recaptcha > div{
        width: 100% !important;
        white-space: nowrap !important;
        overflow-x: auto !important;
        overflow-y: hidden;
    }
}

.login .card-body form button{
    margin-top: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    height: 100% !important;
    border: 1px solid #003755; 
    border-radius: 5px;
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    cursor: pointer;
}

.login .card-body form button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body form button{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body form button{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body form button{
        margin-top: 5px;
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body form button{
        font-size: 12px !important;
    }
}

.login .card-body .register{
    margin-top: 15px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #003755;
    text-align: center;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body .register{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body .register{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body .register{        
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body .register{
        font-size: 12px !important;
    }
}

.login .card-body .register a{
    font-size: 20px;
    color: #325E76;
    text-decoration: none;
}

.login .card-body .register a:hover{
    color: #284B5E;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body .register a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body .register a{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body .register a{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body .register a{
        font-size: 12px !important;
    }
}

.login .card-body .line{
    margin-top: 20.5px;
    margin-bottom: 20.5px;
    position: relative;
    width: 100%;
    border: 1px solid #003755;
    background-color: #003755;
}

/* @media screen and (min-width: 320px) and (max-width: 775px){
    .login .card-body .line{
        margin-top: 10.5px;
        margin-bottom: 10.5px;
    }
} */

.login .card-body .line::before{
    top: 50%;
    left: 50%;
    position: absolute;
    content: "OR";
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #003755;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .login .card-body .line::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login .card-body .line::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login .card-body .line::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login .card-body .line::before{
        font-size: 12px !important;
    }
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
    -webkit-text-fill-color: #003755;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill{
    background: #FFFFFF !important;
}


.swal2-container .swal2-popup{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-radius: 5px !important;
    border: 1px solid #003755 !important; 
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .swal2-popup{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-radius: 5px !important;
    }
}

.swal2-container .swal2-popup .swal2-styled:focus{
    box-shadow: none !important;
}

.swal2-container .swal2-html-container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    color: #003755 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 12px !important;
    }
}

.swal2-container div:where(.swal2-icon){
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container div:where(.swal2-icon){
        margin-bottom: 5px !important;
    }
}

.swal2-container div:where(.swal2-icon).swal2-warning{
    border-color: #003755 !important;
    color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-success .swal2-success-ring{
    border: 1px solid #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-success [class ^= swal2-success-line]{
    background-color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error{
    border-color: #003755 !important;
    color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error [class ^= swal2-x-mark-line]{
    background-color: #003755 !important;
}

.swal2-container h2:where(.swal2-title){
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container h2:where(.swal2-title){
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
    }
}

.swal2-container .title{
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: 24px !important;   
    color: #003755 !important;
    pointer-events: none !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .title{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .title{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .title{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .title{
        font-size: 16px !important;
    }
}

.swal2-container div:where(.swal2-actions){
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.swal2-container .swal2-actions{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: fit-content !important;
}

.swal2-container .swal2-actions button{
    background-color: #003755 !important;
}

.swal2-container .info-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .info-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .info-button::before{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #003755 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .info-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .info-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .info-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .info-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .info-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .success-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .success-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .success-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #003755 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .success-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .success-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .success-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .success-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .success-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .error-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .error-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .error-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #003755 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .error-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .error-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .error-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .error-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .error-button::before{
        font-size: 12px !important;
    }
}


#load{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 99;
}

.load{
    z-index: 100
} 