{% extends "officer/control/index/index.html" %}
{% load static %}

{% block content %}
<div class = "profile-body">
    <h1>MY PROFILE</h1>

    <div class = "profile">
        <div class = "profile-section">
            <img src = "{{user.profile_photo.url}}">
    
            <h1>{{user.account.username}}</h1>
                        
            <p>{{user.account.usertype}}</p>
        </div>
    
        <div class = "profile-details">
            <div class = "profile-context">
                <p>First Name:</p>
    
                <p>{{user.first_name | default:'None available'}}</p>
            </div>
    
            <div class = "profile-context">
                <p>Last Name:</p>
    
                <p>{{user.last_name | default:'None available'}}</p>
            </div>
    
            <div class = "profile-context">
                <p>Email:</p>
    
                <p>{{user.email | default:'None available'}}</p>
            </div>
    
            <div class = "profile-context">
                <p>Phone Number:</p>
    
                <p>{{user.phone_number | default:'None available'}}</p>
            </div>
    
            <div class = "button">
                <a class = "update-profile" href = "{% url 'Officer Control Profile Update' %}">Update</a>

                <!-- <a class = "delete-account" href = "{% url 'Officer Control Profile Delete' account.id %}">Deactivate</a> -->
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector(".delete-account").onclick = function(event){
        event.preventDefault();

        const username = "{{request.user.username}}";

        Swal.fire({title: "Alert!", text: username + ", " + "are you sure that you want to deactivate your account?", icon: "warning", showCancelButton: true, confirmButtonColor: "#003755", cancelButtonColor: "#003755", confirmButtonText: "Yes", cancelButtonText: "No", customClass: {confirmButton: "confirm-button", cancelButton: "cancel-button", title: "title"}}).then((result) => {if (result.isConfirmed){window.location.href = this.href;}});
    };
</script>
{% endblock content %}