{% extends "officer/control/profile/profile.html" %}
{% load static %}

<header>
    {% block action %}Update{% endblock action %}
</header>

{% block profile_content %}
    {% if user %} 
        <div class = "profileupdate-body">
            <!-- <div class = "profileupdate-section">
                <h1>PROFILE UPDATE</h1>
            </div> -->

            <form action = "" class = "profile-form" method = "POST" enctype = "multipart/form-data">
                {% csrf_token %}

                <div class = "profileupdate-section">
                    <img class = "profile-photo" src = "{{user.profile_photo.url}}">

                    <input type = "file" class = "browse-photo" name = "profile_photo" accept = "image/*">
        
                    <h1>{{user.account.username}}</h1>
                                
                    <p>{{user.account.usertype}}</p>
                </div>

                <div class = "profileupdate-details">
                    <div class = "first-name">
                        <label for = "first-name">First Name</label>

                        <input type = "text" id = "first-name" value = "{{user.first_name}}" name = "first_name" required>
                    </div> 

                    <div class = "last-name">
                        <label for = "last-name">Last Name</label>

                        <input type = "text" id = "last-name" value = "{{user.last_name}}" name = "last_name" required>
                    </div>

                    <div class = "email">
                        <label for = "email">Email</label>

                        <input type = "email" id = "email" value = "{{user.email}}" name = "email" required>
                    </div>

                    <div class = "phone-number">
                        <label for = "phone-number">Phone Number</label>

                        <input type = "number" id = "phone-number" value = "{{user.phone_number}}" name = "phone_number" required>
                    </div>

                    <div class = "button">
                        <a class = "save-profile" type = "submit">Save</a>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
            
            {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
            
            {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
            
            {% endif %}
        {% endfor %}
    {% endif %}

    <script>
        const browsePhoto = document.querySelector(".browse-photo")
        
        const profilePhoto = document.querySelector(".profile-photo")

        browsePhoto.addEventListener("change", (event)=> {
            const photoObject = event.target.files[0]

            profilePhoto.src = URL.createObjectURL(photoObject)
        })
    </script>

    <script>
        document.querySelector(".profile-photo").addEventListener("click", () => {
            document.querySelector("input[type = 'file']").click();
        });
    </script>

    <script>
        window.onbeforeunload = function(event){
            event.preventDefault(); 
            
            event.returnValue = ""; 

        };

        function disableOnBeforeUnload(){
            window.onbeforeunload = null;
        };
    </script>

    <script>
        document.querySelector(".save-profile").onclick = function(event){
            event.preventDefault()

            disableOnBeforeUnload();

            const username = "{{request.user.username}}";

            Swal.fire({title: "Alert!", text: username + ", " + "are you sure that you want to update your profile?", icon: "warning", showCancelButton: true, confirmButtonColor: "#003755", cancelButtonColor: "#003755", confirmButtonText: "Yes", cancelButtonText: "No", customClass: {confirmButton: "confirm-button", cancelButton: "cancel-button", title: "title"}}).then((result) => {if (result.isConfirmed){document.querySelector(".profile-form").submit();}});
        };
    </script>
{% endblock profile_content %}