@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 2.5px !important;
    height: 2.5px !important;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF !important; 
}

::-webkit-scrollbar-button{
    display: none !important;
    width: 0px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
    background-color: #003755 !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #002C44 !important;
}


.content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .content{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.register{
    width: 100%;
    display: grid;
    grid-column: 1;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
}

.register .card-header{
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #003755;
}

.register .card-header header{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px !important;
    color: #FFFFFF;
    white-space: nowrap !important; 
    overflow: auto !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-header header{
        font-size: 18px !important;
    }
}

.register .card-body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    display: grid;
    place-items: center;
    background-color: #FFFFFF;
}

.register .card-body form{
    width: 100%;
}

.register .card-body form .field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field{        
        grid-template-columns: 100%;
        gap: 0px;
    }
}

.register .card-body form .field .column label[for = "username"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px !important;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column label[for = "username"]{
        font-size: 14px !important;
    }
}

.register .card-body form .field .column .username{
    position: relative;
}

.register .card-body form .field .column .username input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 22px !important;   
    color: #003755 !important;
}

.register .card-body form .field .column .username input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .register .card-body form .field .column .username input{
        padding-right: 34px !important;
        font-size: 14px !important;   
    }
}

.register .card-body form .field .column .username i{
    display: grid;
    position: absolute;
    place-items: center;
    right: 10px;
    top: 50%;
    font-size: 22px;
    color: #003755;
    transform: translateY(-50%);
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .register .card-body form .field .column .username i{
        font-size: 14px;
    }
}

.register .card-body form .field .column label[for = "first-name"]{
    margin-top: 10px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px !important;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column label[for = "first-name"]{
        font-size: 14px !important;
    }
}

.register .card-body form .field .column .first-name{
    position: relative;
}

.register .card-body form .field .column .first-name input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 22px !important;   
    color: #003755 !important;
}

.register .card-body form .field .column .first-name input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column .first-name input{
        padding-right: 34px !important;
        font-size: 14px !important;   
    }
}

.register .card-body form .field .column .first-name i{
    display: grid;
    position: absolute;
    place-items: center;
    right: 10px;
    top: 50%;
    font-size: 22px;
    color: #003755;
    transform: translateY(-50%);
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .register .card-body form .field .column .first-name i{
        font-size: 14px;
    }
}

.register .card-body form .field .column label[for = "password1"]{
    margin-top: 10px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px !important;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column label[for = "password1"]{
        font-size: 14px !important;
    }
}

.register .card-body form .field .column .password1{
    position: relative;
}

.register .card-body form .field .column .password1 input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 22px !important;   
    color: #003755 !important;
}

.register .card-body form .field .column .password1 input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .register .card-body form .field .column .password1 input{
        padding-right: 34px !important;
        font-size: 14px !important;   
    }
}

.register .card-body form .field .column .password1 i{
    display: grid;
    position: absolute;
    place-items: center;
    right: 10px;
    top: 50%;
    font-size: 22px;
    color: #003755;
    transform: translateY(-50%);
    cursor: pointer;
}

.register .card-body form .field .column .password1 i:hover{
    color: #002C44 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column .password1 i{
        font-size: 14px;
    }
}

.register .card-body form .field .column label[for = "email"]{
    margin-top: 0px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px !important;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column label[for = "email"]{
        margin-top: 10px;
        font-size: 14px !important;
    }
}

.register .card-body form .field .column .email{
    position: relative;
}

.register .card-body form .field .column .email input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 22px !important;   
    color: #003755 !important;
}

.register .card-body form .field .column .email input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column .email input{
        padding-right: 34px !important;
        font-size: 14px !important;   
    }
}

.register .card-body form .field .column .email i{
    display: grid;
    position: absolute;
    place-items: center;
    right: 10px;
    top: 50%;
    font-size: 22px;
    color: #003755;
    transform: translateY(-50%);
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .register .card-body form .field .column .email i{
        font-size: 14px;
    }
}

.register .card-body form .field .column label[for = "last-name"]{
    margin-top: 10px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px !important;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column label[for = "last-name"]{
        font-size: 14px !important;
    }
}

.register .card-body form .field .column .last-name{
    position: relative;
}

.register .card-body form .field .column .last-name input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 22px !important;   
    color: #003755 !important;
}

.register .card-body form .field .column .last-name input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column .last-name input{
        padding-right: 34px !important;
        font-size: 14px !important;   
    }
}

.register .card-body form .field .column .last-name i{
    display: grid;
    position: absolute;
    place-items: center;
    right: 10px;
    top: 50%;
    font-size: 22px;
    color: #003755;
    transform: translateY(-50%);
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column .last-name i{
        font-size: 14px;
    }
}

.register .card-body form .field .column label[for = "password2"]{
    margin-top: 10px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px !important;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column label[for = "password2"]{
        font-size: 14px !important;
    }
}

.register .card-body form .field .column .password2{
    position: relative;
}

.register .card-body form .field .column .password2 input{
    padding-left: 10px !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    border: 1px solid #B2BEB5;
    border-radius: 5px; 
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 700 !important;
    font-size: 22px !important;   
    color: #003755 !important;
}

.register .card-body form .field .column .password2 input:focus{
    border-bottom-width: 2.5px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column .password2 input{
        padding-right: 34px !important;
        font-size: 14px !important;   
    }
}

.register .card-body form .field .column .password2 i{
    display: grid;
    position: absolute;
    place-items: center;
    right: 10px;
    top: 50%;
    font-size: 20px;
    color: #003755;
    transform: translateY(-50%);
    cursor: pointer;
}

.register .card-body form .field .column .password2 i:hover{
    color: #002C44 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .field .column .password2 i{
        font-size: 14px;
    }
}

.register .card-body form .g-recaptcha{
    margin-top: 10px !important;
    display: grid !important;
    place-items: center;
    position: relative !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form .g-recaptcha > div{
        width: 100% !important;
        white-space: nowrap !important;
        overflow-x: auto !important;
        overflow-y: hidden;
    }
}

.register .card-body form button{
    margin-top: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    height: 100% !important;
    border: 1px solid #B2BEB5; 
    border-radius: 5px;
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    cursor: pointer;
}

.register .card-body form button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body form button{
        font-size: 14px !important;
    }
}

.register .card-body .login{
    margin-top: 10px;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    color: #003755;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body .login{
        font-size: 14px;
    }
}

.register .card-body .login a{
    font-size: 23px;
    color: #003755;
    text-decoration: none;
}

.register .card-body .login a:hover{
    color: #002C44;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .register .card-body .login a{
        font-size: 14px;
        color: #003755;
        text-decoration: none;
    }
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
    -webkit-text-fill-color: #003755;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill{
    background: #FFFFFF !important;
}


.swal2-container .swal2-popup{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 5px !important;
    border: 1px solid #B2BEB5 !important; 
}

.swal2-container .swal2-popup .swal2-styled:focus{
    box-shadow: none !important;
}

.swal2-container .swal2-html-container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 10px !important;
        margin: 0px !important;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #003755 !important;
    }
}

.swal2-container div:where(.swal2-icon){
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.swal2-container div:where(.swal2-icon).swal2-success .swal2-success-ring{
    border: 1px solid #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-success [class ^= swal2-success-line]{
    background-color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error{
    border-color: #003755 !important;
    color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error [class ^= swal2-x-mark-line]{
    background-color: #003755 !important;
}

.swal2-container h2:where(.swal2-title){
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.swal2-container .title{
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: 36px !important;   
    color: #003755 !important;
    pointer-events: none !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .title{
        font-family: "Montserrat" !important;
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #003755 !important;
        pointer-events: none !important;
    }
}

.swal2-container div:where(.swal2-actions){
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.swal2-container .swal2-actions{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: fit-content !important;
}

.swal2-container .info-button{
    visibility: hidden;
    font-size: 0px !important;
}

.swal2-container .info-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .info-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .info-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        outline: none !important;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #003755 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

.swal2-container .success-button{
    visibility: hidden;
    font-size: 0px !important;
}

.swal2-container .success-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .success-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .success-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        outline: none !important;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #003755 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

.swal2-container .error-button{
    visibility: hidden;
    font-size: 0px !important;
}

.swal2-container .error-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .error-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .error-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        outline: none !important;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        background-color: #003755 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}