{% extends "admin/index.html" %}
{% load static %}

{% block extrahead %}
    {{block.super}}

    <link rel = "manifest" href = "{% static 'templates/webwares/manifest.json' %}">

    <script src = "{% static 'templates/webwares/application.js' %}"></script>

    <link rel = "apple-touch-icon" href = "{% static 'assets/icons/logo (180 x 180).png' %}">

    <meta name = "apple-mobile-web-app-status-bar" content = "#154360">

    <link rel = "icon" type = "image/x-icon" href = "{% static 'assets/icons/logo.png' %}">

    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/admin/control/index/index.css' %}">
    
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">          

    <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity = "sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin = ""/>    

    <script src = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity = "sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin = ""></script>
    
    <script src = "https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js"></script>

    <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

    <link rel = "stylesheet" href = "https://unpkg.com/leaflet-geosearch/dist/geosearch.css"/>

    <script src = "https://cdn.jsdelivr.net/npm/leaflet-geosearch/dist/geosearch.min.js"></script>

    <link rel = "stylesheet" href = "https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>

    <script src = "https://cdn.jsdelivr.net/npm/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css"/>
{% endblock %}

{% block content %}
    <!-- <div class = "home-map">
        <div class = "map">
        </div>
    </div> -->

    {{block.super}}

    <script type = "text/javascript">if(window.location.hash && window.location.hash === "#_=_"){ window.location.hash = ""; history.pushState("", document.title, window.location.pathname);}</script>

    <!-- <script>
        function revealMap(){    
            map_statuses = L.layerGroup();

            function highlightBarangay(click){
                var layer = click.target;

                layer.setStyle({
                    color: "#10354C", 

                    weight: 5, 
                    
                    fillOpacity: 0.75
                });

                layer.bringToFront();
            };

            function resetBarangay(click){
                status.resetStyle(click.target);
            };

            function zoomBarangay(click){
                var feature = click.target.feature;
    
                var properties = feature.properties;

                map.fitBounds(click.target.getBounds());

                var center = click.target.getCenter();

                var status = feature.properties.statustype;

                if (status === "Critical"){
                    fillings = "#C90016";
                        
                } else if (status === "Moderate"){
                    fillings = "#F4C430";

                } else if (status === "Low"){
                    fillings = "#698F3F";
                
                } else{
                    fillings = "#003755";
                };
                
                var popup = L.popup({closeOnClick: false, autoClose: false}).setLatLng(center).setContent("<div class = 'popup'>" + "<div class = 'popup-header'>" + "<i class = 'fa-solid fa-circle-exclamation'>" + "</i>" + "<i class = 'fa-solid fa-square-xmark popup-back'>" + "</i>" + "</div>" + "<div class='popup-place'>" + "<p>" + "<a>" + properties.barangay + "</a>" + ", " + properties.municipality + "</p>" + "</div>" + "<div class = 'popup-statistics'>" + "<p>" + "As of " + "<a>" + properties.onset_date + "</a>" + ":" + "</p>" + "<p>" + "<a style = 'color: " + fillings + ";'>" + properties.statustype + "</a>" + " status" + "," + "</p>" + "<p>" + "<a>" + properties.caught_overall + "</a>" + " COTS caught" + "." + "</p>" + "</div>").openOn(map);
                
                var popupBack = popup._contentNode.querySelector(".popup-back");
                
                popupBack.addEventListener("click", function(){
                    map.closePopup(popup);
                });
            };

            var status = L.geoJSON([{
                "type": "FeatureCollection", 
                            
                "features": [
                    {% for status in map_statuses %}
                        {"type": "Feature", "properties": {"barangay": "{{status.location.barangay}}", "municipality": "{{status.location.municipality}}", "caught_overall": "{{status.caught_overall}}", "statustype": "{{status.statustype}}", "onset_date": "{{status.onset_date}}"}, "geometry": {"type": "Polygon", "coordinates": {{status.location.perimeters}}}}, 
                    {% endfor %}
                ]

            }], {
                style: function(feature){
                    var status = feature.properties.statustype;

                    var fillings = "";

                    if (status === "Critical"){
                        fillings = "#C90016";
                        
                    } else if (status === "Moderate"){
                        fillings = "#F4C430";

                    } else if (status === "Low"){
                        fillings = "#698F3F";
                    
                    } else{
                        fillings = "#003755";
                    };

                    return{
                        color: "#002C44", 
                        
                        weight: 1, 

                        fillColor: fillings, 

                        fillOpacity: 0.25
                    };
                }, 

                onEachFeature: function (feature, layer){
                    layer.on({
                        mouseover: highlightBarangay, 

                        mouseout: resetBarangay, 

                        click: zoomBarangay
                    });
                }
            });

            status.addTo(map_statuses);
            
            var starfish = L.icon({iconUrl: "{% static 'assets/pin.png' %}", iconSize: [30, 30], iconAnchor: [15, 15]});
        
            var map_posts = L.markerClusterGroup({iconCreateFunction: function(cluster){return starfish}, removeOutsideVisibleBounds: false});
        
            {% for post in map_posts %}
                var postMarker = L.marker([{{post.coordinates.latitude}}, {{post.coordinates.longitude}}], {icon: starfish});
                
                postMarker.bindPopup("<div class = 'popup'>" + "<div class = 'popup-header'>" +  "<img src = '{{post.user.profile_photo.url | default:''}}'>" +  "<div class='popup-username'>" +  "<p><a>{{post.user | default:'None available'}}</a></p>" + "</div>" + "<i class = 'fa-solid fa-square-xmark popup-back'></i>" + "</div>" + "<div class = 'popup-post'>" + "<div class = 'post-gallery'>" + "<img src = '{{post.post_photos.all.first.post_photo.url}}'>" + "<div class = 'post-context'>" + "<p>{{post.capture_date | default:'None available'}}</p>" + "<a>{{post.coordinates | default:'0'}}</a>" + "</div>" + "</div>" + "</div>" + "<div class = 'button'><a class = 'read-post' href = '{% url 'Post Valid Read Redirect' id=post.id %}'>Read</a></div>", {closeOnClick: false, autoClose: false});

                postMarker.on("popupopen", function(e){
                    var popup = e.popup;
                    
                    var popupBack = popup.getElement().querySelector(".popup-back");
                    
                    popupBack.onclick = function(){
                        popup.close();
                    };
                });

                postMarker.on("click", function(event){                    
                    if (!this.isPopupOpen()){
                        this.openPopup();
                    }
                });

                map_posts.addLayer(postMarker);
            {% endfor %}


            var map = document.getElementsByClassName("map")[0];

            var background = L.tileLayer("http://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}", {minZoom: 11, maxZoom: 15, subdomains:["mt0", "mt1", "mt2", "mt3"]});

            var map = L.map(map, {zoomControl: true, scrollWheelZoom: false, dragging: true, maxBounds: [[5.266008, 124.277344], [6.489983, 126.035156]], layers: [background, map_posts]}).setView([5.9656, 125.1929], 11);
            
            map.on("popupopen", function(event){
                var popup = map.project(event.target._popup._latlng);
                
                popup.y -= event.target._popup._container.clientHeight / 2;
                
                map.panTo(map.unproject(popup), {animate: true});
            });

            map.attributionControl.remove();

            var bases = {};
            
            var overlays = {
                "Posts": map_posts, 

                "COTS Status": map_statuses
            };

            var management = L.control.layers(bases, overlays).addTo(map);

            management.setPosition("bottomright");

            var legend = L.control({position: "topright"});

            legend.onAdd = function(map){
                this._div = L.DomUtil.create("div", "legend");

                this.update();
                
                return this._div;
            };

            legend.update = function(property){
                if (map.hasLayer(map_statuses)){
                    this._div.style.display = "grid";
                    
                    this._div.innerHTML = "<div class = 'popup-header'>" + "<p>" + "<a>" + "Map " + "</a>" + "legend" + ":" + "</a>" + "</p>" + "</div>";
                    
                    var ranges = ["75 and up", "25 to 75", "0 to 25"];
                    
                    var labels = ["Critical", "Moderate", "Low"];
                    
                    var colors = ["#C90016", "#F4C430", "#698F3F"];

                    for (var i = 0; i < ranges.length; i++){
                        this._div.innerHTML += "<div class = 'popup-statistics'>" + "<i style = 'background:" + colors[i] + "'>" + "</i>" + "<p>" + labels[i] + ", " + "<a>" + ranges[i] + "</a>" + "." + "</p>" + "</div>";
                    }

                } else{
                    this._div.style.display = "none";
                };
            };

            legend.addTo(map);

            map.on("overlayadd overlayremove", function(event){
                if (event.name === "COTS Status"){
                    legend.update();
                }
            });
        };

        window.addEventListener("load", function (){
            revealMap();
        });
    </script> -->
{% endblock %}