{% extends "public/index/index.html" %}
{% load static %}

{% block content %}
{% for intervention in intervention %}
<div class = "intervention">
    <div class = "card-body">
        <header>{{intervention.title | default:'nonexistent'}}</header>

        <p><i class = "fa-solid fa-users"></i>{{intervention.hosting_agency | default:'nonexistent'}}</p>

        <p><i class = "fa-solid fa-calendar-check"></i>{{intervention.intervention_date | date:'M. j, Y' | default:'nonexistent'}}</p>

        <p><i class = "fa-solid fa-location-dot"></i>{{intervention.location | default:'nonexistent'}}</p>

        <img src = "{{intervention.intervention_photo.url}}">

        <p>{{intervention.details | default:'nonexistent'}}</p>

        <p><i class = "fa-solid fa-circle-exclamation"></i>{{intervention.caught_amount | default:'nonexistent'}} COTS caught.</p>

        <div class = "buttons">
            <a class = "share-intervention" href = "">Share</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}