<!DOCTYPE html>
{% load static %}
{% load socialaccount %}

<html lang = "en">
    <head>
        <meta charset = "UTF-8">
            
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
            
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "manifest" href = "{% static 'templates/webwares/manifest.json' %}">

        <meta name = "theme-color" content = "#154360">

        <link rel = "apple-touch-icon" href = "{% static 'assets/icons/logo (180 x 180).png' %}">

        <meta name = "apple-mobile-web-app-status-bar" content = "#154360">

        <link rel = "icon" type = "image/x-icon" href = "{% static 'assets/icons/logo.png' %}">
                        
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/officer/login/google.css' %}">
                    
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">          
        
        <title>Login | COTSEye</title>
    </head>

    <body>
        <div class = "content">
            <div class = "login">
                <div class = "card-header">
                    <header>Login</header>
                </div>
    
                <div class = "card-body">
                    <div class = "socials">
                        <button class = "google">
                            <a href = "{% provider_login_url 'google' %}?next=/admin/">
                                <i class = "fa-brands fa-google"></i> 
                                
                                <span>Login with Google</span>
                            </a>
                        </button>
                    </div>
    
                    {% if messages %}
                        {% for message in messages %}
                            <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
                            {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
                            {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
                            {% endif %}    
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>

    <script src = "{% static 'templates/webwares/application.js' %}"></script>

    <script type = "text/javascript">if (window.location.hash && window.location.hash === "#_=_"){ window.location.hash = ""; history.pushState("", document.title, window.location.pathname);}</script>
</html>