{% extends "contributor/index.html" %}
{% load static %}

{% block content %}
<div id = "announcements-box">
    {% for announcement in announcements %}
    <div class = "primary announcements">
        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <header class = "prevent-select">{{announcement.title}}</header>
                </div>

                <div class = "details-body">
                    <div id = "row">
                        <div class = "field first input-field">
                            <label for = "username">Author</label> 
                            
                            <input type = "text" placeholder = "{{announcement.user.account.username}}" id = "username" name = "username" readonly>
                            
                            <i class = "bx bxs-user-account field-icon"></i>
                        </div>

                        <div class = "fence"></div>

                        <div class = "field input-field">
                            <label for = "date">Date</label> 

                            <input type = "text" placeholder = "{{announcement.date}}" id = "date" name = "date" readonly>

                            <i class = "bx bx-calendar-star field-icon"></i>
                        </div>
                    </div>

                    <a id = "read" href = "{% url 'Contributor Announcement Read' announcement.id %}" class = "btn btn-primary">Read</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}