{% extends "contributor/index.html" %}
{% load static %}

{% block content %}
{% for announcement in announcements %}
<div id = "announcements-box">
    <div class = "primary announcements">
        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <header class = "prevent-select">{{announcement.title}}</header>
                </div>

                <div class = "details-body">
                    <div class = "field last input-field">
                        <label for = "context">Context</label> 

                        <textarea placeholder = "{{announcement.context}}" id = "context" name = "context" readonly></textarea>

                        <i class = "bx bxs-caret-up-circle field-icon" onclick = "scrollTextarea(-30)"></i>

                        <i class = "bx bxs-caret-down-circle last field-icon" onclick = "scrollTextarea(30)"></i>
                    </div>

                    <a id = "share" href = "#" class = "btn btn-primary">Share</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class = "secondary announcements">
        <div class = "character">
            <div id = "column">
                <div class = "character-header">                    
                    <header class = "prevent-select">Administrator Information</header>
                </div>

                <div class = "character-body">
                    <div class = "field first input-field">

                        <label for = "username">Username</label> 
                        
                        <input type = "text" placeholder = "{{announcement.user.account.username}}" id = "username" name = "username" readonly>
                        
                        <i class = "bx bxs-user-account field-icon"></i>
                    </div>
                    
                    <div class = "field input-field">
                        <label for = "is-active">User Status</label>

                        <input type = "text" placeholder = "{% if announcement.user.account.is_active == True %} Alive {% else %} Dead {% endif %}" id = "is-active" name = "is_active" readonly>
                        
                        {% if announcement.user.account.is_active == True %} <i class = "bx bxs-user-check field-icon"></i>
                        {% else %} <i class = "bx bxs-user-x field-icon"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <header class = "prevent-select">Important Notice</header>
                </div>

                <div class = "details-body">
                    <div class = "field first input-field">
                        <label for = "date">Date</label> 

                        <input type = "text" placeholder = "{{announcement.date}}" id = "date" name = "date" readonly>

                        <i class = "bx bx-calendar-star field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "place">Place</label> 

                        <input type = "text" placeholder = "{{announcement.place}}" id = "place" name = "place" readonly>

                        <i class = "bx bx-current-location field-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for post in uncertain_posts %}
<div id = "posts-box">
    <div class = "posts">
        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <img id = "post-display" class = "post-photo" src = "{{post.post_photo.url}}" alt = "post-photo">
                </div>

                <div class = "details-body">
                    <div class = "field last input-field">
                        <label for = "description">Description</label> 

                        <textarea placeholder = "{{post.description}}" id = "description" name = "description" readonly></textarea>

                        <i class = "bx bxs-caret-up-circle field-icon" onclick = "scrollTextarea(-30)"></i>

                        <i class = "bx bxs-caret-down-circle last field-icon" onclick = "scrollTextarea(30)"></i>
                    </div>

                    <a id = "update" href = "{% url 'Contributor Post Uncertain Update' post.id %}" class = "btn btn-success">Update</a>
                </div>
            </div>
        </div>
    </div>

    <div class = "posts">
        <div class = "character">
            <div id = "column">
                <div class = "character-header">                    
                    <header class = "prevent-select">General Report</header>
                </div>

                <div class = "character-body">
                    <div class = "field first input-field">
                        <label for = "date">Date</label>

                        <input type = "text" placeholder = "{{post.date}}" id = "date" name = "date" readonly>

                        <i class = "bx bx-calendar-alt field-icon"></i>
                    </div>
                    
                    <div class = "field input-field">
                        <label for = "latitude">Latitude</label>

                        <input type = "text" placeholder = "{{post.coordinates.latitude}}" id = "latitude" name = "latitude" readonly>
                    
                        <i class = "bx bx-map field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "longitude">Longitude</label>

                        <input type = "text" placeholder = "{{post.coordinates.longitude}}" id = "longitude" name = "longitude" readonly>
                    
                        <i class = "bx bx-map field-icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <header class = "prevent-select">Optional Information</header>
                </div>

                <div class = "details-body">
                    <div class = "field first input-field">
                        <label for = "size">Size</label>

                        <input type = "text" placeholder = "{{post.post_observations.size | default:'nonexistent'}}" id = "size" name = "size" readonly>
                    
                        <i class = "bx bx-shape-polygon field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "depth">Depth</label>

                        <input type = "text" placeholder = "{{post.post_observations.depth | default:'nonexistent'}}" id = "depth" name = "depth" readonly>
                    
                        <i class = "bx bx-sort-down field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "density">Density</label>

                        <input type = "text" placeholder = "{{post.post_observations.density | default:'nonexistent'}}" id = "density" name = "density" readonly>
                    
                        <i class = "bx bxl-deezer field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "weather">Weather</label>

                        <input type = "text" placeholder = "{{post.post_observations.weather | default:'nonexistent'}}" id = "weather" name = "weather" readonly>
                    
                        <i class = "bx bx-sun field-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for post in valid_postss %}
<div id = "posts-box">
    <div class = "posts">
        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <img id = "post-display" class = "post-photo" src = "{{post.post_photo.url}}" alt = "post-photo">
                </div>

                <div class = "details-body">
                    <div class = "field last input-field">
                        <label for = "description">Description</label> 

                        <textarea placeholder = "{{post.description}}" id = "description" name = "description" readonly></textarea>

                        <i class = "bx bxs-caret-up-circle field-icon" onclick = "scrollTextarea(-30)"></i>

                        <i class = "bx bxs-caret-down-circle last field-icon" onclick = "scrollTextarea(30)"></i>
                    </div>

                    <a id = "share" href = "#" class = "btn btn-primary">Share</a>
                </div>
            </div>
        </div>
    </div>

    <div class = "posts">
        <div class = "character">
            <div id = "column">
                <div class = "character-header">                    
                    <header class = "prevent-select">General Report</header>
                </div>

                <div class = "character-body">
                    <div class = "field first input-field">
                        <label for = "date">Date</label>

                        <input type = "text" placeholder = "{{post.date}}" id = "date" name = "date" readonly>

                        <i class = "bx bx-calendar-alt field-icon"></i>
                    </div>
                    
                    <div class = "field input-field">
                        <label for = "latitude">Latitude</label>

                        <input type = "text" placeholder = "{{post.coordinates.latitude}}" id = "latitude" name = "latitude" readonly>
                    
                        <i class = "bx bx-map field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "longitude">Longitude</label>

                        <input type = "text" placeholder = "{{post.coordinates.longitude}}" id = "longitude" name = "longitude" readonly>
                    
                        <i class = "bx bx-map field-icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <header class = "prevent-select">Optional Information</header>
                </div>

                <div class = "details-body">
                    <div class = "field first input-field">
                        <label for = "size">Size</label>

                        <input type = "text" placeholder = "{{post.post_observations.size | default:'nonexistent'}}" id = "size" name = "size" readonly>
                    
                        <i class = "bx bx-shape-polygon field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "depth">Depth</label>

                        <input type = "text" placeholder = "{{post.post_observations.depth | default:'nonexistent'}}" id = "depth" name = "depth" readonly>
                    
                        <i class = "bx bx-sort-down field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "weather">Weather</label>

                        <input type = "text" placeholder = "{{post.post_observations.weather | default:'nonexistent'}}" id = "weather" name = "weather" readonly>
                    
                        <i class = "bx bx-sun field-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for post in invalid_postss %}
<div id = "posts-box">
    <div class = "posts">
        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <img id = "post-display" class = "post-photo" src = "{{post.post_photo.url}}" alt = "post-photo">
                </div>

                <div class = "details-body">
                    <div class = "field last input-field">
                        <label for = "description">Description</label> 

                        <textarea placeholder = "{{post.description}}" id = "description" name = "description" readonly></textarea>

                        <i class = "bx bxs-caret-up-circle field-icon" onclick = "scrollTextarea(-30)"></i>

                        <i class = "bx bxs-caret-down-circle last field-icon" onclick = "scrollTextarea(30)"></i>
                    </div>

                    <a id = "delete" href = "{% url 'Contributor Post Invalid Delete' post.id %}" class = "btn btn-warning">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class = "posts">
        <div class = "character">
            <div id = "column">
                <div class = "character-header">                    
                    <header class = "prevent-select">General Report</header>
                </div>

                <div class = "character-body">
                    <div class = "field first input-field">
                        <label for = "date">Date</label>

                        <input type = "text" placeholder = "{{post.date}}" id = "date" name = "date" readonly>

                        <i class = "bx bx-calendar-alt field-icon"></i>
                    </div>
                    
                    <div class = "field input-field">
                        <label for = "latitude">Latitude</label>

                        <input type = "text" placeholder = "{{post.coordinates.latitude}}" id = "latitude" name = "latitude" readonly>
                    
                        <i class = "bx bx-map field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "longitude">Longitude</label>

                        <input type = "text" placeholder = "{{post.coordinates.longitude}}" id = "longitude" name = "longitude" readonly>
                    
                        <i class = "bx bx-map field-icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <header class = "prevent-select">Optional Information</header>
                </div>

                <div class = "details-body">
                    <div class = "field first input-field">
                        <label for = "size">Size</label>

                        <input type = "text" placeholder = "{{post.post_observations.size | default:'nonexistent'}}" id = "size" name = "size" readonly>
                    
                        <i class = "bx bx-shape-polygon field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "depth">Depth</label>

                        <input type = "text" placeholder = "{{post.post_observations.depth | default:'nonexistent'}}" id = "depth" name = "depth" readonly>
                    
                        <i class = "bx bx-sort-down field-icon"></i>
                    </div>

                    <div class = "field input-field">
                        <label for = "weather">Weather</label>

                        <input type = "text" placeholder = "{{post.post_observations.weather | default:'nonexistent'}}" id = "weather" name = "weather" readonly>
                    
                        <i class = "bx bx-sun field-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    function scrollTextarea(height){
        var textarea = document.getElementById("context");
        textarea.scrollTop += height;
    }
</script>
{% endblock content %}