{% extends "contributor/index.html" %}
{% load static %}

{% block content %}
<div id = "posts-box">
    {% for post in valid_postss %}
    <div class = "posts">
        <div class = "details">
            <div id = "column">
                <div class = "details-header">
                    <header class = "prevent-select">{{post.description}}</header>
                </div>

                <div class = "details-body">
                    <div id = "row">
                        <div class = "field first input-field">
                            <label for = "username">Contributor</label> 
                            
                            <input type = "text" placeholder = "{{post.user.account.username}}" id = "username" name = "username" readonly>
                            
                            <i class = "bx bxs-user-account field-icon"></i>
                        </div>

                        <div class = "fence"></div>

                        <div class = "field input-field">
                            <label for = "date">Date</label> 

                            <input type = "text" placeholder = "{{post.date | default:'nonexistent'}}" id = "date" name = "date" readonly>

                            <i class = "bx bx-calendar-star field-icon"></i>
                        </div>
                    </div>

                    <a id = "read" href = "{% url 'Contributor Post Valid Read' post.id %}" class = "btn btn-primary">Read</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if messages %}
    {% for message in messages %}
        <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", icon: "warning", iconColor: "#3B5998", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#3B5998"})</script>
        {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", icon: "success", iconColor: "#2ECC71", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#2ECC71"})</script>
        {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", icon: "error", iconColor: "#E74C3C", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#E74C3C"})</script>
        {% endif %}    
    {% endfor %}
{% endif %}

{% endblock content %}