{% extends "public/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "feed-body">
        <div class = "feed-section">
            <h1>POSTS FEED</h1>
        </div>
    
        {% for post in valid_posts %}
            <div class = "feed">
                <div class = "feed-header">
                    <p><img src = "{{post.user.profile_photo.url}}">{{post.user | default:'None available'}}</p>
                    
                    <p>{{post.capture_date | date:'m/d/y' | default:'None available'}}</p>
                </div>
                
                <img class = "feed-image" src = "{{post.post_photos.first.post_photo.url | default:'None available'}}">

                <div class = "feed-context">
                    <h1>{{post.location | default:'None available'}}</h1>
                    
                    <div class = "button">
                        <a href = "{% url 'Public Service Post Feed Read' post.id %}">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
