{% extends "public/service/index/index.html" %}
{% load static %}


{% block content %}
    <div class = "h-full w-dvw justify-center items-center relative px-[2rem]">
        <div class="fixed inset-0 z-[-10] h-screen w-full">
            <img src = "/statics/assets/bg1.jpg" class = "h-full w-full object-cover top-[-5rem]">
        </div>

        <h1 class = "my-[2rem] text-center font-bold text-[3rem] text-white">POSTS DETAILS</h1>

        {% if valid_post %}
            <div class = "w-full p-4 bg-white rounded-2xl my-[2rem]">
                <div class = "flex w-full justify-between items-center">
                    <div>
                        <p><i class = "fa-solid fa-flag mr-2"></i>Valid</p>

                        <p><i class = "fa-solid fa-user mr-2"></i>{{valid_post.user}}</p>
                    </div>

                    <p><i class = "fa-solid fa-calendar-check mr-2"></i>{{valid_post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}</p>
                </div>

                <div>
                    <div class = "post-gallery my-[2rem]">
                        {% for post_photo in valid_post.post_photos.all %}
                            <img class = "h-[15rem] w-full object-cover" src = "{{post_photo.post_photo.url}}">
                        {% endfor %}
                    </div>

                    <p class = "font-bold my-2"><i class = "fa-solid fa-location-dot mr-2"></i>{{valid_post.coordinates.latitude | default:'0'}}° N, {{valid_post.coordinates.longitude | default:'0'}}° E</p>

                    <p class = "indent-10">{{valid_post.description | default:'None available'}}</p>

                    <div class = "mt-[2rem] flex flex-col">
                        <h1 class = "font-bold">Post observation</h1>

                        <div class = "p-2 flex gap-4">
                            <p class = "font-bold">Size</p>

                            <p>{{valid_post.post_observation.size | default:'0'}}</p>
                        </div>

                        <div class = " p-2 flex gap-4">
                            <p class = "font-bold">Depth</p>

                            <p>{{valid_post.post_observation.depth | default:'0'}}</p>
                        </div>

                        <div class = "p-2 flex gap-4">
                            <p class = "font-bold">Density</p>

                            <p>{{valid_post.post_observation.density | default:'0'}}</p>
                        </div>

                        <div class = "p-2 flex gap-4">
                            <p class = "font-bold">Weather</p>

                            <p>{{valid_post.post_observation.weather | default:'None available'}}</p>
                        </div>
                    </div>

                    <div class = "flex gap-4 mt-[5rem] justify-between">
                        <div>
                        </div>
                        
                        <div class = " border-2 w-[10rem] h-[3rem] bg-[#003755] text-white font-bold hover:bg-white hover:border-[#003755] hover:text-[#003755] text-center cursor-pointer p-2 rounded-lg">
                            <a class = "share-post" target = "blank">Share</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <script>
            {% if valid_post %}
                const link = encodeURI("{{scheme}}://{{host}}{% url 'Contributor Service Post Read' valid_post.id %}");

                const facebook = document.querySelector(".share-post");

                facebook.href = "https://www.facebook.com/share.php?u=" + link;
            {% endif %}
        </script>
    </div>
{% endblock content %}