{% extends "public/service/index/index.html" %}
{% load static %}

{% block content %}
    {% if valid_post %}
        <div class = "post">
            <div class = "card-body">
                <p><i class = "fa-solid fa-flag"></i>Valid</p>

                <p><i class = "fa-solid fa-user"></i>{{valid_post.user}}</p>

                <p><i class = "fa-solid fa-calendar-check"></i>{{valid_post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}</p>

                <p><i class = "fa-solid fa-location-dot"></i>{{valid_post.coordinates.latitude | default:'0'}}° N, {{valid_post.coordinates.longitude | default:'0'}}° E</p>

                <div class = "post-gallery">
                    {% for post_photo in valid_post.post_photos.all %}
                        <img class = "gallery-photo" src = "{{post_photo.post_photo.url}}">
                    {% endfor %}      
                </div>

                <p>{{valid_post.description | default:'None available'}}</p>

                <table>
                    <caption>Post observation</caption>

                    <tr>
                        <td>Size</td>

                        <td>{{valid_post.post_observation.size | default:'0'}}</td>
                    </tr>

                    <tr>
                    <td>Depth</td>

                    <td>{{valid_post.post_observation.depth | default:'0'}}</td>
                    </tr>

                    <tr>
                        <td>Density</td>
        
                        <td>{{valid_post.post_observation.density | default:'0'}}</td>
                    </tr>

                    <tr>
                        <td>Weather</td>
        
                        <td>{{valid_post.post_observation.weather | default:'None available'}}</td>
                    </tr>
                </table>

                <div class = "button">
                    <a class = "share-post" target = "blank">Share</a>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        {% if valid_post %}
            const link = encodeURI("{{scheme}}://{{host}}{% url 'Public Service Post Valid Read' valid_post.id %}");
        
            const facebook = document.querySelector(".share-post");

            facebook.href = "https://www.facebook.com/share.php?u=" + link;
        {% endif %}
    </script>
{% endblock content %}