@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 2.5px !important;
    height: 2.5px !important;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF !important; 
}

::-webkit-scrollbar-button{
    display: none !important;
    width: 0px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
    background-color: #003755 !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #002C44 !important;
}


body{
    background: #FFFFFF;
}

nav{
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    z-index: 100;
}

nav.navigation-topbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;          
    right: 0;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #D3D3D3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    z-index: 100;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar{
        padding-left: 15px;
        padding-right: 15px;
    }
}

nav.navigation-topbar > a.header{
    width: fit-content;
    height: 24px;
    cursor: pointer; 
}

@media screen and (min-width: 446px) and (max-width: 775px){
    nav.navigation-topbar > a.header{
        height: 22px !important;

    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    nav.navigation-topbar > a.header{
        height: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    nav.navigation-topbar > a.header{
        height: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    nav.navigation-topbar > a.header{
        height: 16px !important;
    }
}

nav.navigation-topbar img.header{
    vertical-align: unset !important;
    width: fit-content;
    height: 24px;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    nav.navigation-topbar img.header{
        height: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    nav.navigation-topbar img.header{
        height: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    nav.navigation-topbar img.header{
        height: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    nav.navigation-topbar img.header{
        height: 16px !important;
    }
}

nav.navigation-topbar .menu{
    display: flex !important;
    justify-content: space-between;
    gap: 45px;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar .menu{
        gap: 20px;
    }
}

.notification{
    height: 24px;
    cursor: pointer; 
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification{
        height: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification{
        height: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification{
        height: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification{
        height: 16px !important;
    }
}

.notification i{
    font-size: 24px;
    color: #003755;
}

.notification i:hover{
    color: #002C44;
}

.notification i:focus{
    color: #002C44;
}

.notification i:active{
    color: #002C44;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification i{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification i{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification i{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification i{
        font-size: 16px !important;
    }
}

.notification .notification-count{
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    max-width: 22px;
    border-radius: 50%;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    background-color: #C90016;
    text-align: center;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification .notification-count{
        padding-left: 2.5px;
        padding-right: 2.5px;
        padding-top: 1.25px;
        padding-bottom: 1.25px;
        max-width: 20px;
        font-size: 8px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification .notification-count{
        padding-left: 2.5px;
        padding-right: 2.5px;
        padding-top: 1.25px;
        padding-bottom: 1.25px;
        max-width: 18px;
        font-size: 8px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification .notification-count{
        padding-left: 2.5px;
        padding-right: 2.5px;
        padding-top: 1.25px;
        padding-bottom: 1.25px;
        max-width: 16px;
        font-size: 8px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification .notification-count{
        padding-left: 2.5px;
        padding-right: 2.5px;
        padding-top: 1.25px;
        padding-bottom: 1.25px;
        max-width: 14px;
        font-size: 8px;
    }
}

nav.navigation-topbar a.profile{
    margin-bottom: 0px !important;
    width: 24px;
    height: 24px;
    cursor: pointer; 
}

@media screen and (min-width: 446px) and (max-width: 775px){
    nav.navigation-topbar a.profile{
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    nav.navigation-topbar a.profile{
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    nav.navigation-topbar a.profile{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    nav.navigation-topbar a.profile{
        width: 16px;
        height: 16px;
    }
}

nav.navigation-topbar img.profile{
    place-items: center;
    object-fit: cover;
    vertical-align: unset !important;
    margin-bottom: 0px !important;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

nav.navigation-topbar img:hover{
    filter: brightness(75%) !important;
}

nav.navigation-topbar img:focus{
    filter: brightness(75%) !important;
}

nav.navigation-topbar img:active{
    filter: brightness(75%) !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    nav.navigation-topbar img.profile{
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    nav.navigation-topbar img.profile{
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    nav.navigation-topbar img.profile{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    nav.navigation-topbar img.profile{
        width: 16px;
        height: 16px;
    }
}


.content{
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
    background-color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .content{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
}


#load{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 99;
}

.load{
    z-index: 100
} 


nav.navigation-bottombar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;          
    right: 0; 
    bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-top: 1px solid #D3D3D3;
    background-color: #FFFFFF;
    z-index: 100;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-bottombar{
        padding-left: 15px;
        padding-right: 15px;
    }
}

nav.navigation-bottombar a{
    width: 24px;
    height: 24px;
    color: #003755;
    text-decoration: none;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    nav.navigation-bottombar a{
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    nav.navigation-bottombar a{
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    nav.navigation-bottombar a{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    nav.navigation-bottombar a{
        width: 16px;
        height: 16px;
    }
}

nav.navigation-bottombar img{
    vertical-align: unset !important;
    width: 24px;
    height: 24px;
}

nav.navigation-bottombar img:hover{
    filter: brightness(50%) !important;
}

nav.navigation-bottombar img:focus{
    filter: brightness(50%) !important;
}

nav.navigation-bottombar img:active{
    filter: brightness(50%) !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    nav.navigation-bottombar img{
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    nav.navigation-bottombar img{
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    nav.navigation-bottombar img{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    nav.navigation-bottombar img{
        width: 16px;
        height: 16px;
    }
}


.draggable-report{
    position: fixed;
    right: 30px;
    bottom: 70px;
    width: 65px; 
    height: 65px;
    cursor: pointer; 
    z-index: 1000;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .draggable-report{
        right: 10px;
        bottom: 40px;
    }
}

.report{
    width: 100%;
    height: 100%;
}

.report img:hover{
    filter: brightness(50%);
}

.report img:focus{
    filter: brightness(50%);
}

.report img:active{
    filter: brightness(50%);
}


.profile-content{
    position: fixed;
    display: none;
    right: 30px;
    top: 40px;    
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #D3D3D3; 
    background-color: #FFFFFF;
    z-index: 100;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .profile-content{
        right: 10px;
        max-width: 270px;
    }
}

.profile-content a.dropdown-header{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: wrap;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    background-color: #003755;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none !important;
}

.profile-content a.dropdown-header:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.profile-content a.dropdown-header:focus{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.profile-content a.dropdown-header:active{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .profile-content a.dropdown-header{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile-content a.dropdown-header{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile-content a.dropdown-header{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile-content a.dropdown-header{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
    }
}
  
.profile-content .dropdown-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: wrap;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #003755;
    text-decoration: none !important;
}
  
.profile-content .dropdown-item:hover{
    background-color: #B2BEB5 !important;
    color: #002C44 !important;
}

.profile-content .dropdown-item:focus{
    color: #B2BEB5 !important;
    color: #002C44 !important;
}

.profile-content .dropdown-item:active{
    background-color: #B2BEB5 !important;
    color: #002C44 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .profile-content .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile-content .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile-content .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile-content .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 12px;
    }
}

.profile-content .dropdown-item img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .profile-content .dropdown-item img{
        width: 18px !important;
        height: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile-content .dropdown-item img{
        width: 16px !important;
        height: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile-content .dropdown-item img{
        width: 14px !important;
        height: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile-content .dropdown-item img{
        width: 12px !important;
        height: 12px !important;
    }
}

.profile-content .dropdown-item img:hover{
    filter: brightness(50%);
}

.profile-content .dropdown-item img:focus{
    filter: brightness(50%);

}

.profile-content .dropdown-item img:active{
    filter: brightness(50%);
}

.profile-content .dropdown-divider{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #D3D3D3; 
}

.profile-content a.dropdown-footer{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: wrap;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    background-color: #003755;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none !important;
}

.profile-content a.dropdown-footer:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.dropdown-content a.dropdown-footer:focus{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.profile-content a.dropdown-footer:active{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .profile-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 16px;
    }
}

.profile-content.show{
    position: fixed;
    display: block;
}

.notification-content{
    position: fixed;
    display: none;
    right: 100px;
    top: 40px;    
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid #D3D3D3; 
    background-color: #FFFFFF;
    z-index: 100;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .notification-content{
        right: 40px;
        max-width: 270px;  
    }
}

.notification-content .dropdown-item{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: wrap;
    text-decoration: none !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #003755;
    text-decoration: none !important;
}

.notification-content .dropdown-item:hover{
    color: #002C44 !important;
    background-color: #B2BEB5;
}

.notification-content .dropdown-item:focus{
    color: #002C44 !important;
    background-color: #B2BEB5;
}

.notification-content .dropdown-item:active{
    color: #002C44 !important;
    background-color: #B2BEB5;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-content .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-content .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-content .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-content .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 12px;
    }
}

.notification-content .dropdown-item:first-child{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    background-color: rgb(52, 144, 242);
    color: #003755;
    text-decoration: none !important;
}

.notification-content .dropdown-item .item-header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.notification-content .dropdown-item .item-header img{
    object-fit: cover;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-content .dropdown-item .item-header img{
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-content .dropdown-item .item-header img{
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-content .dropdown-item .item-header img{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-content .dropdown-item .item-header img{
        width: 16px;
        height: 16px;
    }
}

.notification-content .dropdown-item .item-context p{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #003755;
    text-align: justify;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-content .dropdown-item .item-context p{
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-content .dropdown-item .item-context p{
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-content .dropdown-item .item-context p{
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-content .dropdown-item .item-context p{
        font-size: 12px;
    }
}

.notification-content .dropdown-item .item-context p strong{
    font-weight: 700 !important;
}

.notification-content .dropdown-item .item-context p strong:hover{
    color: #002C44 !important;
}

.notification-content .dropdown-item .item-context p strong:focus{
    color: #002C44 !important;
}

.notification-content .dropdown-item .item-context p strong:active{
    color: #002C44 !important;
}

.notification-content .dropdown-divider{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #D3D3D3; 
}

.notification-content a.dropdown-footer{
    display: block;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    white-space: wrap;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    background-color: #003755;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none !important;
}

.notification-content a.dropdown-footer:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.notification-content a.dropdown-footer:focus{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.notification-content a.dropdown-footer:active{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .notification-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .notification-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .notification-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .notification-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 12px;
    }
}

.notification-content.show{
    display: block;
}


.swal2-container .swal2-popup{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-radius: 5px !important;
    border: 1px solid #D3D3D3 !important; 
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .swal2-popup{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-radius: 5px !important;
    }
}

.swal2-container .swal2-popup .swal2-styled:focus{
    box-shadow: none !important;
}

.swal2-container .swal2-html-container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    color: #003755 !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
        font-size: 12px !important;
    }
}

.swal2-container div:where(.swal2-icon){
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container div:where(.swal2-icon){
        margin-bottom: 5px !important;
    }
}

.swal2-container div:where(.swal2-icon).swal2-warning{
    border-color: #003755 !important;
    color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-success .swal2-success-ring{
    border: 1px solid #D3D3D3 !important;
}

.swal2-container div:where(.swal2-icon).swal2-success [class ^= swal2-success-line]{
    background-color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error{
    border-color: #003755 !important;
    color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error [class ^= swal2-x-mark-line]{
    background-color: #003755 !important;
}

.swal2-container h2:where(.swal2-title){
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container h2:where(.swal2-title){
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 5px !important;
    }
}

.swal2-container .title{
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: 24px !important;   
    color: #003755 !important;
    pointer-events: none !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .title{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .title{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .title{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .title{
        font-size: 16px !important;
    }
}

.swal2-container div:where(.swal2-actions){
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.swal2-container .swal2-actions{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: fit-content !important;
}

.swal2-container .swal2-actions button{
    background-color: #003755 !important;
}

.swal2-container .info-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .info-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .info-button::before{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #D3D3D3 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .info-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .info-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .info-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .info-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .info-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .success-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .success-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .success-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #D3D3D3 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .success-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .success-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .success-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .success-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .success-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .error-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .error-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .error-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #D3D3D3 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .error-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .error-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .error-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .error-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .error-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .confirm-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .confirm-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .confirm-button::before{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    content: "Yes" !important;
    visibility: visible !important;
    border: 1px solid #D3D3D3 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .confirm-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .confirm-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .confirm-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .confirm-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .confirm-button::before{
        font-size: 12px !important;
    }
}

.swal2-container .cancel-button{
    visibility: hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .cancel-button{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.swal2-container .cancel-button::before{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    content: "No" !important;
    visibility: visible !important;
    border: 1px solid #D3D3D3 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .cancel-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .swal2-container .cancel-button::before{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .swal2-container .cancel-button::before{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .swal2-container .cancel-button::before{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .swal2-container .cancel-button::before{
        font-size: 12px !important;
    }
}