@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: #698F3F #154360 !important;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #154360 !important; 
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    border: 1px solid #B2BEB5; 
    box-shadow: 0 0 0 1px #B2BEB5 !important;
    background: #698F3F !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #557433 !important;
}


nav{
    width: 100%;
    position: relative;
    background-color: #154360;
    z-index: 100;
}

nav .navigation-bar{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navigation-bar .navigation-logo img{
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;   
    width: 30px !important;
    height: 30px !important;
}

nav .navigation-bar .navigation-logo img:hover{
    opacity: 0.5 !important;
}

nav .navigation-bar .navigation-logo img:focus{
    opacity: 0.5 !important;
}

nav .navigation-bar .navigation-logo img:active{
    opacity: 0.5 !important;
}

@media screen and (min-width: 320px) and (max-width: 935px){
    nav .navigation-bar .navigation-logo img{
        margin-right: 0px;
    }
}

nav .navigation-bar .navigation-menu{
    display: flex;
    align-items: center;
}

nav .navigation-bar .navigation-menu a{
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 20px !important;
    color: #FFFFFF;
    text-decoration: none;
}

nav .navigation-bar .navigation-menu .menu{
    right: -100%;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 262px;
    height: 100%;
    position: fixed;
    background-color: #154360;
    z-index: 100;
    overflow: auto;
}

nav.active .navigation-bar .navigation-menu .menu{
    right: -0%;
}

nav .navigation-bar .navigation-menu .menu .toggle{
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

nav .navigation-bar i.fa-solid.fa-circle-arrow-left{
    font-size: 30px !important;
    color: #FFFFFF;
}

nav .navigation-bar i.fa-solid.fa-circle-arrow-left:hover{
    color: #B2BEB5;
    cursor: pointer;
}

nav .navigation-bar i.fa-solid.fa-circle-arrow-left:focus{
    color: #B2BEB5;
    cursor: pointer;
}

nav .navigation-bar i.fa-solid.fa-circle-arrow-left:active{
    color: #B2BEB5;
    cursor: pointer;
}

nav .navigation-bar .navigation-sidelinks{
    display: flex;
    align-items: flex-end;        
    flex-direction: column;
}

.navigation-sidelinks li{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px;
    margin-bottom: 0px;    
    list-style: none;
}

.navigation-sidelinks li a{
    margin-top: 30px !important;
    position: relative;
    font-family: "Philosopher";
    font-weight: 700;
    font-size: 20px !important;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navigation-sidelinks li:hover a, .navigation-sidelinks li:hover i{
    color: #B2BEB5 !important;
}

.navigation-sidelinks li:active a, .navigation-sidelinks li:hover i{
    color: #B2BEB5 !important;
}

.navigation-sidelinks li:active a, .navigation-sidelinks li:active i{
    color: #B2BEB5 !important;
}

nav .navigation-bar i.fa-solid.fa-bars{
    font-size: 30px !important;
    color: #FFFFFF;
}

nav .navigation-bar i.fa-solid.fa-bars:hover{
    color: #B2BEB5;
    cursor: pointer;
}

nav .navigation-bar i.fa-solid.fa-bars:focus{
    color: #B2BEB5;
    cursor: pointer;
}

nav .navigation-bar i.fa-solid.fa-bars:active{
    color: #B2BEB5;
    cursor: pointer;
}

nav .navigation-bar .opened-side{
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
}

.show{
    display: block;
}


.content{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}