@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 2.5px !important;
    height: 2.5px !important;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF !important; 
}

::-webkit-scrollbar-button{
    display: none !important;
    width: 0px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
    background-color: #003755 !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #002C44 !important;
}


body{
    background: #FFFFFF;
}

nav{
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    z-index: 100;
}

nav.navigation-topbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;          
    right: 0;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(235, 235, 235);
    z-index: 100;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;          
        right: 0;
        top: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        background-color: #FFFFFF;
        border-bottom: 1px solid rgb(235, 235, 235);
        z-index: 100;
    }
}

nav.navigation-topbar > a.header{
    height: 30px;
    cursor: pointer; 
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar > a.header{
        height: 20px;
        cursor: pointer; 
    }
}

nav.navigation-topbar > a.profile{
    margin-bottom: 0px !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer; 
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar > a.profile{
        margin-bottom: 0px !important;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer; 
    }
}

nav.navigation-topbar img.header{
    height: 30px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar img.header{
        height: 20px !important;
    }
}

nav.navigation-topbar .menu{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar .menu{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
}

.notification i{
    font-size: 30px;
    color: #003755;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .notification i{
        font-size: 17px;
        color: #003755;
    }
}

.notification .notification-count{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 30px;
    border-radius: 50%;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 8px;
    color: #FFFFFF;
    background-color: #C90016;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .notification .notification-count{
        position: absolute;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 1px;
        padding-bottom: 1px;
        max-width: 20px;
        border-radius: 50%;
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 7px;
        color: #FFFFFF;
        background-color: #C90016;
        text-align: center;
    }
}

nav.navigation-topbar a.profile{
    margin-bottom: 0px !important;
    height: 30px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar a.profile{
        margin-bottom: 0px !important;
        height: 20px !important;
    }
}

nav.navigation-topbar img.profile{
    margin-bottom: 0px !important;
    height: 30px !important;
    border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-topbar img.profile{
        margin-bottom: 0px !important;
        height: 20px !important;
        border-radius: 50%;
    }
}

nav.navigation-topbar img:hover{
    filter: brightness(75%) !important;
}

nav.navigation-topbar img:focus{
    filter: brightness(75%) !important;
}

nav.navigation-topbar img:active{
    filter: brightness(75%) !important;
}


.content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    background-color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .content{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 60px;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        background-color: #FFFFFF;
    }
}

nav.navigation-bottombar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;          
    right: 0; 
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 100;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-bottombar{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;          
        right: 0; 
        bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        background-color: #FFFFFF;
        z-index: 100;
    }
}

nav.navigation-bottombar a{
    width: 30px;
    height: 30px !important;
    color: #003755;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-bottombar a{
        width: 20px;
        height: 20px !important;
        color: #003755;
        text-decoration: none;
    }
}

nav.navigation-bottombar img{
    width: 30px;
    height: 30px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    nav.navigation-bottombar img{
        width: 20px;
        height: 20px !important;
    }
}

nav.navigation-bottombar img:hover{
    filter: brightness(50%) !important;
}

nav.navigation-bottombar img:focus{
    filter: brightness(50%) !important;
}

nav.navigation-bottombar img:active{
    filter: brightness(50%) !important;
}


.draggable-report{
    position: fixed;
    right: 10px;
    bottom: 60px;
    width: 50px; 
    height: 50px;
    cursor: pointer; 
    z-index: 1000;
}

.report{
    width: 100%;
    height: 100%;
}

.report img:hover{
    filter: brightness(50%);
}

.report img:focus{
    filter: brightness(50%);
}

.report img:active{
    filter: brightness(50%);
}

.profile-content{
    position: absolute;
    display: none;
    right: 15px;
    top: 40px;    
    min-width: 250px;
    border-radius: 5px;
    border: 1px solid #003755;     
    background-color: #FFFFFF;
    z-index: 100;
}

.profile-content a.dropdown-header{
    display: block;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 22px;
    background-color: #003755;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none !important;
}

.profile-content a.dropdown-header:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.profile-content a.dropdown-header:focus{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.profile-content a.dropdown-header:active{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile-content a.dropdown-header{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 20px;
        background-color: #003755;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile-content a.dropdown-header{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 18px;
        background-color: #003755;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile-content a.dropdown-header{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 16px;
        background-color: #003755;
        color: #FFFFFF;
    }
}
  
.dropdown-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #003755;
    text-decoration: none !important;
}
  
.dropdown-item:hover{
    background-color: #B2BEB5 !important;
    color: #002C44 !important;
}

.dropdown-item a:focus{
    color: #B2BEB5 !important;
    color: #002C44 !important;
}

.dropdown-item a:active{
    background-color: #B2BEB5 !important;
    color: #002C44 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px;
        background-color: #FFFFFF;
        color: #003755;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 14px;
        background-color: #FFFFFF;
        color: #003755;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .dropdown-item{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 12px;
        background-color: #FFFFFF;
        color: #003755;
    }
}

.dropdown-item img{
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .dropdown-item img{
        width: 20px !important;
        height: 20px !important;
        margin-right: 10px;
    }
}

.dropdown-item img:hover{
    filter: brightness(50%);
}

.dropdown-item img:focus{
    filter: brightness(50%);

}

.dropdown-item img:active{
    filter: brightness(50%);
}

.dropdown-divider{
    border-bottom: 1px solid #003755; 
}

.profile-content a.dropdown-footer{
    display: block;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 22px;
    background-color: #003755;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none !important;
}

.profile-content a.dropdown-footer:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.dropdown-content a.dropdown-footer:focus{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.profile-content a.dropdown-footer:active{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .profile-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 20px;
        background-color: #003755;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .profile-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 18px;
        background-color: #003755;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .profile-content a.dropdown-footer{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 16px;
        background-color: #003755;
        color: #FFFFFF;
    }
}

.show{
    position: fixed;
    display: block;
}

.notification-content{
    position: absolute;
    display: none;
    right: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 5px;
    background-color: #FFFFFF;
    min-width: 250px;
    z-index: 1000;
}


.notification-content .dropdown-item {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.notification-content.show{
    display: block;
}

.contrib-dropdown-item{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contrib-dropdown-item:last-child {
    border-bottom: none;
}

.unread-post-link {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.unread-post-link:hover {
    text-decoration: underline;
}

/* Style the small text for the creation date */
.contrib-dropdown-item small {
    display: block;
    color: #777;
    margin-top: 5px;
}

/* Style for the notification bell */
.notification {
    cursor: pointer;
}

.notification .badge {
    font-size: 0.75em;
    font-weight: bold;
}


.notification {
    position: relative;
    display: inline-block;
}

.notification-link {
    text-decoration: none;
    color: inherit;
    position: relative;
}
