{% extends "public/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "inquiry-body">
        <!-- <div class = "inquiry-section">
            <h1>FAQS</h1>
        </div> -->

        <div class = "inquiry">
            {% for inquiry in inquiries %}
                <div class = "inquiry-context">
                    <p>{{inquiry.question}}</p>
                    
                    <p>{{inquiry.answer}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}