{% extends "contributor/index/index.html" %}
{% load static %}

{% block content %}
<div class = "map">
    <div class = "contributor-map">
    </div>
</div>

{% if messages %}
{% for message in messages %}
    <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
    {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
    {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
    {% endif %}    
{% endfor %}
{% endif %}

<script type = "text/javascript">if (window.location.hash && window.location.hash === "#_=_"){ window.location.hash = ""; history.pushState("", document.title, window.location.pathname);}</script>

<script src = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity = "sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin = ""></script>

<script>
    var map;

    function revealMap(){
        var contributorMap = document.getElementsByClassName("contributor-map")[0];

        map = L.map(contributorMap, {zoomControl: true, scrollWheelZoom: false, dragging: true, maxBounds: [[5.3, 124.3],[6.3, 126.3]]}).setView([5.9656, 125.1929], 11);

        L.tileLayer("https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}", {minZoom: 11, attribution: "ESRI"}).addTo(map);

        var starfish = L.icon({iconUrl: "{% static 'assets/icons/marker.png' %}", iconSize: [30, 30], iconAnchor: [15, 15]});

        {% for post in posts %}
            L.marker([{{post.coordinates.latitude}}, {{post.coordinates.longitude}}], {icon: starfish}).addTo(map);
        {% endfor %}
    }

    window.addEventListener("load", function (){
        revealMap();
    });
</script>
{% endblock content %}