.resource-body{
    position: relative;
    display: grid;
    place-items: start;
    width: 100%;
    height: 100%;
    color: #003755;
}

/* .resource-body .resource-section{
    display: flex;                   
    align-items: center; 
    justify-content: center;          
    flex-direction: column;
    width: 100%;                     
    text-align: center;                                   
}

.resource-body .resource-section h1{
    font-family: "Montserrat";
    font-weight: 700;       
    font-size: 36px;     
    color: #003755;   
    text-align: center;     

}

@media screen and (min-width: 446px) and (max-width: 775px){
    .resource-body .resource-section h1{
        font-size: 24px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .resource-body .resource-section h1{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .resource-body .resource-section h1{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .resource-body .resource-section h1{
        font-size: 18px !important;
    }
} */

.resource-body .resource{
    margin-bottom: 15px;
}

.resource-body .resource:last-child{
    margin-bottom: 0px;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .resource-body .resource{
        margin-bottom: 5px;
    }
}

.resource-body .resource .resource-context{
    display: grid;
    align-items: center;
    padding-top: 15px;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #D3D3D3;
    text-decoration: none;
}

.resource-body .resource .resource-context:first-child{
    padding-top: 0px;
}

.resource-body .resource .resource-context:last-child{
    border-bottom: unset;
}

.resource-body .resource .resource-context p{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px !important;
    color: #003755;
}

.resource-body .resource .resource-context p:first-child{
    padding-top: 15px;
}

.resource-body .resource .resource-context:first-child p:first-child{
    padding-top: 0px;
}

.resource-body .resource .resource-context p:last-child{
    padding-bottom: 15px;
}

.resource-body .resource .resource-context:last-child p:last-child{
    padding-top: 0px;
}

@media screen and (min-width: 445px) and (max-width: 775px){
    .resource-body .resource .resource-context p{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .resource-body .resource .resource-context p{
        font-size: 14px !important;
    }
}

.resource-body .resource .resource-context strong{
    word-break: break-word;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px !important;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .resource-body .resource .resource-context strong{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px){
    .resource-body .resource .resource-context strong{
        font-size: 16px !important;
    }
}

.resource-body .resource .resource-context i{
    margin-left: 10px;
    font-size: 24px !important;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .resource-body .resource .resource-context i{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .resource-body .resource .resource-context i{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .resource-body .resource .resource-context i{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .resource-body .resource .resource-context i{
        font-size: 16px !important;
    }
}