{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    {% for announcement in announcement %}
        <div class = "announcement">
            <div class = "card-body">
                <header>{{announcement.title | default:'None available'}}</header>

                <p><i class = "fa-solid fa-feather"></i>{{announcement.user | default:'None available'}}</p>

                <p><i class = "fa-solid fa-calendar-check"></i>{{announcement.release_date | date:'M. j, Y, g:i a' | default:'None available'}}</p>

                <p><i class = "fa-solid fa-location-dot"></i>{{announcement.place | default:'None available'}}</p>

                <img src = "{{announcement.announcement_photo.url}}">

                <p>{{announcement.context | default:'None available'}}</p>

                <div class = "buttons">
                    <a class = "share-announcement" target = "blank">Share</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        {% if announcement %}
            const link = encodeURI("{{scheme}}://{{host}}{% url 'Contributor Service Announcement Read' announcement.id %}");
        
            const facebook = document.querySelector(".share-announcement");

            facebook.href = "https://www.facebook.com/share.php?u=" + link;
        {% endif %}
    </script>
{% endblock content %}