<!DOCTYPE html>
{% load static %}

<html lang = "en">
    <head>
        <meta charset = "UTF-8">

        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">

        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "manifest" href = "{% static 'templates/webwares/manifest.json' %}">

        <script src = "{% static 'templates/webwares/application.js' %}"></script>

        <meta name = "theme-color" content = "rgb(52, 144, 242)">

        <link rel = "apple-touch-icon" href = "{% static 'assets/icons/logo (180 x 180).png' %}">

        <meta name = "apple-mobile-web-app-status-bar" content = "rgb(52, 144, 242)">

        <link rel = "icon" type = "image/x-icon" href = "{% static 'assets/icons/logo.png' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/index/index.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/home/home.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/post/feed.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/post/read.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/map/map.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/announcement/announcement.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/announcement/read.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/intervention/intervention.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/intervention/read.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/post/post.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/resource/resource.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/inquiry/inquiry.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/report/report.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/notification/notification.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/profile/profile.css' %}">

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/contributor/service/profile/update.css' %}">

        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity = "sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin = "anonymous" referrerpolicy = "no-referrer"/>

        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">   
               
        <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity = "sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin = ""/>    

        <script src = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity = "sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin = ""></script>
        
        <script src = "https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js"></script>

        <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet-geosearch/dist/geosearch.css"/>

        <script src = "https://cdn.jsdelivr.net/npm/leaflet-geosearch/dist/geosearch.min.js"></script>
    
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    
        <script src = "https://cdn.jsdelivr.net/npm/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

        <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css"/>

        <script src = "https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

        <title>COTSEye | Home</title>
    </head>

    <body>
        <nav class = "navigation-topbar">
            <a href = "{% url 'Contributor Service Home' %}" class = "header"><img src = "{% static 'assets/icons/header.png' %}" class = "header"></a>
            
            <div class = "menu">
                <div class = "notification">
                    <a class = "notification-link" href = "{% url 'Contributor Service Notification' %}">
                        <i class = "fa-solid fa-bell"></i>
    
                        {% if unread_notifications %}
                            <span class = "notification-count">{{unread_notifications | length}}</span>
                        {% endif %}
                    </a>
                </div>
                
                <a onclick = "shownProfile()" class = "profile"><img src = "{{user_profile.profile_photo.url}}" class = "drop profile"></a>
            </div>
        </nav>
        
        <div class = "menu-content">
            <div class = "notification-dropdown">
                <div id = "notification-content" class = "notification-content">
                    {% if unread_notifications %}
                        {% for notification in unread_notifications %}
                            {% if notification.contenttype.model == "post" and notification.object.post_status.is_valid == True or notification.object.post_status.is_invalid == True %}
                                <a class = "dropdown-item" href = "{% url 'Contributor Service Notification Read' id=notification.id %}" class = "post-link">
                                    <div class = "item-header">
                                        <img src = "{{notification.object.post_photos.first.post_photo.url}}">

                                        <div class = "item-context">
                                            {% if notification.object.post_status.is_valid == True %}
                                                <p>Your report has been <strong>approved</strong>.</p>

                                            {% else %}
                                                <p>Your report has been <strong>disapproved</strong>.</p>
                                            {% endif %}
                                           
                                            <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                        </div>
                                    </div>
                                </a>

                            {% elif notification.contenttype.model == "announcement" %}
                                <a class = "dropdown-item" href = "{% url 'Contributor Service Notification Read' id=notification.id %}" class = "announcement-link">
                                    <div class = "item-header">
                                        <img src = "{{notification.object.announcement_photo.url}}">

                                        <div class = "item-context">
                                            <p><strong>{{notification.object.hosting_agency}}</strong> published an announcement.</p>

                                            <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                        </div>
                                    </div>
                                </a>

                            {% elif notification.contenttype.model == "intervention" %}
                                <a class = "dropdown-item" href = "{% url 'Contributor Service Notification Read' id=notification.id %}" class = "intervention-link">
                                    <div class = "item-header">
                                        <img src = "{{notification.object.intervention_photo.url}}">

                                        <div class = "item-context">
                                            <p><strong>{{notification.object.hosting_agency}}</strong> held an activity.</p>
                                            
                                            <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}

                            <div class = "dropdown-divider"></div>
                        {% endfor %}

                    {% else %}
                        <a class = "dropdown-item">You have no unread notifications in the last 30 days.</a>
                    {% endif %}

                    <a href = "{% url 'Contributor Service Notification' %}" class = "dropdown-footer">See more</a>
                </div>
            </div>

            <div class = "profile-dropdown">
                <div id = "profile-content" class = "profile-content">
                    <a class = "dropdown-header" href = "{% url 'Contributor Service Profile' %}">{{username}}</a>

                    <a href = "{% url 'Contributor Service Post' %}" class = "dropdown-item"><img src = "{% static 'assets/icons/post.png' %}">My posts</a>

                    <div class = "dropdown-divider"></div>

                    <a href = "{% url 'Contributor Service Resource' %}" class = "dropdown-item"><img src = "{% static 'assets/icons/resource.png' %}">Resources</a>
                                    
                    <div class = "dropdown-divider"></div>
                    
                    <a href = "{% url 'Contributor Service Inquiry' %}" class = "dropdown-item"><img src = "{% static 'assets/icons/inquiry.png' %}">FAQs</a>
                    
                    <div class = "dropdown-divider"></div>
                    
                    <a href = "{% url 'Contributor Service Logout' %}" class = "dropdown-footer">Log out</a>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function(){
                const element = document.querySelector(".draggable-report");

                let positionX = 0, positionY = 0, offsetX = 0, offsetY = 0;

                let isDragging = false;

                element.onmousedown = function(event){
                    startDrag(event.clientX, event.clientY);
                    
                    document.onmousemove = onMouseMove;
                    
                    document.onmouseup = stopDrag;
                };

                element.ontouchstart = function(event){
                    var touch = event.touches[0];

                    startDrag(touch.clientX, touch.clientY);

                    document.ontouchmove = onTouchMove;

                    document.ontouchend = stopDrag;
                };

                function startDrag(x, y){
                    offsetX = x - element.getBoundingClientRect().left;

                    offsetY = y - element.getBoundingClientRect().top;

                    isDragging = true;
                };

                function onMouseMove(event){
                    if (isDragging) {
                        moveElement(event.clientX, event.clientY);
                    }
                };

                function onTouchMove(event){
                    if (isDragging) {
                        var touch = event.touches[0];
                        moveElement(touch.clientX, touch.clientY);
                    }
                };

                function moveElement(x, y){
                    positionX = x - offsetX;

                    positionY = y - offsetY;

                    element.style.left = positionX + "px";

                    element.style.top = positionY + "px";
                };

                function stopDrag(){
                    isDragging = false;
                    document.onmousemove = document.onmouseup = document.ontouchmove = document.ontouchend = null;
                };
            });
        </script>

        <div class = "content">
            {% block content %}
    
    
            {% endblock content %}

            {% block draggable_report %}
                <a href = "{% url 'Contributor Service Report' %}" class = "draggable-report"><img src = "{% static 'assets/icons/report.png' %}" class = "report"></a>
            {% endblock draggable_report %}
        </div>

        <div id = "load">
            <img class = "load" src = "{% static 'assets/icons/load.gif' %}"/>
        </div>  

        <script>window.onload = function(){document.getElementById("load").style.display = "none"}</script>    

        <nav class = "navigation-bottombar">
            <a href = "{% url 'Contributor Service Home' %}">
                <img src = "{% static 'assets/icons/home.png' %}">
            </a>

            <a href = "{% url 'Contributor Service Post Feed' %}">
                <img src = "{% static 'assets/icons/feed.png' %}">
            </a>

            <a href = "{% url 'Contributor Service Map' %}">
                <img src = "{% static 'assets/icons/map.png' %}">
            </a>

            <a href = "{% url 'Contributor Service Announcement' %}">
                <img src = "{% static 'assets/icons/announcement.png' %}">
            </a>
            
            <a href = "{% url 'Contributor Service Intervention' %}">
                <img src = "{% static 'assets/icons/intervention.png' %}">
            </a>
        </nav>
    </body>

    <script>
        const toggleButton = document.getElementById("toggleButton");
        
        const sideLinks = document.querySelector(".sidelinks");

        toggleButton.addEventListener("click", function(){
            sideLinks.classList.toggle("show");

            toggleButton.classList.add("hidden");
        });
    </script>

    <script>
        function shownProfile(){
            document.getElementById("profile-content").classList.toggle("show");
        };

        window.onclick = function(event){
            if (!event.target.matches("img.drop")){
                var dropdown = document.getElementsByClassName(".profile-content");

                var amount;

                for (amount = 0; amount < dropdown.length; amount++){
                    var openDropdown = dropdown[amount];
                    
                    if (openDropdown.classList.contains("show")){
                        openDropdown.classList.remove("show");
                    };
                };
            };
        };
    </script>

    <!-- <script>
        document.addEventListener("DOMContentLoaded", function (){
            const notification = document.querySelector(".notification-link");

            const dropdown = document.querySelector(".notification-content");

            notification.addEventListener("click", function (event){
                event.stopPropagation();
                
                dropdown.classList.toggle("show");
            });

            document.addEventListener("click", function (event){
                if (!dropdown.contains(event.target) && event.target !== notification){
                    dropdown.classList.remove("show");
                };
            });

            const postLink = document.querySelectorAll(".post-link");

            postLink.forEach(link => {
                link.addEventListener("click", function (event){
                    event.preventDefault();

                    const post = this.getAttribute("post");
                    
                    const url = "{% url 'Contributor Service Notification Mark' 0 %}".replace("0", post);

                    fetch(url, {
                        method: "GET",

                        headers: {
                            "X-Requested-With": "XMLHttpRequest",
                        },

                    }).then(response => response.json()).then(data => {
                        if (data.success){
                            this.parentElement.remove();

                            const notificationCount = document.querySelector("notification-count");

                            if (notificationCount) {
                                let count = parseInt(notificationCount.innerText);

                                count--;

                                if (count > 0){
                                    notificationCount.innerText = count;

                                } else{
                                    notificationCount.remove();
                                    const emptyMessage = document.createElement("a");

                                    emptyMessage.classList.add("dropdown-item");

                                    emptyMessage.innerText = "COTSEye found no unread posts in the last 30 days.";

                                    dropdown.appendChild(emptyMessage);
                                };
                            };

                            window.location.href = this.href;
                        };
                    });
                });
            });
        });
    </script> -->
    
    <script type = "text/javascript">if(window.location.hash && window.location.hash === "#_=_"){ window.location.hash = ""; history.pushState("", document.title, window.location.pathname);}</script>
</html>