{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "notification-body">
        <div class = "notification">
            {% if notification_items %}
                <div class = "notification-item">
                    {% for notification in notification_items %}
                        {% if notification.contenttype.model == "post" and notification.object.post_status.is_valid == True or notification.object.post_status.is_invalid == True %}
                            <a href = "{% url 'Contributor Service Notification Read' id=notification.id %}">
                                {% if notification.is_read == True %}
                                    <div class = "notification-read">
                                        <div class = "item-header">
                                            <img src = "{{notification.object.post_photos.first.post_photo.url}}">

                                            <div class = "item-context">
                                                {% if notification.object.post_status.is_valid == True %}
                                                    <p>Your report has been <strong>approved</strong>.</p>

                                                {% else %}
                                                    <p>Your report has been <strong>disapproved</strong>.</p>
                                                {% endif %}
                                                
                                                <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                            </div>

                                            <i class = "fa-solid fa-ellipsis"></i>
                                        </div>
                                    </div>

                                {% else %}
                                    <div class = "notification-unread">
                                        <div class = "item-header">
                                            <img src = "{{notification.object.post_photos.first.post_photo.url}}">

                                            <div class = "item-context">
                                                {% if notification.object.post_status.is_valid == True %}
                                                    <p>Your report has been <strong>approved</strong>.</p>

                                                {% else %}
                                                    <p>Your report has been <strong>disapproved</strong>.</p>
                                                {% endif %}
                                                
                                                <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                            </div>

                                            <i class = "fa-solid fa-ellipsis"></i>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>

                        {% elif notification.contenttype.model == "announcement" %}
                            <a href = "{% url 'Contributor Service Notification Read' id=notification.id %}">
                                {% if notification.is_read == True %}
                                    <div class = "notification-read">
                                        <div class = "item-header">
                                            <img src = "{{notification.object.announcement_photo.url}}">

                                            <div class = "item-context">
                                                <p><strong>{{notification.object.hosting_agency}}</strong> published an announcement.</p>

                                                <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                            </div>

                                            <i class = "fa-solid fa-ellipsis"></i>
                                        </div>
                                    </div>

                                {% else %}
                                    <div class = "notification-unread">
                                        <div class = "item-header">
                                            <img src = "{{notification.object.announcement_photo.url}}">

                                            <div class = "item-context">
                                                <p><strong>{{notification.object.hosting_agency}}</strong> published an announcement.</p>
                                                
                                                <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                            </div>

                                            <i class = "fa-solid fa-ellipsis"></i>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>

                        {% elif notification.contenttype.model == "activity" %}
                            <a href = "{% url 'Contributor Service Notification Read' id=notification.id %}">
                                {% if notification.is_read == True %}
                                    <div class = "notification-read">
                                        <div class = "item-header">
                                            <img src = "{{notification.object.activity_photo.url}}">

                                            <div class = "item-context">
                                                <p><strong>{{notification.object.hosting_agency}}</strong> held an activity.</p>

                                                <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                            </div>

                                            <i class = "fa-solid fa-ellipsis"></i>
                                        </div>
                                    </div>

                                {% else %}
                                    <div class = "notification-unread">
                                        <div class = "item-header">
                                            <img src = "{{notification.object.activity_photo.url}}">

                                            <div class = "item-context">
                                                <p><strong>{{notification.object.hosting_agency}}</strong> held an activity.</p>
                                                
                                                <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                            </div>

                                            <i class = "fa-solid fa-ellipsis"></i>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>

                        {% elif notification.notificationtype == "achievement" %}
                            <a href = "{% url 'Contributor Service Notification Read' id=notification.id %}">
                                {% if notification.is_read %}
                                    <div class = "notification-read">
                                        <div class = "item-header">
                                            <img src = "{{notification.object.badge_icon.url}}">
                                            
                                            <div class = "item-context">
                                                <p><strong>{{notification.object.badge_name}}</strong> has been achieved.</p>
                                                
                                                <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                            </div>

                                            <i class = "fa-solid fa-ellipsis"></i>
                                        </div>
                                    </div>

                                {% else %}
                                    <div class = "notification-unread">
                                        <div class = "item-header">
                                            <img src = "{{notification.object.badge_icon.url}}">

                                            <div class = "item-context">
                                                <p><strong>{{notification.object.badge_name}}</strong> has been achieved.</p>
                                                
                                                <p>{{notification.creation_date | date:'m/d/Y'}}</p>
                                            </div>

                                            <i class = "fa-solid fa-ellipsis"></i>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </div>

            {% else %}
                <div class = "notification-item">            
                    <p>You have no notifications in the last 30 days.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}