.home-body{
    position: relative;
    display: grid;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.home-body .home-section{
    display: flex;                   
    align-items: center; 
    justify-content: center;          
    flex-direction: column;
    width: 100%;                     
    text-align: center;                                   
}

.home-body .home-section h1{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 24px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;     
}

.home-body .home-cards{
    display: grid;
    row-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250, 0.75)
}

.home-body .home-cards h1{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 24px;        
    font-family: "Montserrat";
    color: #003755;
}

.home-body .home-cards .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.home-body .home-cards .cards-container .card .card-body{
    width: 100%;
}

.home-body .home-cards .cards-container .card .card-body{
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.home-body .home-cards .cards-container .card .card-body p:first-child{
    margin-bottom: 0px !important;
    font-weight: 400;   
    font-size: 16px;
    font-family: "Montserrat";
    color: #FFFFFF;
}

.home-body .home-cards .cards-container .card .card-body h1{
    margin-bottom: 0px !important;
    font-weight: 700; 
    font-size: 20px;      
    font-family: "Montserrat";
    color: #FFFFFF;
    text-transform: uppercase;
}

.home-body .home-cards .cards-container .card .card-body .card-amount p:first-child{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 16px;        
    font-family: "Montserrat";
    color: #FFFFFF;
}

.home-body .home-cards .cards-container .card .card-body .card-amount p:last-child{
    margin-bottom: 0px !important;
    font-weight: 400;       
    font-size: 12px;        
    font-family: "Montserrat";
    color: #FFFFFF;
}

.home-body .home-cards .cards-container .card .card-body > p{
    margin-bottom: 0px !important;
    font-weight: 400;       
    font-size: 12px;        
    font-family: "Montserrat";
    color: #FFFFFF;
}

.home-body .home-cards .cards-container .card .card-body > p strong{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 12px;        
    font-family: "Montserrat";
    color: #FFFFFF;
}

.home-body .home-map{ 
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 320px) and (max-width: 935px){
    .home-body .home-map{ 
        height: 375px;
    }
}

.home-body .home-map .map{
    width: 100%;
    height: 100vh;
    z-index: 1;
}

@media screen and (min-width: 320px) and (max-width: 935px){
    .home-body .home-map .map{
        height: 375px;
    }
}

.home-body .home-map .map .pin{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #003755;
}

.home-body .home-map .map .leaflet-left{
    margin-left: 30px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-left{
        margin-left: 10px !important;
    }
}

.home-body .home-map .map .leaflet-right{
    margin-right: 30px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-right{
        margin-right: 10px !important;
    }
}

.home-body .home-map .map .leaflet-top{
    margin-top: 15px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-top{
        margin-top: 5px !important;
    }
}

.home-body .home-map .map .leaflet-bottom{
    margin-bottom: 15px !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-bottom{
        margin-bottom: 5px !important;
    }
}

.home-body .home-map .map .leaflet-bar{
    border: none !important;
}

.home-body .home-map .map .leaflet-bar a{
    border: none !important;
}

.home-body .home-map .map .leaflet-control{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.home-body .home-map .map .leaflet-control-zoom{
    border-radius: 5px !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-in{
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    background-color: #FFFFFF !important;
    color: #003755 !important;
    text-decoration: none !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-in:hover{
    background-color: #B2BEB5 !important;
    color: #002C44 !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-in:focus{
    background-color: #B2BEB5 !important;
    color: #002C44 !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-in:active{
    background-color: #B2BEB5 !important;
    color: #002C44 !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-in.leaflet-disabled{
    background-color: #B2BEB5 !important;
    color: #002C44 !important;
    cursor: default !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-in.leaflet-disabled span{
    color: #002C44 !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-out{
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    background-color: #003755 !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-out:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-out:focus{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-out:active{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-out.leaflet-disabled{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
    cursor: default !important;
}

.home-body .home-map .map .leaflet-control-zoom a.leaflet-control-zoom-out.leaflet-disabled span{
    color: #B2BEB5 !important;
}

.home-body .home-map .map .legend{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .legend{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.home-body .home-map .map .legend .popup-header{
    text-align: center !important;
    cursor: default;
}

.home-body .home-map .map .legend .popup-header a{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px !important;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .legend .popup-header a{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .legend .popup-header a{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .legend .popup-header a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .legend .popup-header a{
        font-size: 16px !important;
    }
}

.home-body .home-map .map .legend .popup-statistics{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .legend .popup-statistics{
        margin-bottom: 5px;
    }
}

.home-body .home-map .map .legend .popup-statistics:last-child{
    margin-bottom: 0px;
}

.home-body .home-map .map .legend .popup-statistics i{
    margin-right: 10px;
    width: 16px; 
    height: 16px;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .legend .popup-statistics i{
        width: 18px; 
        height: 18px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .legend .popup-statistics i{
        width: 16px; 
        height: 16px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .legend .popup-statistics i{
        width: 14px; 
        height: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .legend .popup-statistics i{
        width: 12px; 
        height: 12px;
    }
}

.home-body .home-map .map .legend .popup-statistics a{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .legend .popup-statistics a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .legend .popup-statistics a{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .legend .popup-statistics a{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .legend .popup-statistics a{
        font-size: 12px !important;
    }
}

.home-body .home-map .map .legend .popup-statistics p{
    display: inline-block !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .legend .popup-statistics p{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .legend .popup-statistics p{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .legend .popup-statistics p{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .legend .popup-statistics p{
        font-size: 12px !important;
    }
}

.home-body .home-map .map .legend .popup-alert p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px !important;
    color: #003755;
    text-align: right;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .legend .popup-alert p{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .legend .popup-alert p{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .legend .popup-alert p{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .legend .popup-alert p{
        font-size: 12px !important;
    }
}

.home-body .home-map .map .leaflet-control-attribution{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px !important;
    background: #FFFFFF !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-control-attribution{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .leaflet-control-attribution{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .leaflet-control-attribution{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .leaflet-control-attribution{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px !important;
    }
}

.home-body .home-map .map .leaflet-control-attribution a{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px !important;
    color: #003755;
    text-decoration: none !important;
    cursor: default;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .leaflet-control-attribution a{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .leaflet-control-attribution a{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .leaflet-control-attribution a{
        font-size: 18px !important;
    }
}

.home-body .home-map .map .leaflet-control-attribution a svg{
    display: none !important;
}

.home-body .home-map .map .leaflet-control-attribution span{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-control-attribution span{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .leaflet-control-attribution span{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .leaflet-control-attribution span{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .leaflet-control-attribution span{
        font-size: 16px !important;
    }
}

.home-body .home-map .map .leaflet-control-layers{
    margin-top: 15px;
    border: none !important;
    background: #003755 !important;
}

.home-body .home-map .map .leaflet-control-layers label{
    margin-bottom: 0px !important;
}

.home-body .home-map .map .leaflet-control-layers span{
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 20px !important;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-control-layers span{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .leaflet-control-layers span{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .leaflet-control-layers span{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .leaflet-control-layers span{
        font-size: 12px !important;
    }
}

.home-body .home-map .map a.leaflet-control-layers-toggle{
    display: none !important;
    width: 0px !important;
    height: 0px !important;
    border-radius: 5px !important;
    background-color: #003755 !important;
}

.home-body .home-map .map .leaflet-control-layers-expanded{
    display: block !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 5px !important;
    background-color: #003755 !important;
}

.home-body .home-map .map .leaflet-control-layers-list{
    display: block !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    color: #FFFFFF !important;
    text-align: justify;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-control-layers-list{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .leaflet-control-layers-list{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .leaflet-control-layers-list{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .leaflet-control-layers-list{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 16px !important;
    }
}

.home-body .home-map .map input[type = "checkbox"]{
    display: grid;
    place-content: center;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    outline: none !important;
    border-radius: 5px;
    border: 1px solid #003755;
    background-color: #FFFFFF;
    cursor: pointer !important;
}

.home-body .home-map .map input[type = "checkbox"]::before{
    content: "";
    border-radius: 5px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #003755;
}

.home-body .home-map .map input[type = "checkbox"]:checked::before{
    transform: scale(1);
}

.home-body .home-map .map .leaflet-control-layers-list input[type = "checkbox"]{
    margin-right: 10px !important;
    margin-top: 0px !important;
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .leaflet-control-layers-list input[type = "checkbox"]{
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .leaflet-control-layers-list input[type = "checkbox"]{
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .leaflet-control-layers-list input[type = "checkbox"]{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .leaflet-control-layers-list input[type = "checkbox"]{
        width: 16px;
        height: 16px;
    }
}

.home-body .home-map .map .leaflet-control-layers-list input[type = "checkbox"]::before{
    width: 8px;
    height: 8px;
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .leaflet-control-layers-list input[type = "checkbox"]::before{
        width: 8px;
        height: 8px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .leaflet-control-layers-list input[type = "checkbox"]::before{
        width: 6px;
        height: 6px;
    }
}

.home-body .home-map .map .leaflet-popup-content-wrapper{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    background: none !important;
}

.home-body .home-map .map .leaflet-popup-content{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    display: grid !important;
    grid-column: 1 !important;
    width: 326px !important;
    word-break: break-word !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .leaflet-popup-content{
        width: 249px !important;
        word-break: break-word !important; 
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .leaflet-popup-content{
        width: 229px !important;
        word-break: break-word !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .leaflet-popup-content{
        width: 200px !important;
        word-break: break-word !important;
    }
}

.home-body .home-map .map .popup{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 326px;
    border-radius: 5px !important;
    background-color: #FFFFFF;
    word-break: break-word !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 249px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 229px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 200px !important;
    }
}

.home-body .home-map .map .popup .popup-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-body .home-map .map .popup .popup-header i.fa-solid.fa-circle-exclamation{
    font-size: 24px;
    color: #003755;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-header i.fa-solid.fa-circle-exclamation{
        font-size: 22px !important;

    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-header i.fa-solid.fa-circle-exclamation{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-header i.fa-solid.fa-circle-exclamation{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-header i.fa-solid.fa-circle-exclamation{
        font-size: 16px !important;
    }
}

.leaflet-popup-close-button{
    display: none !important;
}

.home-body .home-map .map .popup .popup-header .popup-back{
    font-size: 24px !important;
    color: #003755;
    cursor: pointer;
}

.home-body .home-map .map .popup .popup-header .popup-back:hover{
    color: #002C44;
    cursor: pointer;
}

.home-body .home-map .map .popup .popup-header .popup-back:focus{
    color: #002C44;
    cursor: pointer;
}

.home-body .home-map .map .popup .popup-header .popup-back:active{
    color: #002C44;
    cursor: pointer;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-header .popup-back{
        font-size: 22px !important;

    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-header .popup-back{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-header .popup-back{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-header .popup-back{
        font-size: 16px !important;
    }
}

.popup .popup-place{
    display: grid;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #FFFFFF;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .popup .popup-place{
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .popup .popup-place{
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .popup .popup-place{
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .popup .popup-place{
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.home-body .home-map .map .popup .popup-place p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-place p{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-place p{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-place p{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-place p{
        font-size: 16px !important;
    }
}

.home-body .home-map .map .popup .popup-place p a{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-place p a{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-place p a{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-place p a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-place p a{
        font-size: 16px !important;
    }
}

.home-body .home-map .map .popup .popup-statistics{
    display: flex;
    align-items: flex-start;        
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #003755;
    border-bottom: 1px solid #003755;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-statistics{
        gap: 5px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.home-body .home-map .map .popup .popup-statistics p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-statistics p{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-statistics p{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-statistics p{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-statistics p{
        font-size: 12px !important;
    }
}

.home-body .home-map .map .popup .popup-statistics p a{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-statistics p a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-statistics p a{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-statistics p a{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-statistics p a{
        font-size: 12px !important;
    }
}

.home-body .home-map .map .popup .popup-header img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-header img{
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-header img{
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-header img{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-header img{
        width: 16px;
        height: 16px;
    }
}

.home-body .home-map .map .popup .popup-username{
    display: grid;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-username{
        gap: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.home-body .home-map .map .popup .popup-username a{
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px !important;
    color: #003755;
    cursor: default;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-username a{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-username a{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-username a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-username a{
        font-size: 16px !important;
    }
}

.home-body .home-map .map .popup .popup-post{
    position: relative;
    display: grid;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #003755;
    border-bottom: 1px solid #003755;
    background-color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-post{
        gap: 5px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.home-body .home-map .map .popup .popup-post .post-gallery{
    position: relative;
    border-radius: 5px;
    overflow: hidden !important;
    cursor: pointer;
}

.home-body .home-map .map .popup .popup-post .post-gallery img{
    width: 100%;
    height: 25vh;
    filter: brightness(50%);
}

.home-body .home-map .map .popup .popup-post .post-gallery img:hover{
    transform: scale(1.25);
}

.home-body .home-map .map .popup .popup-post .post-gallery .post-context{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.home-body .home-map .map .popup .popup-post .post-gallery .post-context p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px !important;
    color: #FFFFFF;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context p{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context p{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context p{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context p{
        font-size: 12px !important;
    }
}

.home-body .home-map .map .popup .popup-post .post-gallery .post-context a{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px !important;
    color: #FFFFFF;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context a{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context a{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context a{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context a{
        font-size: 12px !important;
    }
}

.home-body .home-map .map .popup .button{
    margin-left: auto;
    margin-top: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background-color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .home-body .home-map .map .popup .popup-post .post-gallery .post-context a{
        margin-top: 5px;
    }
}

.home-body .home-map .map .popup .button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
    cursor: pointer;
}

.home-body .home-map .map .popup .button:focus{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
    cursor: pointer;
}

.home-body .home-map .map .popup .button:active{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;
    cursor: pointer;
}

.home-body .home-map .map .popup .button a.read-post{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF !important;
    text-decoration: none;
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .home-body .home-map .map .popup .button a.read-post{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .home-body .home-map .map .popup .button a.read-post{
        font-size: 16px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .home-body .home-map .map .popup .button a.read-post{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .home-body .home-map .map .popup .button a.read-post{
        font-size: 12px !important;
    }
}

.home-body .home-map .map .leaflet-popup-tip{
    border-radius: 5px !important;
}

.home-body .home-graph{
    display: grid;
    row-gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250, 0.75)
}

.home-body .home-graph .graph-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-body .home-graph .graph-section h1{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 24px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;     
}

.home-body .home-graph .graph-section .section-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.home-body .home-graph .graph-section .section-button button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: none !important;
    font-weight: 700;       
    font-size: 20px;        
    font-family: "Montserrat";
    color: #FFFFFF;
    background-color: #698F3F;
    text-align: center;
    cursor: pointer;
}

.home-body .home-graph .graph-section .section-button button:hover{
    color: #B2BEB5;
    background-color: #547232;
}

.home-body .home-graph .graph-section .section-button button:focus{
    color: #B2BEB5;
    background-color: #547232;
}

.home-body .home-graph .graph-section .section-button button:active{
    color: #B2BEB5;
    background-color: #547232;
}

.home-body .home-graph form{
    display: grid;
    gap: 15px;
}

.home-body .home-graph form .graph-filter{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    border-radius: 5px;
}

.home-body .home-graph form .graph-filter .filter-input{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.home-body .home-graph form .graph-filter .filter-input .filter-municipality label{
    display: block;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    color: #003755 !important;
}

.home-body .home-graph form .graph-filter .filter-input .filter-municipality select{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #003755;;
    border-radius: 5px;
    appearance: none;
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 400 !important;
    font-size: 14px !important;   
    color: #003755 !important;
    cursor: pointer;
}

.home-body .home-graph form .graph-filter .filter-input .filter-barangay label{
    display: block;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    color: #003755 !important;
}

.home-body .home-graph form .graph-filter .filter-input .filter-barangay select{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #003755;;
    border-radius: 5px;
    appearance: none;
    outline: none !important;
    font-family: "Montserrat";
    font-weight: 400 !important;
    font-size: 14px !important;   
    color: #003755 !important;
    cursor: pointer;
}

.home-body .home-graph form .graph-filter .filter-input .filter-year label{
    display: block;
    margin-bottom: 0px !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    color: #003755 !important;
}

.home-body .home-graph form .graph-filter .filter-input .filter-year input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border: 1px solid #003755;
    border-radius: 5px;
    outline: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #003755 !important;
}

.home-body .home-graph form .graph-filter button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.home-body .home-graph form .graph-filter button{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border: none !important;
    border-radius: 5px;
    appearance: none !important;
    outline: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #003755 !important;
    text-decoration: none;
    cursor: pointer;
}

.home-body .home-graph form .graph-header h1{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 24px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph form .graph-header p:nth-child(2){
    margin-bottom: 0px !important;
    font-weight: 400;       
    font-size: 16px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph form .graph-header p:nth-child(3){
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 16px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph form .graph-header p:nth-child(4){
    margin-bottom: 0px !important;
    font-weight: 400;       
    font-size: 16px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph form .graph-header strong{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 16px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph form #noDataMessage{
    display: none;
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 16px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph form .graph{
    margin-left: auto;
    margin-right: auto;
    width: 125vh !important;
}

.home-body .home-graph form .graph-legends{
    margin-left: 0;
    margin-right: auto;
}

.home-body .home-graph form .graph-legends h1{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 16px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.graph-container{
    display: flex;
    flex-direction: row;
}

.home-body .home-graph form .graph-legends .legends-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
}

.home-body .home-graph form .graph-legends .legends-container .legend-item{
    display: flex;
    align-items: flex-start ;
    justify-content: flex-start;
}

.home-body .home-graph form .graph-legends .legends-container .legend-item .legend-colorbox{
    width: 30px;
    height: 15px;
    margin-right: 10px;
}

.home-body .home-graph form .graph-legends .legends-container .legend-item span{
    margin-bottom: 0px !important;
    font-weight: 400;       
    font-size: 12px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: left;
}

.home-body .home-graph form .graph-legends .legends-container .legend-item strong{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 12px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph form .graph-legends p{
    margin-bottom: 0px !important;
    font-weight: 400;       
    font-size: 12px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph form p{
    margin-bottom: 0px !important;
    font-weight: 400;       
    font-size: 14px;        
    font-family: "Montserrat";
    color: #003755;
    text-align: center;
}

.home-body .home-graph .graph-data .data-header h1{
    margin-bottom: 0px !important;
    font-weight: 700;       
    font-size: 24px;        
    font-family: "Montserrat";
    color: #003755;
}

.home-body .home-graph .graph-data .data-table td{
    display: table-cell !important; 
    max-width: 0px;
    font-family: "Montserrat"; 
    font-weight: 400; 
    font-size: 12px;
}


.leaderboard{
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: "Montserrat";
    background-color: rgba(28, 169, 234, 0.4);
}

.leaderboard h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;

}

.top-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-3 p{
    margin-bottom: 5px !important;
}

.top-3 > div{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.rank-1{
    justify-content: center;
    place-items: center;
    margin-bottom: -30px;
    text-align: center;
}

.rank-2, .rank-3{
    width: 45%;
}

.rank-2{
    place-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30%;
    width: 100%;
    text-align: center;
}

.rank-3{
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    width: 100%;
    text-align: center;
}

.circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
}

.circle .medal-icon {
    position: absolute;
    font-size: 1.5em;
}

.circle .rank-number{
    z-index: 1;
}

.circle.rank-1{
    justify-content: center;
    margin-bottom: 5px;
    background-color: #FFD700;
    text-align: center;
}

.circle.rank-2{
    justify-content: center;
    background-color: #C0C0C0;
    text-align: center;

}

.circle.rank-3{
    position: relative; 
    justify-content: center;
    background-color: #CD7F32;
    text-align: center;
}

.profile-picture{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: calc(100% - 0.6rem);
    height: auto;
    padding: 0.3rem; 
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  
}

.rank-3 .name{
    position: absolute;
    right: 45px;
    bottom: 80px;
}

.circle.rank-3{
    position: absolute;
    bottom: 115px;
    right: 35px;
}

.name{
    font-weight: 700;
    font-size: 1.1em;
    color: rgba(28, 169, 234);
    text-align: center;
}

.count{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: fit-content;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.1em;
    color: #FFFFFF;
    background-color: rgba(28, 169, 234, 0.8);
    text-align: center;
}

p.count{
    margin-bottom: 0.5rem !important;
}

.leaderboard table{
    width: 100%;
    border-collapse: collapse;
    background-color: unset !important;
}

.leaderboard table, .leaderboard th, .leaderboard td{
    border: 1px solid #D3D3D3;
    background-color: #FFFFFF !important;
}

.leaderboard th, .leaderboard td{
    padding: 8px;
    text-align: left;
}

.leaderboard th{
    background-color: #D3D3D3;
}

.second-row{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between !important; 
    justify-content: center;
}

.box-div{
    position: relative;
    display: block;
    place-self: end;
    width: 100%;
    height: 80%;
    background-color: rgba(28, 169, 234, 0.8);
}

.rank-3 p.count{
    position: absolute;
    right: 35px;
    bottom: 40px;
}

.rank-3 .box-div{
    position: absolute;
    display: block;
    margin-top: 1rem;
    bottom: 0px;
    width: 33%;
    height: 40px;
    background-color: rgba(28, 169, 234, 0.8);
}

.rank-2 .box-div{
    position: relative;
    display: block;
    width: 100%;
    height: 62px;
    background-color: rgba(28, 169, 234, 0.8);
}

.rank-3 .box-div h2{
    font-size: 24px;
}

.rank-2 .box-div h2{
    font-size: 36px;
}

.box-div h2{
    font-weight: 700;
    color: white;
    font-size: 64px;
}

.rank-4-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}


.rank-4-5 p.count{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem !important;
    height: 3rem;
    text-align: center;
}

.third-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: 400px;
    height: 200px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #FFFFFF;
    text-align: center;
}

.third-row h3{
    font-size: 1.5rem;
}

.third-row p{
    margin-bottom: 0 !important;
    width: 8rem;
    font-size: larger;
    font-weight: 700;
}

.third-row p.count{
    margin-bottom: 0 !important;
    width: 5rem;
    font-size: medium !important;

}

.rank-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: fit-content;
}

.rank-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
    
.rank-4-5 p.name{
    min-width: 10rem;
    max-width: 20rem    ;
}