{% extends "public/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "announcement-body">
        <div class = "announcement-section">
            <h1>ANNOUNCEMENTS</h1>
        </div>
    
        {% if announcement in announcements %}
            <div class = "announcement">
                <div class = "announcement-header">
                    <p><i class = "fas fa-user"></i>{{announcement.user | default:'None available'}}</p>
                    
                    <p><i class = "fas fa-calendar-check"></i>{{announcement.release_date | date:"M. d, Y" | default:'None available'}}</p>
                </div>
                
                <img class = "announcement-image" src = "{{announcement.announcement_photo.url | default:'None available'}}">

                <div class = "announcement-context">
                    <h1>{{announcement.place | default:'None available'}}</h1>
                    
                    <div class = "button">
                        <a href = "{% url 'Public Service Announcement Read' announcement.id %}">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}