{% extends "public/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "fixed inset-0 z-[-10] h-screen w-full">
        <img src = "/statics/assets/bg-2.jpg" class = "h-full w-full object-cover top-[-5rem]">
    </div>

    <h1 class = "my-[2rem] text-center font-bold text-2xl min-[490px]:text-[3rem] text-white">ANNOUNCEMENTS</h1>

    {% for announcement in announcements %}
        <div class = "w-full py-[2rem] h-fit min-[490px]:h-[30rem] flex flex-col items-center mb-[2rem] border-2 rounded-lg px-4 bg-white" id="announcement-records">
            <div class = "flex w-full flex-col min-[320px]:flex-row min-[320px]:justify-between my-2">
                <p class = "text-[#003755] gap-2 flex items-center"><i class = "fa-solid fa-user"></i>{{announcement.user | default:'None available'}}</p>
                
                <p class = "text-[#003755] gap-2 flex items-center"><i class = "fa-solid fa-calendar-check"></i>{{announcement.release_date | date:'M. j, Y, g:i a' | default:'None available'}}</p> 
            </div>

            <div class = "flex items-center justify-center w-full mt-[1rem]">
                <a class = "w-full" href="{% url 'Public Service Announcement Read' announcement.id %}">
                    <div class = "w-full flex justify-center flex-col items-center">
                        <div class = "w-full h-full flex justify-start flex-col items-start relative">
                            <img class = "h-[18rem] w-full object-cover" src = "{{announcement.announcement_photo.url}}">
                            
                            <div class = "w-full flex items-center absolute bg-black bg-opacity-70 text-white bottom-0 p-0 min-[490px]:p-4 h-[30%]">
                                <h1 class = "font-semibold text-lg min-[490px]:text-2xl">{{announcement.title | default:'None available'}}</h1>
                            </div>
                        </div>

                        <div class = "flex justify-center w-full my-[2rem]">
                            <button class = "w-[10rem] bg-[#003755] hover:bg-white hover:border-[#003755] border-2 p-2 rounded-full font-bold text-white hover:text-[#003755]">Read More</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}