{% extends "officer/control/index/index.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <link rel = "stylesheet" href = "https://unpkg.com/tippy.js@6/dist/tippy.css">

    <script src = "https://unpkg.com/@popperjs/core@2"></script>

    <script src = "https://unpkg.com/tippy.js@6"></script>

    <style>
        .status-invalid{
            font-weight: 700;
            color: #C90016 !important;
        }

        .status-valid{
            font-weight: 700;
            color: #698F3F !important;
        }

        .status-pending{
            font-weight: 700;
            color: #003755 !important;
        }

        .table > :not(caption) > * > *{
            padding: 15px 30px !important;
        }

        .select2-container:has(span[title = "Barangay"]){
            display: none;
        }

        .select2-container .select2-selection{
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 12px !important;
        }

        .select2-results__option{
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 12px !important;
        }

        .breadcrumb{
            padding: 1rem;
            border-radius: 0.25rem;
            background-color: #FAFAFA;
        }

        .breadcrub-item{
            display: none;
            color: #6C757D;
        }

        .breadcrumb-item::before{
            display: none !important;
        }

        .status_active {
            display: block;
            font-family: "Montserrat"; 
            font-weight: 700; 
            font-size: 16px;            
            color: rgb(28, 186, 234);
        }

        .status_active::before{
            display: block !important;
        }

    </style>

    <nav aria-label = "breadcrumb">
        <ol class = "breadcrumb">
            <li style = "font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(52, 144, 242);" class = "breadcrumb-item {% if sighting_number >= 1 %}status_active{% endif %}">
                {% if sighting_number >= 1 %}
                    Sightings
                {% endif %}
            </li>

            <li style = "font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(52, 144, 242);" class = "breadcrumb-item {% if sighting_number >= 2 %}status_active{% endif %}">
                {% if sighting_number >= 2 %}
                    {% block action %} Action {% endblock action %}
                {% endif %}
            </li>
        </ol>
    </nav>

    {% if sighting_number > 1 %}
        <button style = "margin-bottom: 15px; padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: #FFFFFF;" class = "btn btn-secondary back-button" onclick = "window.history.back()">
            <i class = "fas fa-arrow-left"></i> 
            
            Back
        </button>
    {% endif %}

    {% block sighting_content %}
    <div class = "container-fluid mt-3">
         <button style = "margin-bottom: 15px; padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: #FFFFFF;" class = "btn btn-secondary collapse-button" type = "button" id = "filterToggle" data-bs-toggle = "collapse" data-bs-target = "#filterCollapse" aria-expanded = "false" aria-controls = "filterCollapse">
            <i class = "fas fa-chevron-down"></i>

            Filter
        </button>

        <div class = "row">
            <div class = "col-12 col-md-3 collapse" id = "filterCollapse">
                <div class = "filtercont">
                    <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 20px !important; color: rgb(52, 144, 242);" class = "fs-3 mb-3">FILTER</p>
                    
                    <p style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(28, 186, 234);">Location</p>

                    <div>
                        <label for = "municipalityFilter" class = "form-label" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">Municipality:</label>

                        <select id = "municipalityFilter" class = "form-select mb-3 select2" onchange="updateBarangayOptions()">
                            <option value = "" disabled = "disabled" selected = "selected" style = "display: none; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">Municipality</option>

                            {% for municipality in municipalities %}
                                <option style = "display: none; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" value = "{{ municipality.municipality_name }}" {% if request.GET.municipality == municipality.municipality_name %} selected {% endif %}>{{ municipality.municipality_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label id = "barangayLabel" for = "barangayFilter" class = "form-label" style = "display: none; margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">Barangay:</label>

                        <select id = "barangayFilter" class = "form-select mb-3 select2">
                            <option value = "" disabled = "disabled" selected = "selected" style = "display: none;">Barangay</option>
                        </select>
                    </div>

                    <p style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(28, 186, 234);">Date</p>
                    
                    <div>
                        <label for = "dateFrom" class = "form-label" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">From:</label>
                        
                        <input style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" type = "date" id = "dateFrom" name = "dateFrom" class = "form-control form-control-sm">
                    </div>
                    
                    <div>
                        <label for = "dateTo" class = "form-label" style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">To:</label>
                        
                        <input style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" type = "date" id = "dateTo" name = "dateTo" class = "form-control form-control-sm">
                    </div>

                    <p style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(28, 186, 234);">Status</p>
                    
                    <div class = "form-check">
                        <input class = "form-check-input" type = "radio" name = "status" id = "statusPending" value = "Pending">
                       
                        <label style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" class = "form-check-label" for = "statusPending">Pending</label>
                    </div>

                    <div class = "form-check">
                        <input class = "form-check-input" type = "radio" name = "status" id = "statusValid" value = "Valid">
                        
                        <label style = "font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" class = "form-check-label" for = "statusValid">Valid</label>
                    </div>

                    <div class = "form-check">
                        <input class = "form-check-input" type = "radio" name = "status" id = "statusInvalid" value = "Invalid">
                        
                        <label style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" class = "form-check-label" for = "statusInvalid">Invalid</label>
                    </div>

                    <p style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(28, 186, 234);">Order by</p>

                    <div>                            
                        <select id = "orderBy" class = "form-select form-select-sm select2">
                            <option value = "latest">Latest</option>
                            
                            <option value = "oldest">Oldest</option>
                        </select>
                    </div>

                    <button style = "margin-top: 0px !important;" type = "button" class = "filterbutton" onclick = "applyFilter()">Apply Filter</button>
                    
                    <button type = "button" class = "resetbutton" onclick = "resetFilter()">Reset Filter</button>
                </div>
            </div>

            <div class = "col-12 col-lg-9 mx-auto w-100" id = "mainContent">
                <div class = "table-container container-fluid mb-3 w-100" style = "padding: 0px !important;">
                    <h2 style = "border-bottom: 1px solid rgba(229, 229, 229); font-family: 'Montserrat'; font-weight: 700; font-size: 20px; color: rgb(52, 144, 242);">ALL SIGHTINGS</h2>

                    <table class = "table table-hover" style = "display: table; margin-bottom: 15px !important; width: 100%;">
                        <thead>
                            <tr>
                                <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Submission Date</th>

                                <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Contributor</th>
                                
                                <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Municipality</th>
                                
                                <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Barangay</th>
                                
                                <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Status</th>
                                
                                <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Remarks</th>
                                
                                <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234); text-align: center;" scope = "col">Action</th>
                            </tr>
                        </thead>

                        <tbody class = "table-group-divider" id = "sightingsTable">
                        </tbody>
                    </table>

                    <nav>
                        <ul class = "pagination justify-content-center" id = "pagination">
                            <li class = "page-item" id = "previousPage">
                                <a class = "page-link" href = "#" onclick = "changePage('prev')">Previous</a>
                            </li>

                            <li class = "page-item" id = "nextPage">
                                <a class = "page-link" href = "#" onclick = "changePage('next')">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <style>
        .swal2-container:has(.sightings-text) .swal2-close{
            display: none !important;
        }

        .swal2-container:has(.sightings-text) h2:where(.swal2-title){
            padding: 0px !important;
        }

        .sightings-text{
            text-align: left !important;
        }

        .sightings-text strong{
            margin-bottom: 0px !important;
            font-family: "Montserrat";
            font-weight: 700 !important;
            font-size: 20px;
            color: #003755 !important;
        }

        @media screen and (min-width: 446px) and (max-width: 775px){
            .sightings-text strong{
                font-size: 18px !important;
            }
        }

        @media screen and (min-width: 369px) and (max-width: 445px){
            .sightings-text strong{
                font-size: 16px !important;
            }
        }

        @media screen and (min-width: 349px) and (max-width: 368px){
            .sightings-text strong{
                font-size: 14px !important;
            }
        }

        @media screen and (min-width: 320px) and (max-width: 348px){
            .sightings-text strong{
                font-size: 12px !important;
            }
        }

        .sightings-text p{
            margin-bottom: 16px !important;
            font-family: "Montserrat";
            font-weight: 400 !important;
            font-size: 20px;
            color: #003755 !important;
        }

        @media screen and (min-width: 446px) and (max-width: 775px){
            .sightings-text p{
                margin-bottom: 5px !important;
                font-size: 18px !important;
            }
        }

        @media screen and (min-width: 369px) and (max-width: 445px){
            .sightings-text p{
                margin-bottom: 5px !important;
                font-size: 16px !important;
            }
        }

        @media screen and (min-width: 349px) and (max-width: 368px){
            .sightings-text p{
                margin-bottom: 5px !important;
                font-size: 14px !important;
            }
        }

        @media screen and (min-width: 320px) and (max-width: 348px){
            .sightings-text p{
                margin-bottom: 5px !important;
                font-size: 12px !important;
            }
        }
    </style>

    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src  ="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        function shownDropdown(event){
            event.stopPropagation();

            const dropdown = event.currentTarget.closest(".button-container").querySelector(".dropdown-content");
            
            dropdown.classList.toggle("show");
        };

        function showDropdown(event){
            event.stopPropagation();

            const dropdown = event.currentTarget.nextElementSibling;
            
            dropdown.classList.toggle("show");
        };

        document.addEventListener("click", function(event) {
            const dropdowns = document.querySelectorAll(".dropdown.show");

            dropdowns.forEach(dropdown => dropdown.classList.remove("show"));
        });

        function updateBarangayOptions(){
            const municipalityFilter = document.getElementById("municipalityFilter").value;

            console.log(municipalityFilter)
            
            const barangayLabel = document.getElementById("barangayLabel");

            const barangayFilter = document.getElementById("barangayFilter");

            if (municipalityFilter){
                $.ajax({
                    url: "{% url 'Officer Control Barangay Read' %}",

                    data: {
                        "municipality": municipalityFilter
                    },
                    
                    success: function(data){
                        barangayFilter.innerHTML = "";

                        data.forEach(function(barangay){
                            const option = document.createElement("option");

                            option.value = barangay;
                            
                            option.textContent = barangay;
                            
                            barangayFilter.appendChild(option);
                        });

                        $("#barangayFilter").select2();
                    }
                });

                barangayLabel.style.display = "block";

                barangayFilter.style.display = "block";
            };
        };

        const barangayCoordinates = {
            {% for location in locations %}
                "{{location.barangay.barangay_name}}": [{{location.latitude}}, {{location.longitude}}],
            {% endfor %}
        };

        function setMunicipalityByBarangay(barangayId){
            const locations = [
                {% for location in locations %}
                    {id: "{{location.id}}", barangay: "{{location.barangay.barangay_name}}", municipality: "{{location.municipality.municipality_name}}"},
                {% endfor %}
            ];

            const location = locations.find(loc => loc.barangay == barangayId);
            
            if (location){
                const municipalitySelect = document.getElementById("popupMunicipality");

                municipalitySelect.value = location.municipality;
            }

            updateBarangayOptions();
        };
        
        function submitPopup(postId){
            const municipality = document.getElementById("popupMunicipality").value;

            const barangay = document.getElementById("popupBarangay").value;

            const latitude = document.getElementById("latitude").value;

            const longitude = document.getElementById("longitude").value;

            const data = {
                municipality: municipality,

                barangay: barangay,
                
                latitude: parseFloat(latitude),
                
                longitude: parseFloat(longitude)
            };

            fetch(`/api/posts/update/${postId}/`, {
                method: "POST",

                headers: {
                    "Content-Type": "application/json",

                    "X-CSRFToken": "{{csrf_token}}"
                },
                
                body: JSON.stringify(data)
            
            }).then(response => response.json()).then(result => {
                if (result.status === "success"){
                    Swal.fire({title: "Success!", text: "The municipality and barangay has been updated successfully.", icon: "success", confirmButtonText: "Close"});

                } else {
                    Swal.fire({title: "Error!", text: result.message, icon: "error", confirmButtonText: "Close"});
                };
            
            }).catch(error => {
                Swal.fire({title: "Error!", text: "The municipality and barangay could not be updated. Kindly try again later.", icon: "error", confirmButtonText: "Close"});
            });
        };

        $(document).ready(function(){
            $(".select2").select2();

            {% for post in posts %}
                if (["Valid", "Invalid"].includes("{{post.post_status}}")){
                    $("#status-select-{{post.id}}").prop("disabled", true);
                };
            {% endfor %}
        });

        const sightingsData = [
            {% for post in posts %}
                {id: {{post.id}}, date: "{{post.creation_date | format_date_mmddyy}}", user: "{{post.user}}", phone_number: "{{post.user.phone_number}}", barangay: "{{post.location.barangay}}", municipality: "{{post.location.municipality}}", status: "{{post.post_status}}", remarks: "{{post.remarks}}"},
            {% endfor %}
        ];

        let currentPage = 1;

        const rowsPerPage = 10;
        
        let filteredData = sightingsData;

        function displayTableData(page) {
            const tableBody = document.getElementById("sightingsTable");
            
            tableBody.innerHTML = "";

            const start = (page - 1) * rowsPerPage;

            const end = start + rowsPerPage;
            
            const pageData = filteredData.slice(start, end);

            pageData.forEach(item => {
                const statusClass = getStatusClass(item.status);
            
                const baseUrl = "{% url 'Officer Control Sighting Read' id=0 %}".replace("0", item.id);
            
                const remarksOrStatus = item.remarks ? item.remarks : item.status;

                let remarkLink = "";
            
                if (item.status === "Pending"){
                    remarkLink = `<a class = "dropdown-footer" onclick = "addRemarks(${item.id})">Remark</a>`;
                }

                const approveDisabled = item.status !== "Pending";

                const disapproveDisabled = item.status !== "Pending";
                
                const tooltipText = "Action not allowed in current status";

                const row = 
                    `<tr data-id = "${item.id}">
                        <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" onclick = "window.location.href = '${baseUrl}'">${item.date}</td>

                        <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" onclick = "window.location.href = '${baseUrl}'">${item.user}</td>
                        
                        <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" onclick = "window.location.href = '${baseUrl}'">${item.municipality}</td>

                        <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" onclick = "window.location.href = '${baseUrl}'">${item.barangay}</td>

                        <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 12px;" class = "${statusClass}" onclick = "window.location.href = '${baseUrl}'">${item.status}</td>

                        <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;" onclick = "window.location.href = '${baseUrl}'">${remarksOrStatus}</td>

                        <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px; text-align: center; vertical-align: middle;">
                            <a href = "#" onclick = "showItemDetails(${item.id})">
                                <i class = "fa fa-search" style = "font-size: 12px; color: rgb(28, 169, 234); aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>`;

                tableBody.innerHTML += row;
            });

            document.getElementById("previousPage").classList.toggle("disabled", page === 1);

            document.getElementById("nextPage").classList.toggle("disabled", end >= filteredData.length);

            tippy("[data-tippy-content]");
        };

        function changePage(direction){
            if (direction === "prev" && currentPage > 1){
                currentPage--;

            } else if (direction === "next" && (currentPage * rowsPerPage) < filteredData.length){
                currentPage++;
            };

            displayTableData(currentPage);
            
            updatePagination();
        };

        function formatDate(dateString){
            const options = { year: "numeric", month: "2-digit", day: "2-digit"};
            
            const date = new Date(dateString);
            
            const formattedDate = new Intl.DateTimeFormat("en-US", options).format(date);
            
            return formattedDate;
        }

        async function showItemDetails(itemId){
            try{
                const response = await fetch(`/post-detail/${itemId}/`);

                const data = await response.json();
                
                const postPhotos = data.post_photos || [];

                const post = data;

                const carouselItems = postPhotos.map(photo => `
                    <div class = "carousel-item ${photo === postPhotos[0] ? 'active' : ''}">
                        <img src="${photo.url}" style = "object-fit: cover; height: 250px; border-radius: 5px;" class = "d-block w-100 carousel-image" alt = "...">
                        
                        ${post.post_status === "Pending" ? "" : `
                            <a href="#" class = "delete-photo" data-photo-id = "${photo.id}" onclick = "deletePhoto(${photo.id})" style = "position: absolute; top: 10px; right: 15px; z-index: 1000;">
                                <i class = "fa fa-trash" style = "padding: 5px; border-radius: 5px; font-size: 16px; background-color: white; color: black;"></i>
                            </a>
                        `}
                    </div>
                `).join("");
                
                const approveDisabled = post.post_status !== "Pending";

                const disapproveDisabled = post.post_status !== "Pending";

                const content = `   
                    <div class = "col-md-12">
                        <div id = "postCarousel" class = "carousel slide" data-bs-ride="carousel" style = "padding-top: 15px; padding-bottom: 15px; border-radius: 5px;">
                            <div class = "carousel-inner">
                                ${carouselItems}
                            </div>

                            <button class = "carousel-control-prev" type = "button" data-bs-target = "#postCarousel" data-bs-slide = "prev">
                                <span class = "carousel-control-prev-icon" aria-hidden="true"></span>
                               
                                <span class = "visually-hidden">Previous</span>
                            </button>

                            <button class = "carousel-control-next" type = "button" data-bs-target = "#postCarousel" data-bs-slide = "next">
                                <span class = "carousel-control-next-icon" aria-hidden="true"></span>
                                
                                <span class = "visually-hidden">Next</span>
                            </button>
                        </div>

                        <div class = "card" style = "padding: 12px;">
                            <div class = "card-body" style = "padding: 0px !important;">
                                <div class = "row">
                                    <h5 style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 20px !important; color: rgb(52, 144, 242);">Description</h5>
                                    
                                    <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">${post.description}</p>
                                    
                                    <hr style = "margin-left: auto; margin-right: auto; width: 95%;">
                                    
                                    <div class = "col-md-6">
                                        <h5 style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 20px !important; color: rgb(52, 144, 242);">Report Details</h5>
                                        
                                        <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Submission Date: </strong>
                                        
                                        <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">${formatDate(post.creation_date)}</p>
                                        
                                        <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Capture Date: </strong>
                                        
                                        <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">${formatDate(post.capture_date)}</p>
                                    </div>

                                    <div class = "col-md-6">
                                        <h5 style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 20px !important; color: rgb(52, 144, 242);">Location Details</h5>
                                       
                                        <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Municipality: </strong>
                                       
                                        <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">${post.municipality}</p>
                                       
                                        <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Barangay: </strong>
                                       
                                        <p style = "margin-bottom: 15px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">${post.barangay}</p>
                                        
                                        <strong style = "font-family: 'Montserrat'; font-weight: 700; font-size: 16px;">Coordinates: </strong>
                                        
                                        <p style = "margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px;">${post.coordinates}</p>
                                    </div>

                                    <div style = "display: flex; justify-content: flex-end; align-items: center; gap: 15px; margin-top: 15px;">
                                        <button style = "border-radius: 5px !important; outline: none !important; font-family: 'Montserrat' !important; font-weight: 400 !important; font-size: 16px !important; color: #FFFFFF !important; background-color: rgb(30, 173, 95) !important; pointer-events: auto !important; cursor: pointer;" class = "btn btn-success w-auto ${approveDisabled ? 'disabled' : ''}" onclick = "changeStatus(${post.id}, 'Valid')">Approve</a>
                                            

                                        <button style = "border-radius: 5px !important; outline: none !important; font-family: 'Montserrat' !important; font-weight: 400 !important; font-size: 16px !important; color: #FFFFFF !important; pointer-events: auto !important; cursor: pointer;" class = "btn btn-danger w-auto ${disapproveDisabled ? 'disabled' : ''}" onclick = "invalidStatus(${post.id})">Disapprove</a>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                `;

                Swal.fire({
                    title: "Sighting Details",

                    html: `<div class = "sightings-text">${content}</div>`,

                    width: 800,

                    showCloseButton: true,

                    showCancelButton: false,

                    focusConfirm: false,

                    confirmButtonText: "Ok",

                    customClass: {title: "title", html: "sightings-text"}
                });

            } catch(error){
                console.error("An error occurred during post details fethcing: ", error);
                
                Swal.fire({
                    title: "Error!",
                    
                    text: "The post details have failed to load.",
                    
                    icon: "error"
                });
            }
        }

        function updatePagination(){
            const pagination = document.getElementById("pagination");

            const totalPages = Math.ceil(filteredData.length / rowsPerPage);
            
            pagination.innerHTML = 
                `<li class = "page-item ${currentPage === 1 ? 'disabled' : ''}" id = "previousPage">
                    <a class = "page-link" href = "#" onclick = "changePage('prev')">Previous</a>
                </li>

                <li class = "page-item ${currentPage === 1 ? 'disabled' : ''}" id = "nextPage">
                    <a class = "page-link" href = "#" onclick = "changePage('next')">Next</a>
                </li>`;

            for (let i = 1; i <= totalPages; i++){
                const pageItem = document.createElement("li");

                pageItem.className = "page-item" + (i === currentPage ? "active" : "");

                pageItem.innerHTML = `<a class = "page-link" href = "#" onclick = "goToPage(${i})">${i}</a>`;

                pagination.insertBefore(pageItem, document.getElementById("nextPage"));
            };
        };

        function goToPage(page){
            currentPage = page;

            displayTableData(currentPage);
            
            updatePagination();
        };

        function parseDate(dateString){
            try{
                const dateRegex = /(\d{2})\/(\d{2})\/(\d{4})/;

                const match = dateRegex.exec(dateString);
                
                if (!match){
                    throw new Error("Date format is invalid.");
                }

                const [_, month, day, year] = match;

                if (!month || !day || !year){
                    throw new Error("Date format is invalid.");
                };

                return new Date(parseInt(year), parseInt(month) - 1, parseInt(day));

            } catch (error){
                console.error("The parse date has failed to load: ", error);

                return null;
            };
        };


        function applyFilter(){
            const municipality = document.getElementById("municipalityFilter").value;

            const barangay = document.getElementById("barangayFilter").value;
            
            const dateFrom = document.getElementById("dateFrom").value;
            
            const dateTo = document.getElementById("dateTo").value;
            
            const status = document.querySelector("input[name = 'status']:checked")?.value;
            
            const dateFromObj = dateFrom ? new Date(dateFrom) : null;
            
            const dateToObj = dateTo ? new Date(dateTo) : null;
            
            const orderBy = document.getElementById("orderBy").value;

            filteredData = sightingsData.filter(item => {
                const itemDateObj = parseDate(item.date);

                const municipalityMatch = !municipality || item.municipality === municipality;

                const barangayMatch = !barangay || item.barangay === barangay;
                
                const dateFromMatch = !dateFrom || itemDateObj >= dateFromObj;
                
                const dateToMatch = !dateTo || itemDateObj <= dateToObj;
                
                const statusMatch = !status || item.status === status;

                const matchesDateFrom = dateFrom ? new Date(item.date) >= new Date(dateFrom) : true;
                    
                const matchesDateTo = dateTo ? new Date(item.date) <= new Date(dateTo) : true;
                
                return municipalityMatch && barangayMatch && dateFromMatch && dateToMatch && statusMatch && matchesDateFrom && matchesDateTo;
            });

            if (orderBy === "latest"){
                filteredData.sort((a, b) => new Date(b.date) - new Date(a.date));

            } else{
                filteredData.sort((a, b) => new Date(a.date) - new Date(b.date));
            }

            currentPage = 1;
            
            displayTableData(currentPage);
            
            updatePagination();
        };

        function resetFilter(){
            window.location.reload();

            filteredData = sightingsData;
            
            currentPage = 1;
            
            displayTableData(currentPage);
            
            updatePagination();
        };

        function changeStatus(postId, status){
            if (!status) return;

            Swal.fire({
                title: "Alert?",

                text: `Officer, are you sure that you want to update the post status to ${status}?`,

                icon: "warning",

                showCancelButton: true,
                
                confirmButtonText: "Yes",

                cancelButtonText: "No"

            }).then((result) => {
                if (result.isConfirmed){
                    $.ajax({
                        type: "POST",

                        url: status === "Valid" ? "{% url 'Officer Control Sighting Valid' %}" : "{% url 'Officer Control Sighting Invalid' %}",
                        
                        data: {
                            "post_id": postId,

                            "csrfmiddlewaretoken": "{{csrf_token}}"
                        },

                        success: function(response){
                            if (response.success){
                                Swal.fire("Success!", `The post status has been successfully changed to ${status}.`, "success").then(() => {
                                    location.reload();
                                })

                            } else {
                                Swal.fire("Error!", "The post status could not be updated. Kindly try again later.", "error");
                            };
                        }
                    });
                }
            });
        };

        function getStatusClass(status){
            switch (status){
                case "Pending": return "status-pending";

                case "Valid": return "status-valid";

                case "Invalid": return "status-invalid";

                default: return "";
            };
        };

        window.addRemarks = function(postId){
            Swal.fire({
                title: "Add Remarks",

                input: "textarea",

                inputLabel: "Remarks",

                inputPlaceholder: "Enter your remarks here...",

                showCancelButton: true,
                
                confirmButtonText: "Submit",

                preConfirm: (remark) => {
                    return fetch("{% url 'Officer Control Sighting Add' 0 %}".replace("0", postId), {
                        method: "POST",

                        headers: {
                            "X-CSRFToken": "{{csrf_token}}",

                            "Content-Type": "application/json"
                        },

                        body: JSON.stringify({remark: remark})

                    }).then(response => {
                        if (!response.ok){
                            throw new Error(response.statusText)
                        };

                        return response.json()
                    
                    }).then(data => {
                        if (!data.success){
                            throw new Error(data.message || "The remarks could not be saved. Kindly try again later.")
                        };

                        return data
                    
                    }).catch(error => {
                        Swal.showValidationMessage(`${error}`)
                    })
                },

                allowOutsideClick: () => !Swal.isLoading()

            }).then((result) => {
                if (result.isConfirmed){
                    Swal.fire({
                        title: "Success!",

                        text: "The remarks has been successfully saved.",

                        icon: "success"

                    }).then(() => {
                        window.location.reload();
                    });
                };
            });
        };

        function invalidStatus(postId){
            Swal.fire({
                title: "Add Remarks",

                input: "textarea",

                inputLabel: "Remarks",

                inputPlaceholder: "Enter your remarks here...",

                showCancelButton: true,
                
                confirmButtonText: "Submit",

                cancelButtonText: "Cancel",

                preConfirm: (remarks) => {
                    return new Promise((resolve) => {
                        resolve(remarks);
                    });
                }

            }).then((result) => {
                if (result.isConfirmed){
                    const remarks = result.value;

                    $.ajax({
                        type: "POST",
                        
                        url: "{% url 'Officer Control Sighting Invalid' %}",

                        data: {
                            "post_id": postId,

                            "remarks": remarks,
                            
                            "csrfmiddlewaretoken": "{{csrf_token}}"
                        },

                        success: function(response){
                            if (response.success){
                                Swal.fire({title: "Success!", text: response.message, icon: "success", confirmButtonText: "Ok"}).then(() => {
                                    location.reload();
                                });

                            } else {
                                Swal.fire({title: "Error!", text: response.message, icon: "error", confirmButtonText: "Ok"});
                            };
                        },

                        error: function(){
                            Swal.fire({title: "Error!", text: "The remarks could not be saved. Kindly try again later.", icon: "error", confirmButtonText: "Ok"});
                        }
                    });
                };
            });
        };

        document.addEventListener("DOMContentLoaded", () => {
            displayTableData(currentPage);

            updatePagination();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function (){
            const filterCollapse = document.getElementById("filterCollapse");

            const mainContent = document.getElementById("mainContent");

            const filterToggle = document.getElementById("filterToggle");
        
            function adjustMainContentWidth() {
                if (filterCollapse.classList.contains("show")){
                    mainContent.classList.remove("w-100");

                } else {
                    console.log(mainContent.classList)

                    mainContent.classList.add("w-100");
                }
            }
        
            adjustMainContentWidth();
        
            // Add event listener to toggle button
            filterToggle.addEventListener('click', adjustMainContentWidth);
        
            // Handle collapse events directly if needed
            filterCollapse.addEventListener('shown.bs.collapse', adjustMainContentWidth);
            filterCollapse.addEventListener('hidden.bs.collapse', adjustMainContentWidth);
        });
    </script>
        
     {% endblock sighting_content %}
{% endblock %}