.leaderboard-body{
    position: relative;
    place-items: center;
    width: 100%;
    height: 100%;
    color: #003755;
}

.leaderboard-body .leaderboard-section h1{
    margin-bottom: 0px !important;
    text-align: center;    
    font-family: "Montserrat"; 
    font-weight: 700;       
    font-size: 24px;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .leaderboard-body .leaderboard-section h1{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .leaderboard-body .leaderboard-section h1{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .leaderboard-body .leaderboard-section h1{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .leaderboard-body .leaderboard-section h1{
        font-size: 16px !important;
    }
}

.leaderboard{
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: "Montserrat";
    background-color: rgba(28, 169, 234, 0.4);
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .leaderboard{
        max-width: 100vw;
    }
}

.leaderboard h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;

}

.leaderboard .top-three{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard .top-three p{
    margin-bottom: 5px !important;
}

.leaderboard .top-three > div{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.leaderboard .rank-one{
    justify-content: center;
    place-items: center;
    margin-bottom: -30px;
    text-align: center;
}

.leaderboard .rank-two{
    place-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20%;
    width: 100%;
    text-align: center;
}

.leaderboard .rank-three{
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.leaderboard .profile{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
}

.leaderboard .profile.rank-one{
    justify-content: center;
    margin-bottom: 5px;
    background-color: #FFD700;
    text-align: center;
}

.leaderboard .profile.rank-two{
    justify-content: center;
    background-color: #C0C0C0;
    text-align: center;

}

.leaderboard .profile.rank-three{
    position: relative; 
    justify-content: center;
    background-color: #CD7F32;
    text-align: center;
}

.leaderboard .profile-picture{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: calc(100% - 0.6rem);
    height: auto;
    padding: 0.3rem; 
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  
}

.leaderboard .name{
    font-weight: 700;
    font-size: 1.1em;
    color: rgba(28, 169, 234);
    text-align: center;
}

.leaderboard .count{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: fit-content;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.1em;
    color: #FFFFFF;
    background-color: rgba(28, 169, 234, 0.8);
    text-align: center;
}

.leaderboard p.count{
    margin-bottom: 0.5rem !important;
}

.leaderboard .box{
    position: relative;
    display: block;
    place-self: end;
    width: 100%;
    height: 80%;
    background-color: rgba(28, 169, 234, 0.8);
}

.leaderboard .box h2{
    font-weight: 700;
    color: white;
    font-size: 64px;
}

.leaderboard .rank-two .box{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 169, 234, 0.8);
}

.leaderboard .rank-two .box h2{
    font-size: 36px;
}

.leaderboard .rank-three .box{
    position: relative;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 169, 234, 0.8);
}

.leaderboard .rank-three .box h2{
    font-size: 24px;
}

.leaderboard .second-row{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between !important; 
    justify-content: center;
}

.leaderboard .rank-fourandfive{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.leaderboard .rank-fourandfive p.name{
    max-width: 20rem;
}

.leaderboard .rank-fourandfive p.count{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem !important;
    height: 3rem;
    text-align: center;
}

.leaderboard .third-row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: 400px;
    height: 200px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #FFFFFF;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .leaderboard .third-row{
        width: 100%;
        max-width: 100vw;
    }
}

.leaderboard .third-row h3{
    font-size: 1.5rem;
}

.leaderboard .third-row p{
    margin-bottom: 0 !important;
    width: 8rem;
    font-size: larger;
    font-weight: 700;
}

.leaderboard .third-row p.count{
    margin-bottom: 0 !important;
    width: 5rem;
    font-size: medium !important;
}