.leaderboard-body{
    position: relative;
    width: 100%;
    height: 100%;
    color: #003755;
}

.leaderboard-body .leaderboard-section h1{
    margin-bottom: 0px !important;
    text-align: center;    
    font-family: "Montserrat"; 
    font-weight: 700;       
    font-size: 24px;        
}

@media screen and (min-width: 446px) and (max-width: 775px){
    .leaderboard-body .leaderboard-section h1{
        font-size: 22px !important;
    }
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .leaderboard-body .leaderboard-section h1{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .leaderboard-body .leaderboard-section h1{
        font-size: 18px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .leaderboard-body .leaderboard-section h1{
        font-size: 16px !important;
    }
}

.leaderboard{
    margin: auto;
    padding: 20px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: "Montserrat";
    background-color: rgba(28, 169, 234, 0.4);
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .leaderboard{
        max-width: 100vw;
    }
}

.leaderboard h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;

}

.top-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-3 p{
    margin-bottom: 5px !important;
}

.top-3 > div{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.rank-1{
    justify-content: center;
    place-items: center;
    margin-bottom: -30px;
    text-align: center;
}

.rank-2, .rank-3{
    width: 45%;
}

.rank-2{
    place-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20%;
    width: 100%;
    text-align: center;
}

.rank-3{
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
}

.circle .medal-icon {
    position: absolute;
    font-size: 1.5em;
}

.circle .rank-number{
    z-index: 1;
}

.circle.rank-1{
    justify-content: center;
    margin-bottom: 5px;
    background-color: #FFD700;
    text-align: center;
}

.circle.rank-2{
    justify-content: center;
    background-color: #C0C0C0;
    text-align: center;

}

.circle.rank-3{
    position: relative; 
    justify-content: center;
    background-color: #CD7F32;
    text-align: center;
}

.profile-picture{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: calc(100% - 0.6rem);
    height: auto;
    padding: 0.3rem; 
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  
}

.name{
    font-weight: 700;
    font-size: 1.1em;
    color: rgba(28, 169, 234);
    text-align: center;
}

.count{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: fit-content;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.1em;
    color: #FFFFFF;
    background-color: rgba(28, 169, 234, 0.8);
    text-align: center;
}

p.count{
    margin-bottom: 0.5rem !important;
}

.leaderboard table{
    width: 100%;
    border-collapse: collapse;
    background-color: unset !important;
}

.leaderboard table, .leaderboard th, .leaderboard td{
    border: 1px solid #D3D3D3;
    background-color: #FFFFFF !important;
}

.leaderboard th, .leaderboard td{
    padding: 8px;
    text-align: left;
}

.leaderboard th{
    background-color: #D3D3D3;
}

.second-row{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between !important; 
    justify-content: center;
}

.box-div{
    position: relative;
    display: block;
    place-self: end;
    width: 100%;
    height: 80%;
    background-color: rgba(28, 169, 234, 0.8);
}

.rank-3 .box-div{
    position: relative;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 169, 234, 0.8);
}

.rank-2 .box-div{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 169, 234, 0.8);
}

.rank-3 .box-div h2{
    font-size: 24px;
}

.rank-2 .box-div h2{
    font-size: 36px;
}

.box-div h2{
    font-weight: 700;
    color: white;
    font-size: 64px;
}

.rank-4-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}


.rank-4-5 p.count{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem !important;
    height: 3rem;
    text-align: center;
}

.third-row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: 400px;
    height: 200px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #FFFFFF;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .third-row{
        width: 100%;
        max-width: 100vw;
    }
}

.third-row h3{
    font-size: 1.5rem;
}

.third-row p{
    margin-bottom: 0 !important;
    width: 8rem;
    font-size: larger;
    font-weight: 700;
}

.third-row p.count{
    margin-bottom: 0 !important;
    width: 5rem;
    font-size: medium !important;

}

.rank-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: fit-content;
}

.rank-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
    
.rank-4-5 p.name{
    max-width: 20rem;
}