{% extends "officer/control/index/index.html" %}

{% block content %}
    <div class = "container mt-3">
        <h1 style = "font-size: 25px; font-weight: 600;" class = "required text-center">Add New Announcement</h1>
        
        <div class = "card mt-4">
            <div class = "card-body">
                <form id = "announcementForm" method = "post" enctype = "multipart/form-data">
                    {% csrf_token %}

                    <div class = "row">
                        <div class = "col-md-8">
                            <div class = "mb-1">
                                <div class = "h5">Announcement Details</div>
                            </div>

                            <div class = "mb-3">
                                <label for = "id_title" class = "required form-label">Title:</label>
                                
                                {{ form.title }}
                            </div>

                            <div class = "mb-3">
                                <label for = "id_release_date" class = "required form-label">Event Date:</label>
                                
                                {{ form.release_date }}
                            </div>
                        
                            <hr>

                            <div class = "mb-1">
                                <div class = "h5">Location Details</div>
                            </div>
                            
                            <div class = "mb-3">
                                <label for = "municipalityFilter" class = "required form-label">Municipality:</label>
                                
                                <select id = "municipalityFilter" class = "form-select form-select-sm mb-3 select2" onchange = "updateBarangayOptions()">
                                    <option value = "">Municipality</option>

                                    {% for location in municipalities %}
                                        <option value = "{{location.municipality}}">{{location.municipality}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class = "mb-3">
                                <label for = "barangayFilter" class = "required form-label">Barangay:</label>

                                <select id = "barangayFilter" class = "form-select form-select-sm mb-3 select2" onchange = "setBarangayValue()">
                                    <option value = "">Select Barangay</option>
                                </select>
                            </div>

                            <hr>
                            
                            <div class = "mb-1">
                                <div class = "h5">Other Details</div>
                            </div>
                            
                            <div class = "mb-3">
                                <label for = "id_details" class = "required form-label">Hosting Agency:</label>
                                
                                {{ form.hosting_agency }}
                            </div>
                            
                            <div class = "mb-3">
                                <label for = "id_details" class = "required form-label">Context:</label>
                                
                                {{ form.context }}
                            </div>

                            <input type = "hidden" id = "id_municipality" name = "municipality">

                            <input type = "hidden" id = "id_barangay" name = "barangay">
                        </div>

                        <div class = "col-md-4">
                            <div class = "mb-3">
                                <label for = "announcementPhoto" class = "required form-label">Announcement Photo:</label>
                                
                                <input type = "file" id = "announcementPhoto" name = "announcement_photo" class = "form-control">
                            </div>

                            <img id = "photoPreview" style = "display: block; width: 100%; height: auto;">
                        </div>
                    </div>

                    <button type = "submit" class = "btn btn-primary">Submit</button>
                </form>
                
                <script type = "text/javascript">
                    window.updateBarangayOptions = function(){
                        const municipalityFilter = document.getElementById("municipalityFilter").value;
                        
                        const barangayFilter = document.getElementById("barangayFilter");
                        
                        const municipalityInput = document.getElementById("id_municipality");
                
                        municipalityInput.value = municipalityFilter;
                        
                        barangayFilter.innerHTML = "<option value = ''>Select Barangay</option>";
                
                        if (municipalityFilter){
                            $.ajax({
                                url: "{% url 'get_barangays' %}",
                                
                                data: {"municipality": municipalityFilter},
                                
                                success: function(data){
                                    data.forEach(function(barangay){
                                        const option = document.createElement("option");
                                        
                                        option.value = barangay;
                                        
                                        option.textContent = barangay;
                                        
                                        barangayFilter.appendChild(option);
                                    });
                                }
                            });
                        };
                    };
                
                    window.setBarangayValue = function(){
                        const barangayFilter = document.getElementById("barangayFilter");
                        
                        const barangayInput = document.getElementById("id_barangay");
                        
                        barangayInput.value = barangayFilter.value;
                    };
                </script>
            </div>
        </div>
    </div>

    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.getElementById("announcementForm").addEventListener("submit", function(event){
            event.preventDefault();
            
            Swal.fire({title: "Are you sure?", text: "You won't be able to revert this!", icon: "warning", showCancelButton: true, confirmButtonColor: "#3085D6", cancelButtonColor: "#D33", confirmButtonText: "Yes, submit it!"}).then((result) => {
                if (result.isConfirmed){
                    event.target.submit();
                };
            });
        });

        document.getElementById("announcementPhoto").addEventListener("change", function(event){
            const photoPreview = document.getElementById("photoPreview");

            const file = event.target.files[0];
            
            if (file){
                const reader = new FileReader();
                
                reader.onload = function(e){
                    photoPreview.src = e.target.result;
                    photoPreview.style.display = "block";
                }
                
                reader.readAsDataURL(file);

            } else{
                photoPreview.src = "#";

                photoPreview.style.display = "none";
            };
        });
    </script>

     <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
     
     <script src = "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> 
     
     <script>
        document.addEventListener("DOMContentLoaded", function(){
            {% if errors and field_labels %}
                var errorMessages = {{errors | safe}};

                var fieldLabels = {{field_labels | safe}};
       
                for (var field in errorMessages){
                   if (errorMessages.hasOwnProperty(field)){
                       var fieldErrors = errorMessages[field];

                       var fieldLabel = fieldLabels[field];
                       
                       fieldErrors.forEach(function(error){
                           swal({title: "Error in " + fieldLabel, text: error.message, type: "error", confirmButtonText: "Ok"});
                       });
                   };
               };
            {% endif %}
 
            {% if location_error %}
                swal({title: "Error in Municipality and Barangay", text: "{{location_error}}", type: "error", confirmButtonText: "Ok"});
            {% endif %}
        });
    </script>
{% endblock %}