{% extends "officer/control/index/index.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="card-title">{{ announcement.title }}</h1>
                            <p><strong>Location:</strong> {{ announcement.location }}</p>
                            <p><strong>Posted By:</strong> {{ announcement.user }}</p>
                            <p><strong>Release Date:</strong> {{ announcement.release_date|date:"F j, Y, g:i a" }}</p>
                            <p><strong>Details:</strong> {{ announcement.context }}</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p><strong>Photo:</strong></p>
                            <img src="{{ announcement.get_photo_url }}" alt="{{ announcement.title }}" class="img-fluid rounded mb-3" style="width: 100%; max-width: 250px;">
                        </div>
                    </div>
                    <div class="text-end">
                        <a href="{% url 'Officer Control Update Announcement' pk=announcement.id %}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
