{% extends "officer/control/index/index.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ announcement.title }}</h1>
                    <p class="card-text">{{ announcement.context }}</p>
                    <img src="{{ announcement.announcement_photo.url }}" alt="{{ announcement.title }}" class="img-fluid">
                    <p class="card-text"><small class="text-muted">{{ announcement.release_date }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ announcement.place }}</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Other Announcements</h2>
            <ul class="list-group">
                {% for other in other_announcements %}
                    <li class="list-group-item">
                        <a href="{% url 'Officer Control Announcement' other.pk %}">
                            {{ other.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}