{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    <div class = "intervention-body">
        <div class = "intervention-section">
            <h1>INTERVENTIONS</h1>
        </div>
    
        {% for intervention in interventions %}
            <div class = "intervention">
                <div class = "intervention-header">
                    <p><i class = "fas fa-user"></i>{{intervention.hosting_agency | default:'None available'}}</p>
                    
                    <p></i>{{intervention.intervention_date | date:"M. d, Y" | default:'None available'}}</p>
                </div>
                
                <img class = "intervention-image" src = "{{intervention.intervention_photo.url | default:'None available'}}">

                <div class = "intervention-context">
                    <h1>{{intervention.title | default:'None available'}}</h1>
                    
                    <div class = "button">
                        <a href = "{% url 'Contributor Service Intervention Read' intervention.id %}">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
