{% extends "contributor/service/index/index.html" %}
{% load static %}


{% block content %}
    <div class = "intervention-body">
        <div class = "intervention-section">
            <h1>INTERVENTION DETAILS</h1>
        </div>

        {% if intervention %}
            <div class = "intervention">
                <div class = "read-intervention-header">
                    <p><i class = "fa-solid fa-user"></i>{{intervention.hosting_agency | default:'None available'}}</p>

                    <p><i class = "fa-solid fa-calendar-check"></i>{{intervention.intervention_date | date:'M. j, Y' | default:'None available'}}</p>

                    <p><i class = "fa-solid fa-arrow-up-short-wide"></i>{{intervention.caught_amount | default:'0'}}</p>
                </div>

                <div class = "intervention-gallery">
                    <img src = "{{intervention.intervention_photo.url}}">
                </div>

                <p><i class = "fa-solid fa-location-dot"></i>{{intervention.location | default:'None available'}}</p>

                <p>{{intervention.description | default:'None available'}}</p>

                <div class = "button">
                    <a class = "share-intervention" target = "blank">Share</a>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        {% if intervention %}
            const link = encodeURI("{{scheme}}://{{host}}{% url 'Contributor Service Intervention Read' intervention.id %}");

            const facebook = document.querySelector(".share-intervention");

            facebook.href = "https://www.facebook.com/share.php?u=" + link;
        {% endif %}
    </script>
{% endblock content %}