@import url("https://fonts.facebookapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.25s ease;
}


::-webkit-scrollbar{
    width: 2.5px !important;
    height: 2.5px !important;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF !important; 
}

::-webkit-scrollbar-button{
    display: none !important;
    width: 0px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
    background-color: #003755 !important;
}

::-webkit-scrollbar-thumb:hover{
    background: #002C44 !important;
}


.content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .content{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.login{
    width: 386px;
    display: grid;
    grid-column: 1;
    border: 1px solid #B2BEB5;
    border-radius: 5px !important;
}

@media screen and (min-width: 369px) and (max-width: 445px){
    .login{
        width: 309px;
    }
}

@media screen and (min-width: 349px) and (max-width: 368px){
    .login{
        width: 289px;
    }
}

@media screen and (min-width: 320px) and (max-width: 348px){
    .login{
        width: 260px;
    }
}

.login .card-header{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #003755;
    display: grid;
    place-items: center;
}

.login .card-header header{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px !important;
    color: #FFFFFF;
    white-space: nowrap !important; 
    overflow: auto !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .login .card-header header{
        font-size: 18px !important;
    }
}

.login .card-body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    display: grid;
    place-items: center;
    background-color: #FFFFFF;
}

.login .card-body .socials{
    width: 100%;
}

.login .card-body .socials .facebook{
    width: 100%;
    height: 100% !important;
    position: relative;
}

.login .card-body .socials button.facebook{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border: 1px solid #B2BEB5;
    border-radius: 5px;
    outline: none !important;
    background-color: #FFFFFF;
    color: #003755;
    cursor: pointer;
}

.login .card-body .socials button.facebook:hover{
    background-color: #B2BEB5;
    color: #002C44;
}

.login .card-body .socials button.facebook a{
    text-decoration: none;
}

.login .card-body .socials button.facebook i{
    left: 10px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 22px;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .login .card-body .socials button.facebook i{
        font-size: 14px;
    }
}

.login .card-body .socials button.facebook span{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    color: #154360 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .login .card-body .socials button.facebook span{
        font-size: 14px !important;
    }
}


.swal2-container .swal2-popup{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 5px !important;
    border: 1px solid #B2BEB5 !important; 
}

.swal2-container .swal2-popup .swal2-styled:focus{
    box-shadow: none !important;
}

.swal2-container .swal2-html-container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    color: #003755 !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .swal2-html-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0px !important;
        padding-bottom: 10px !important;
        margin: 0px !important;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #003755 !important;
    }
}

.swal2-container div:where(.swal2-icon){
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.swal2-container div:where(.swal2-icon).swal2-success .swal2-success-ring{
    border: 1px solid #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-success [class ^= swal2-success-line]{
    background-color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error{
    border-color: #003755 !important;
    color: #003755 !important;
}

.swal2-container div:where(.swal2-icon).swal2-error [class ^= swal2-x-mark-line]{
    background-color: #003755 !important;
}

.swal2-container h2:where(.swal2-title){
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.swal2-container .title{
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: 36px !important;   
    color: #003755 !important;
    pointer-events: none !important;
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .title{
        font-family: "Montserrat" !important;
        font-weight: 700 !important;
        font-size: 18px !important;   
        color: #003755 !important;
        pointer-events: none !important;
    }
}

.swal2-container div:where(.swal2-actions){
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.swal2-container .swal2-actions{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: fit-content !important;
}

.swal2-container .swal2-actions button{
    background-color: #003755 !important;
}

.swal2-container .info-button{
    visibility: hidden;
    font-size: 0px !important;
}

.swal2-container .info-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .info-button:hover{
    background-color: #10354C !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .info-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        outline: none !important;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #003755 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

.swal2-container .success-button{
    visibility: hidden;
    font-size: 0px !important;
}

.swal2-container .success-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .success-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .success-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        outline: none !important;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        background-color: #003755 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}

.swal2-container .error-button{
    visibility: hidden;
    font-size: 0px !important;
}

.swal2-container .error-button::before{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    content: "Ok" !important;
    visibility: visible !important;
    border: 1px solid #B2BEB5 !important; 
    border-radius: 5px !important;
    outline: none !important;
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    background-color: #003755 !important;
    color: #FFFFFF !important;
    pointer-events: auto !important;
    cursor: pointer;
}

.swal2-container .error-button:hover{
    background-color: #002C44 !important;
    color: #B2BEB5 !important;        
}

@media screen and (min-width: 320px) and (max-width: 775px){
    .swal2-container .error-button::before{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        content: "Ok" !important;
        visibility: visible !important;
        border: 1px solid #B2BEB5 !important; 
        border-radius: 5px !important;
        outline: none !important;
        font-family: "Montserrat" !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        background-color: #003755 !important;
        color: #FFFFFF !important;
        pointer-events: auto !important;
        cursor: pointer;
    }
}