{% extends 'officer/control/index/index.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div style="margin: 0.5in; box-sizing: border-box;">
    <div class="d-flex justify-content-end">
        <button style="background-color: rgb(30, 173, 95);" onclick="window.location.href='{% url 'Officer Control Report' %}'" class="btn btn-primary mt-4">GENERATE REPORT</button>
    </div>
    <div style="text-align: center;">
        <h1>COTS MAP</h1>
    </div>

    <div>
        <div style="height: 500px; width: 100%; border: 1px solid #ddd;" class="map"></div>
    </div>

    <script>
        function revealMap(){    
            map_statuses = L.layerGroup();

            function highlightBarangay(click){
                var layer = click.target;

                layer.setStyle({
                    color: "#10354C", 
                    weight: 5, 
                    fillOpacity: 0.75
                });

                layer.bringToFront();
            };

            function resetBarangay(click){
                status.resetStyle(click.target);
            };

            function zoomBarangay(click){
                var feature = click.target.feature;
                var properties = feature.properties;
                map.fitBounds(click.target.getBounds());
                var center = click.target.getCenter();
                var status = feature.properties.statustype;

                if (status === "Critical"){
                    fillings = "#C90016";
                } else if (status === "Moderate"){
                    fillings = "#F4C430";
                } else if (status === "Low"){
                    fillings = "#698F3F";
                } else{
                    fillings = "#003755";
                };
                
                var popup = L.popup({closeOnClick: false, autoClose: false}).setLatLng(center).setContent("<div class = 'popup'>" + "<div class = 'popup-header'>" + "<i class = 'fa-solid fa-circle-exclamation'>" + "</i>" + "<i class = 'fa-solid fa-square-xmark popup-back'>" + "</i>" + "</div>" + "<div class='popup-place'>" + "<p>" + "<a>" + properties.barangay + "</a>" + ", " + properties.municipality + "</p>" + "</div>" + "<div class = 'popup-statistics'>" + "<p>" + "As of " + "<a>" + properties.onset_date + "</a>" + ":" + "</p>" + "<p>" + "<a style = 'color: " + fillings + ";'>" + properties.statustype + "</a>" + " status" + "," + "</p>" + "<p>" + "<a>" + properties.caught_overall + "</a>" + " COTS caught" + "." + "</p>" + "</div>").openOn(map);
                
                var popupBack = popup._contentNode.querySelector(".popup-back");
                popupBack.addEventListener("click", function(){
                    map.closePopup(popup);
                });
            };

            var status = L.geoJSON([{
                "type": "FeatureCollection", 
                "features": [
                    {% for status in map_statuses %}
                        {"type": "Feature", "properties": {"barangay": "{{status.location.barangay}}", "municipality": "{{status.location.municipality}}", "caught_overall": "{{status.caught_overall}}", "statustype": "{{status.statustype}}", "onset_date": "{{status.onset_date}}"}, "geometry": {"type": "Polygon", "coordinates": {{status.location.perimeters}}}}, 
                    {% endfor %}
                ]
            }], {
                style: function(feature){
                    var status = feature.properties.statustype;
                    var fillings = "";

                    if (status === "Critical"){
                        fillings = "#C90016";
                    } else if (status === "Moderate"){
                        fillings = "#F4C430";
                    } else if (status === "Low"){
                        fillings = "#698F3F";
                    } else{
                        fillings = "#003755";
                    };

                    return{
                        color: "#002C44", 
                        weight: 1, 
                        fillColor: fillings, 
                        fillOpacity: 0.25
                    };
                }, 

                onEachFeature: function (feature, layer){
                    layer.on({
                        mouseover: highlightBarangay, 
                        mouseout: resetBarangay, 
                        click: zoomBarangay
                    });
                }
            });

            status.addTo(map_statuses);
            
            var starfish = L.icon({iconUrl: "{% static 'assets/pin.png' %}", iconSize: [30, 30], iconAnchor: [15, 15]});
        
            var map_posts = L.markerClusterGroup({iconCreateFunction: function(cluster){return starfish}, removeOutsideVisibleBounds: false});
        
            {% for post in map_posts %}
                var postMarker = L.marker([{{post.coordinates.latitude}}, {{post.coordinates.longitude}}], {icon: starfish});
                
                postMarker.bindPopup("<div class = 'popup'>" + "<div class = 'popup-header'>" +  "<img src = '{{post.user.profile_photo.url | default:''}}'>" +  "<div class='popup-username'>" +  "<p><a>{{post.user | default:'None available'}}</a></p>" + "</div>" + "<i class = 'fa-solid fa-square-xmark popup-back'></i>" + "</div>" + "<div class = 'popup-post'>" + "<div class = 'post-gallery'>" + "<img src = '{{post.post_photos.all.first.post_photo.url}}'>" + "<div class = 'post-context'>" + "<p>{{post.capture_date | default:'None available'}}</p>" + "<a>{{post.location | default:'None available'}}</a>" + "</div>" + "</div>" + "</div>" + "<div class = 'button'><a class = 'read-post' href = '{% url 'Post Valid Read Redirect' %}'>Read</a></div>", {closeOnClick: false, autoClose: false});

                postMarker.on("popupopen", function(e){
                    var popup = e.popup;
                    
                    var popupBack = popup.getElement().querySelector(".popup-back");
                    
                    popupBack.onclick = function(){
                        popup.close();
                    };
                });

                postMarker.on("click", function(event){                    
                    if (!this.isPopupOpen()){
                        this.openPopup();
                    }
                });

                map_posts.addLayer(postMarker);
            {% endfor %}

            var map = document.getElementsByClassName("map")[0];

            var background = L.tileLayer("http://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}", {minZoom: 11, maxZoom: 15, subdomains:["mt0", "mt1", "mt2", "mt3"]});

            var map = L.map(map, {zoomControl: true, scrollWheelZoom: false, dragging: true, maxBounds: [[5.266008, 124.277344], [6.489983, 126.035156]], layers: [background, map_posts]}).setView([5.9656, 125.1929], 11);
            
            map.on("popupopen", function(event){
                var popup = map.project(event.target._popup._latlng);
                
                popup.y -= event.target._popup._container.clientHeight / 2;
                
                map.panTo(map.unproject(popup), {animate: true});
            });

            map.attributionControl.remove();

            var bases = {};
            
            var overlays = {
                "Posts": map_posts, 
                "COTS Status": map_statuses
            };

            var management = L.control.layers(bases, overlays).addTo(map);
            management.setPosition("bottomright");

            var legend = L.control({position: "topright"});
            legend.onAdd = function(map){
                this._div = L.DomUtil.create("div", "legend");
                this.update();
                return this._div;
            };

            legend.update = function(property){
                if (map.hasLayer(map_statuses)){
                    this._div.style.display = "grid";
                    this._div.innerHTML = "<div class = 'popup-header'>" + "<p>" + "<a>" + "Map " + "</a>" + "legend" + ":" + "</a>" + "</p>" + "</div>";
                    
                    var ranges = ["75 and up", "25 to 75", "0 to 25"];
                    var labels = ["Critical", "Moderate", "Low"];
                    var colors = ["#C90016", "#F4C430", "#698F3F"];

                    for (var i = 0; i < ranges.length; i++){
                        this._div.innerHTML += "<div class = 'popup-statistics'>" + "<i style = 'background:" + colors[i] + "'>" + "</i>" + "<p>" + labels[i] + ", " + "<a>" + ranges[i] + "</a>" + "." + "</p>" + "</div>";
                    }

                } else{
                    this._div.style.display = "none";
                };
            };

            legend.addTo(map);

            map.on("overlayadd overlayremove", function(event){
                if (event.name === "COTS Status"){
                    legend.update();
                }
            });
        };

        window.addEventListener("load", function (){
            revealMap();
        });
    </script>

    <h1 style="text-align: center;">COTS STATUS GRAPH</h1>

    <div class="container">
        <h1>Interventions by Location</h1>
        <div class="form-group">
            <label for="municipality">Municipality:</label>
            <select id="municipality" class="form-control" onchange="updateBarangayOptions()">
                <option value="all">All Municipalities</option>
                {% for municipality in municipalities %}
                    <option value="{{ municipality.municipality }}">{{ municipality.municipality }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="barangay">Barangay:</label>
            <select id="barangay" class="form-control">
                <option value="all">All Barangays</option>
            </select>
        </div>
        <div class="form-group">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="form-group">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <button id="filter-button" class="btn btn-primary">Filter</button>
        <canvas id="myChart"></canvas>
    </div>
    
    <script>
        const chartData = JSON.parse('{{ chart_data|escapejs }}');
        let labels = new Set();
        const datasets = [];
    
        // Define colors for datasets
        const colors = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ];
    
        Object.keys(chartData).forEach((location, index) => {
            chartData[location]['onset_dates'].forEach(date => labels.add(date));
        });
    
        labels = Array.from(labels).sort();
    
        Object.keys(chartData).forEach((location, index) => {
            const data = labels.map(date => {
                const dateIndex = chartData[location]['onset_dates'].indexOf(date);
                return dateIndex !== -1 ? chartData[location]['caught_overalls'][dateIndex] : 0;  // Fill missing dates with 0
            });
    
            datasets.push({
                label: location,
                data: data,
                borderColor: colors[index % colors.length],  // Assign colors in a round-robin fashion
                fill: false
            });
        });
    
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                title: {
                    display: true,
                    text: 'Caught Overall by Onset Date per Location'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Onset Date'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Caught Overall'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    
        document.getElementById('filter-button').addEventListener('click', () => {
            const startDate = document.getElementById('start-date').value;
            const endDate = document.getElementById('end-date').value;
            const selectedMunicipality = document.getElementById('municipality').value;
            const selectedBarangay = document.getElementById('barangay').value;
    
            let filteredLabels = labels;
            let filteredDatasets = datasets;
    
            if (startDate && endDate) {
                filteredLabels = labels.filter(date => date >= startDate && date <= endDate);
            }
    
            if (selectedMunicipality !== 'all' || selectedBarangay !== 'all') {
                filteredDatasets = datasets.map(dataset => {
                    if ((selectedMunicipality === 'all' || dataset.label.includes(selectedMunicipality)) &&
                        (selectedBarangay === 'all' || dataset.label.includes(selectedBarangay))) {
                        return {
                            ...dataset,
                            data: filteredLabels.map(date => {
                                const dateIndex = labels.indexOf(date);
                                return dataset.data[dateIndex];
                            })
                        };
                    } else {
                        return null;
                    }
                }).filter(dataset => dataset !== null);
            }
    
            myChart.data.labels = filteredLabels;
            myChart.data.datasets = filteredDatasets;
            myChart.update();
        });
    
        function updateBarangayOptions() {
            const municipality = document.getElementById('municipality').value;
            const barangaySelect = document.getElementById('barangay');
    
            barangaySelect.innerHTML = '<option value="all">All Barangays</option>';
    
            if (municipality !== 'all') {
                fetch(`{% url 'get_barangays' %}?municipality=${municipality}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(barangay => {
                            const option = document.createElement('option');
                            option.value = barangay;
                            option.textContent = barangay;
                            barangaySelect.appendChild(option);
                        });
                    });
            }
        }
    </script>



    <!-- <script>
        var categories = [];
        var data = [];
    
        {% for map_status in map_graphs %}
            categories.push("{{map_status.location}}");
            data.push({
                x: "{{map_status.location}}",
                y: {{map_status.caught_overall}}, fillColor: {{map_status.caught_overall}} < 25 ? "#698F3F" : {{map_status.caught_overall}} < 75 ? "#F4C430" : "#C90016"
            });
        {% endfor %}
    
        var configurations = {
            series: [{
                name: "Caught Overall",
                data: data
            }],
            chart: {
                fontFamily: "Open Sans",
                height: 500,
                type: "bar",
                toolbar: { show: false },
                zoom: { enabled: false }
            },
            legend: { show: false },
            plotOptions: {
                bar: {
                    distributed: true,
                    colors: {
                        ranges: [{
                            from: 0, to: 24, color: "#698F3F"
                        }, {
                            from: 25, to: 74, color: "#F4C430"
                        }, {
                            from: 75, to: undefined, color: "#C90016"
                        }]
                    }
                }
            },
            tooltip: {
                style: { fontSize: '14px' }
            },
            xaxis: {
                categories: categories,
                title: {
                    text: "Coastal Barangays",
                    style: { fontSize: "14px", fontWeight: "700" }
                },
                labels: { style: { fontSize: "14px", fontWeight: "400" } }
            },
            yaxis: {
                title: {
                    text: "COTS Caught",
                    style: { fontSize: "14px", fontWeight: "700" }
                },
                labels: { style: { fontSize: "14px", fontWeight: "400" } }
            }
        };
    
        var graph = new ApexCharts(document.querySelector(".map-graph"), configurations);
        graph.render();
    </script> -->
</div>
{% endblock %}
