{% extends "officer/control/index/index.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <link href = "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src = "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel = "stylesheet" href = "{% static 'css/officer/control/status/status.css' %}">
    
    <script src = "https://cdn.jsdelivr.net/npm/moment@2.29.4"></script>
    
    <script src = "https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@2.29.4"></script>
    
    <script src = "https://unpkg.com/leaflet-image/leaflet-image.js"></script>

    <style>
        .table > :not(caption) > * > * {
            padding: 15px 30px !important;
        }

        .breadcrumb{
            background-color: rgb(250, 250, 250, 0.75);
            border-radius: 0.25rem;
            padding: 1rem;
        }

        .breadcrumb-separator{
            margin: 0 1rem;
            font-weight: 700;
            color: rgba(33, 37, 41, 0.75);
            display: none;
        }

        .breadcrumb-separator.status_active{
            margin: 0 0.8rem;
            font-weight: 700;
            color: rgba(33, 37, 41, 0.75);
            display: block;
        }

        .breadcrub-item{
            color: #6C757D;
            display: none;
        }

        .breadcrumb-item::before{
            display: none !important;
        }

        .status_active{
            display: block;
            font-family: "Montserrat"; 
            font-weight: 700; 
            font-size: 16px;
            color: rgb(28, 186, 234);
        }

        .status_active::before{
            display: block;
        }

        .collapse-button{
            cursor: pointer;
        }

        .pdf-header{
            display: block;
        }
      
        .back-button{
            margin-right: 10px;
        }

        #statusChart{
            display: block;
        }

        #chartContainer{
            display: block;
            
        }

        .chart-content{
            display: flex;
            gap: 25px;
        }

        #map{
            display: block;
        }

        .dropdown-menu{
            left: unset !important;
        }

        .col-lg-8{
            padding: 0px !important;
        }
    </style>

    <nav aria-label = "breadcrumb">
        <ol class = "breadcrumb">
            <li style = "font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(52, 144, 242);" class = "breadcrumb-item {% if location_number >= 1 %}status_active{% endif %}">
                {% if location_number >= 1 %}
                    Infestations
                {% endif %}
            </li>
            
            <span style = "font-family: 'Montserrat'; font-weight: 400; font-size: 16px;" class = "breadcrumb-separator {% if location_number >= 2 %}status_active{% endif %}">/</span>
            
            <li style = "font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(52, 144, 242);" class = "breadcrumb-item {% if location_number >= 2 %}status_active{% endif %}">
                {% if location_number >= 2 %}
                    {% block municipality %}Municipality{% endblock municipality %}
                {% endif %}
            </li>

            <span style = "font-family: 'Montserrat'; font-weight: 400; font-size: 16px;" class = "breadcrumb-separator {% if location_number == 3 %}status_active{% endif %}">/</span>
            
            <li style = "font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: rgb(52, 144, 242);" class = "breadcrumb-item {% if location_number == 3 %}status_active{% endif %}">
                {% if location_number == 3 %}
                    {% block barangay %}Barangay{% endblock barangay %}
                {% endif %}
            </li>
        </ol>
    </nav>

    {% if location_number > 1 %}
        <button style = "margin-bottom: 15px; padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: #FFFFFF;" class = "btn btn-secondary back-button" onclick = "window.history.back()">
            <i class = "fas fa-arrow-left"></i> 

            Back
        </button>
    {% endif %}

    <button style = "margin-bottom: 15px; padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: #FFFFFF;" class = "btn btn-secondary collapse-button" type = "button" data-toggle = "collapse" data-target = "#filterForm">
        <i class = "fas fa-chevron-down"></i>
        
        Filter
    </button>

    <div class = "report-button" style = "float: right; margin-top: 0px; padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important;">
        <button style = "margin-bottom: 15px; font-family: 'Montserrat'; font-weight: 400; font-size: 16px; color: #FFFFFF;" id = "generatePdf" class = "btn btn-secondary collapse-button">Generate PDF</button>
    </div>

    <!-- <button class = "btn btn-secondary mb-3" id="hideButton">Show Graph</button> -->
   
     <div id = "filterForm" class = "collapse">
        <form method = "get" action = "">
            <div class = "form-input" style = "display: flex; align-items: end; justify-content: flex-start; gap: 30px; margin-bottom: 15px !important;">
                {% if location_number == 1 %}
                    <div>
                        <label for = "municipality" style = "display: block; margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: #003755 !important;">Municipality</label>
                        
                        <select style = "width: 100%; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; border: 1px solid #003755; border-radius: 5px; appearance: none; outline: none !important; font-family: 'Montserrat'; font-weight: 400 !important; font-size: 14px !important; color: #003755 !important; cursor: pointer;" id = "municipality" name = "municipality" class = "form-control">
                            <option value = "">All</option>
                            
                            {% for municipality in municipalities %}
                                <option value = "{{municipality}}" {% if request.GET.municipality == municipality %}selected{% endif %}>{{municipality}}</option>
                            {% endfor %}
                        </select>
                    </div>

                {% elif location_number == 2 %}
                    <div>
                        <label for = "barangay" style = "display: block; margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: #003755 !important;">Barangay</label>

                        <select style = "width: 100%; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; border: 1px solid #003755; border-radius: 5px; appearance: none; outline: none !important; font-family: 'Montserrat'; font-weight: 400 !important; font-size: 14px !important; color: #003755 !important; cursor: pointer;" id = "barangay" name = "barangay" class = "form-control">
                            <option value = "">All</option>

                            {% for barangay in barangays %}
                                <option value = "{{barangay}}" {% if request.GET.municipality == barangay %}selected{% endif %}>{{barangay}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                <div>
                    <label for = "status"  style = "display: block; margin-bottom: 0px !important; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: #003755 !important;">Status</label>

                    <select style = "width: 100%; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; border: 1px solid #003755; border-radius: 5px; appearance: none; outline: none !important; font-family: 'Montserrat'; font-weight: 400 !important; font-size: 14px !important; color: #003755 !important; cursor: pointer;" id = "status" name = "status" class = "form-control">
                        <option value = "">All</option>

                        {% for status in statuses %}
                            <option value = "{{status}}" {% if request.GET.status == status %}selected{% endif %}>{{status}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <button type = "submit" style = "padding-left: 10px !important; padding-right: 10px !important; padding-top: 5px !important; padding-bottom: 5px !important; border: none !important; border-radius: 5px; appearance: none !important; outline: none !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: 'Montserrat'; font-weight: 400; font-size: 14px; color: #FFFFFF !important; background-color: #003755 !important; text-decoration: none; cursor: pointer;" class = "btn btn-primary">Apply Filter</button>
                </div>
            </div>
        </form>
    </div>

    <h1 style = "margin-bottom: 15px; border-bottom: 1px solid rgba(229, 229, 229); font-family: 'Montserrat'; font-weight: 700; font-size: 20px; color: rgb(52, 144, 242);"></h3>
    
    <div class = "pdf-header">
        <div class = "report-header" style = "display: flex; flex-direction: column; align-items: center; margin-bottom: 15px;">
            <img src = "{% static 'assets/icons/brand.png' %}" style = "width: 100%;">
                        
            {% if location_number == 1 %}
                <h3 style = "margin-bottom: 0px !important; font-family: 'Montserrat' !important; font-weight: 700; font-size: 26px; color: rgb(52, 144, 242);">Infestation Report</h3>
            
                <p id="reportDate" style = "margin-bottom: 0px !important; font-family: 'Montserrat' !important; font-weight: 700; font-size: 20px;"></p>

            {% elif location_number == 2 %}
                <h3 style = "margin-bottom: 0px !important; font-family: 'Montserrat' !important; font-weight: 700; font-size: 26px; color: rgb(52, 144, 242);">Infestation Report of {{municipality_name}}</h3>
            
                <p id = "reportDate" style = "margin-bottom: 0px !important; font-family: 'Montserrat' !important; font-weight: 700; font-size: 20px;"></p>
            {% elif location_number == 3 %}
            
                <h3 style = "margin-bottom: 0px !important; font-family: 'Montserrat' !important; font-weight: 700; font-size: 26px; color: rgb(52, 144, 242);">Infestation Report of {{barangay_name}} in {{municipality_name}}</h3>
                
                <p id = "reportDate" style = "margin-bottom: 0px !important; font-family: 'Montserrat' !important; font-weight: 700; font-size: 20px;"></p>
            {% endif %}
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function (){
                const today = new Date();
        
                const day = today.getDate().toString().padStart(2, "0");

                const month = (today.getMonth() + 1).toString().padStart(2, "0");

                const year = today.getFullYear();
        
                const formattedDate = `${month}/${day}/${year}`;
        
                document.getElementById("reportDate").textContent = `${formattedDate}`;
            });
        </script>
    </div>

    <div class = "row mx-auto" style = "justify-content: center;">
        {% if location_number != 3%}
            <div class = "col-lg-6" style = "display: none;">
                <div class = "mx-auto">
                    <div class = "chart-content">
                        <canvas id = "statusChart" width = "200" height = "100" class = "mt-auto"></canvas>

                        {% if location_number == 3%}
                            <div class = "graph-legends" id = "graphLegends">
                                            
                                <div class = "legends-container">
                                    <h1>Legend:</h1>
                                </div>
                                
                            </div>
                            
                            <div id = "noDataMessage">No data available for the selected year.</div>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% elif location_number == 3%}
            <div class = "col-lg-8" style = "padding-left: 0px !important; padding-right: 0px !important;">
                <div class = "mx-auto">
                    <div class = "chart-content">
                        <div class="col-lg-8">
                            <canvas id = "statusChart" width = "200" height = "100" class = "mt-auto"></canvas>
                        </div>

                        <div class = "col-sm-3">
                            {% if location_number == 3%}
                                <div class = "graph-legends" id = "graphLegends">
                                    <div class = "legends-container">
                                        <h1>Legend:</h1>
                                    </div>
                                </div>

                                <div id = "noDataMessage">No data available for the selected year.</div>
                        {% endif %}
                        </div>
                       
                    </div>
                </div>
            </div>
        {% endif %}

        {% if location_number != 3%}
            <div class = "col-lg-12" style = "padding: 0px !important;">
                <div id = "mapContainer" class = "mapContainer">
                    <div id = "map" style = "height: 350px; width: 100%; margin-left: auto; border-radius: 5px;"></div>                
                </div>
            </div>

        {% elif location_number == 3%}
            <div class = "col-lg-4" style = "padding: 0px !important;">
                <div id = "mapContainer" class = "mapContainer">
                    <div id = "map" style = "height: 280px; width: 100%; margin-left: auto; border-radius: 5px;"></div>
                </div>
            </div>
        {% endif %}

        <style>
            .leaflet-control-zoom{
                border-radius: 5px !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-in{
                -webkit-user-select: none;
                -ms-user-select: none; 
                user-select: none;
                background-color: #FFFFFF !important;
                color: #003755 !important;
                text-decoration: none !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-in:hover{
                background-color: #B2BEB5 !important;
                color: #002C44 !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-in:focus{
                background-color: #B2BEB5 !important;
                color: #002C44 !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-in:active{
                background-color: #B2BEB5 !important;
                color: #002C44 !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-in.leaflet-disabled{
                background-color: #B2BEB5 !important;
                color: #002C44 !important;
                cursor: default !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-in.leaflet-disabled span{
                color: #002C44 !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-out{
                -webkit-user-select: none;
                -ms-user-select: none; 
                user-select: none; 
                background-color: #003755 !important;
                color: #FFFFFF !important;
                text-decoration: none !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-out:hover{
                background-color: #002C44 !important;
                color: #B2BEB5 !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-out:focus{
                background-color: #002C44 !important;
                color: #B2BEB5 !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-out:active{
                background-color: #002C44 !important;
                color: #B2BEB5 !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-out.leaflet-disabled{
                background-color: #002C44 !important;
                color: #B2BEB5 !important;
                cursor: default !important;
            }

            .leaflet-control-zoom a.leaflet-control-zoom-out.leaflet-disabled span{
                color: #B2BEB5 !important;
            }
        </style>
    </div>

    <hr style = "margin-top: 15px; margin-bottom: 15px; border: unset !important;">
    
    <input type = "hidden" id = "municipality_name" value = "{{municipality_name}}">
   
    {% block status-content %}
        <h2 style = "border-bottom: 1px solid rgba(229, 229, 229); font-family: 'Montserrat'; font-weight: 700; font-size: 20px; color: rgb(52, 144, 242); text-align: left; text-transform: uppercase;">Infestation Status</h2>

        <div class = "container-fluid" style = "display: table; margin-bottom: 15px !important; padding-left: 0px !important; padding-right: 0px !important; width: 100%;">
            <table id = "statusTable" class = "table table-hover">
                <thead>
                    <tr>
                        <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Activity Date</th>
                       
                        <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Municipality</th>
                       
                        <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Total No. of COTS Collected</th>
                       
                        <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234);" scope = "col">Infestation Level</th>
                       
                        <th style = "display: table-cell; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 16px; color: rgb(28, 169, 234); text-align: center;" scope = "col">Actions</th>
                    </tr>
                </thead>

                <tbody class = "table-group-divider" style = "cursor: pointer;">
                    {% for status in paginated_statuses %}
                        <tr data-href = "{% url 'Officer Control Status Municipality Read' status.location.municipality %}">
                            <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">{{status.onset_date | format_date_mmddyy}}</td>
                            
                            <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">{{status.location.municipality}}</td>
                            
                            <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 400; font-size: 12px;">{{status.caught_overall}}</td>
                            
                            <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 12px;" class = "status-{{status.statustype}}">{{status.statustype}}</td>
                            
                            <td style = "display: table-cell !important; max-width: 0px; font-family: 'Montserrat'; font-weight: 700; font-size: 12px; text-align: center; vertical-align: middle;">
                                <i class = "fas fa-search" style = "font-size: 12px; color: rgb(28, 169, 234);" aria-hidden="true"></i>
                            </td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <nav>
                <ul class = "pagination justify-content-center">
                    {% if paginated_statuses.has_previous %}
                        <li class = "page-item">
                            <a class = "page-link" href = "?page={{paginated_statuses.previous_page_number}}&municipality={{request.GET.municipality}}&status={{request.GET.status}}" aria-label = "Previous">
                                <span aria-hidden = "true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in paginated_statuses.paginator.page_range %}
                        {% if paginated_statuses.number == num %}
                            <li class = "page-item active">
                                <a class = "page-link" href = "?page={{num}}&municipality={{request.GET.municipality}}&status={{request.GET.status}}">{{num}}</a>
                            </li>

                        {% else %}
                            <li class = "page-item">
                                <a class = "page-link" href = "?page={{num}}&municipality={{request.GET.municipality}}&status={{request.GET.status}}">{{num}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if paginated_statuses.has_next %}
                        <li class = "page-item">
                            <a class = "page-link" href = "?page={{ paginated_statuses.next_page_number }}&municipality={{ request.GET.municipality }}&status={{ request.GET.status }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>    
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function(){
                var rows = document.querySelectorAll("tr[data-href]");
                rows.forEach(row => {
                    row.addEventListener("click", function(){
                        window.location.href = this.dataset.href;
                    });
                });
            });
        </script>
    {% endblock %}

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script src = "https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>

    <script src = "https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>

    {% if location_number == 1%}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const ctx = document.getElementById("statusChart").getContext("2d");

                const chartData = JSON.parse("{{chart_data|escapejs}}");
                
                const statusTypes = JSON.parse("{{status_types|escapejs}}");

                const statusColors = {
                    "Critical": "#C90016",

                    "High": "#FF7518",
                    
                    "Moderate": "#F4C430",
                    
                    "Low": "#698F3F",
                    
                    "Default": "#003755"
                };

                const colorPriority = {
                    "#C90016": 1,

                    "#FF7518": 2,
                    
                    "#F4C430": 3,
                    
                    "#698F3F": 4,
                    
                    "#003755": 5
                };

                const municipalities = Object.keys(chartData);

                let datasets = statusTypes.map(statusType => {
                    return {
                        label: statusType.statustype,

                        data: municipalities.map(municipality => {
                            return chartData[municipality][statusType.id] ? chartData[municipality][statusType.id].reduce((sum, item) => sum + item.count, 0) : 0;
                        }),
                        
                        backgroundColor: statusColors[statusType.statustype] || statusColors["Default"],
                    };
                });

                datasets = datasets.sort((a, b) => {
                    return (colorPriority[a.backgroundColor] || colorPriority["#003755"]) - (colorPriority[b.backgroundColor] || colorPriority["#003755"]);
                });

                new Chart(ctx, {
                    type: "bar",

                    data: {
                        labels: municipalities,
                    
                        datasets: datasets
                    },
                    
                    options: {
                        scales: {
                            x: {
                                stacked: true,
                            },

                            y: {
                                stacked: true,
                            }
                        },

                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function(context){
                                        const municipality = context.label;
                                        
                                        const statusType = context.dataset.label;
                                        
                                        const count = context.raw;

                                        return `${statusType}: ${count}`;
                                    },
                                    
                                    afterBody: function(tooltipItems){
                                        const context = tooltipItems[0];

                                        const municipality = context.label;
                                        
                                        const statusType = context.dataset.label;

                                        const statusItems = chartData[municipality][statusTypes.find(st => st.statustype === statusType).id];
                                        
                                        const details = statusItems.map(item => `Barangay: ${item.barangay_name}, Latest Date: ${item.date}`).join('\n');

                                        return details;
                                    }
                                },

                                useHTML: true
                            }
                        }
                    }
                });

                const hideButton = document.getElementById("hideButton");

                const chartCanvas = document.getElementById("chartContainer");

                hideButton.addEventListener("click", () => {
                    if (chartCanvas.style.display === "none"){
                        chartCanvas.style.display = "block";
                        
                        hideButton.textContent = "Hide Graph";
                    
                    } else {
                        chartCanvas.style.display = "none";

                        hideButton.textContent = "Show Graph";
                    }
                });
            });
        </script>

    {% elif location_number == 2 %}
        <script>
            document.addEventListener("DOMContentLoaded", function (){
                const ctx = document.getElementById("statusChart").getContext("2d");

                const chartDataText = "{{chart_data|escapejs}}";
                
                const statusTypesText = "{{status_types|escapejs}}";

                console.log(chartDataText);

                let chartData;

                let statusTypes;

                try {
                    chartData = JSON.parse(chartDataText);

                    statusTypes = JSON.parse(statusTypesText);

                } catch (e){
                    console.error("An error occurred during parsing JSON: ", e);

                    return;
                }

                const statusColors = {
                    "Critical": "#C90016",

                    "High": "#FF7518",

                    "Moderate": "#F4C430",

                    "Low": "#698F3F",

                    "None": "#003755"
                };

                const colorPriority = {
                    "#C90016": 1,
                    
                    "#FF7518": 2,

                    "#F4C430": 3,

                    "#698F3F": 4, 
                    
                    "#003755": 5  
                };

                const barangays = Object.keys(chartData);

                let datasets = statusTypes.map(statusType => {
                    return {
                        label: statusType.statustype,

                        data: barangays.map(barangay => chartData[barangay][statusType.id]?.count || 0),

                        backgroundColor: statusColors[statusType.statustype] || statusColors["None"],
                    };
                });

                datasets = datasets.sort((a, b) => {
                    return (colorPriority[a.backgroundColor] || colorPriority["#003755"]) - (colorPriority[b.backgroundColor] || colorPriority["#003755"]);
                });

                // Create the bar chart
                new Chart(ctx, {
                    type: "bar",

                    data: {
                        labels: barangays,

                        datasets: datasets
                    },

                    options: {
                        scales: {
                            x: {
                                stacked: true,
                            },

                            y: {
                                stacked: true,
                            }
                        },

                        plugins: {
                            title: {
                                display: true,
                                
                                text: `Infestation Status by Barangay in ${document.getElementById("municipality_name").value}`,
                                
                                font: {
                                    size: 18
                                },

                                padding: {
                                    top: 20,

                                    bottom: 20
                                }
                            },

                            tooltip: {
                                callbacks: {
                                    label: function(context) {
                                        const barangay = context.label;
                                       
                                        const statusType = context.dataset.label;
                                       
                                        const count = context.raw;
                                        
                                        const date = chartData[barangay][statusTypes.find(st => st.statustype === statusType).id]?.date || "N/A";
                                        
                                        return `${statusType}: ${count} (Latest Date: ${date}, Barangay: ${barangay})`;
                                    }
                                }
                            }
                        }
                    }
                });
            });
        </script>

    {% elif location_number == 3 %}
        <script>
            function shownStatusColor(statusType){
                switch (statusType){
                    case "Very Low":
                        return "#003755";

                    case "Low":
                        return "#698F3F";

                    case "Moderate":
                        return "#F4C430";

                    case "High":
                        return "#FF7518";

                    case "Critical":
                        return "#C90016";

                    default:
                        return null;
                };
            };

            function shownStatusType(caughtAmount){
                if (caughtAmount >= 1 && caughtAmount <= 5){
                    return "Very Low";

                } else if (caughtAmount >= 6 && caughtAmount <= 12){
                    return "Low";

                } else if (caughtAmount >= 13 && caughtAmount <= 18){
                    return "Moderate";

                } else if (caughtAmount >= 19 && caughtAmount <= 24){
                    return "High";

                } else {
                    return "Critical";
                };
            };

            const graphData = JSON.parse("{{chart_data | escapejs}}");

            const statusOrder = ["Very Low","Low", "Moderate", "High", "Critical"];

            graphData.sort((a, b) => new Date(a.event_date) - new Date(b.event_date));

            if (graphData.length === 0){
                document.getElementById("statusChart").style.display = "none";

                document.getElementById("noDataMessage").style.display = "block";

                document.getElementById("graphLegends").style.display = "none";

            } else{
                document.getElementById("statusChart").style.display = "block";

                document.getElementById("noDataMessage").style.display = "none";

                document.getElementById("graphLegends").style.display = "block";

                const uniqueLocations = [...new Set(graphData.map(entry => entry.location))];

                const barangay = uniqueLocations.length > 1 ? "All" : (uniqueLocations[0] || "All");

                const latestEntry = graphData[graphData.length - 1];

                const status = latestEntry.status_type.toUpperCase();

                const asOfDate = `${new Date(latestEntry.event_date).toLocaleDateString("en-US", {month: "2-digit", day: "2-digit", year: "numeric"})}`;

                const interventionYears = graphData.map(entry => new Date(entry.event_date).getFullYear());

                const minYear = Math.min(...interventionYears);

                const maxYear = Math.max(...interventionYears);
                
                const data = {
                    datasets: [{
                        label: "Number of COTS Collected",

                        data: graphData.map(entry => ({
                            x: entry.event_date,

                            y: entry.caught_amount,

                            location: entry.location,
                            
                            title: entry.title,
                            
                            statusType: shownStatusType(entry.caught_amount),
                            
                            volunteerAmount: entry.volunteer_amount
                        })),

                        borderColor: "#003755",
                        
                        borderWidth: 1,

                        spanGaps: true,

                        pointRadius: 5,

                        pointHoverRadius: 10,

                        pointBackgroundColor: graphData.map(entry => shownStatusColor(shownStatusType(entry.caught_amount))),                                       
                    }]
                };

                const graphConfiguration = {
                    data: data,
                    
                    options: {
                        plugins: {
                            legend: {
                                display: false
                            },

                            tooltip: {
                                borderColor: "#003755",

                                borderWidth: 1,

                                backgroundColor: "#003755",

                                bodyAlign: "center",

                                bodyFont: {
                                    family: "Montserrat",

                                    size: 12,

                                    weight: "400"
                                },

                                callbacks: {
                                    title: function(tooltipItems){
                                        return tooltipItems[0].raw.location;
                                    },

                                    label: function(context){
                                        const dataPoint = context.raw;
                                        
                                        const date = new Date(dataPoint.x).toLocaleDateString("en-US", {month: "2-digit", day: "2-digit", year: "numeric"});

                                        return [`${dataPoint.title}`, `${date}`];
                                    }
                                },

                                displayColors: false,

                                footerAlign: "center",

                                footerFont: {
                                    family: "Montserrat",

                                    size: 12,

                                    weight: "400"
                                },

                                titleAlign: "center",

                                titleFont: {
                                    family: "Montserrat",

                                    size: 16,

                                    weight: "700"
                                },

                                titleMarginBottom: 0
                            }
                        },

                        scales: {
                            x: {
                                grid: {
                                    color: "#C9C9C9"
                                },

                                min: `${minYear}-01-01`,
                                
                                max: `${maxYear}-12-31`,
                                
                                type: "time",

                                time: {
                                    unit: "month",
                                    
                                    tooltipFormat: "MM/dd/yyyy",
                                    
                                    displayFormats: {
                                        month: "MMM."
                                    }
                                },

                                title: {
                                    color: "#003755",

                                    display: true,

                                    font: {
                                        family: "Montserrat",

                                        size: 16,

                                        weight: "700"
                                    },

                                    text: "Activity Date"
                                },

                                ticks: {
                                    color: "#003755",

                                    font: {
                                        color: "#003755",

                                        family: "Montserrat",

                                        size: 12,

                                        weight: "400"
                                        
                                    }
                                } 
                            },

                            y: {
                                beginAtZero: true,

                                grid: {
                                    color: "#C9C9C9"
                                },

                                title: {
                                    color: "#003755",

                                    display: true,

                                    font: {
                                        family: "Montserrat",

                                        size: 16,

                                        weight: "700"
                                    },

                                    fontStyle: "bold",

                                    text: "Number of COTS Collected"
                                },

                                ticks: {
                                    color: "#003755",

                                    font: {
                                        family: "Montserrat",

                                        size: 12,

                                        weight: "400"
                                    }
                                } 
                            }
                        }
                    },

                    type: "line",
                };

                const statusChart = new Chart(
                    document.getElementById("statusChart"),

                    graphConfiguration
                );

                function shownStatusRange(statusType){
                    switch (statusType){
                        case "Very Low":
                            return "1 - 5 COTS";

                        case "Low":
                            return "6 - 12 COTS";

                        case "Moderate":
                            return "13 - 18 COTS";

                        case "High":
                            return "19 - 24 COTS";

                        case "Critical":
                            return "25 and up COTS";
                    };
                };

                const legendsContainer = document.querySelector(".legends-container");

                for (let index = statusOrder.length - 1; index >= 0; index--){
                    const statusType = statusOrder[index];
                    
                    const legendItem = document.createElement("div");
                    
                    legendItem.className = "legend-item";

                    const legendColorbox = document.createElement("span");

                    legendColorbox.className = "legend-colorbox";
                    
                    legendColorbox.style.backgroundColor = shownStatusColor(statusType);

                    const legendText = document.createElement("span");
                    
                    legendText.innerHTML = `${statusType.toUpperCase()} <strong>(${shownStatusRange(statusType)})</strong>`;

                    legendItem.appendChild(legendColorbox);

                    legendItem.appendChild(legendText);

                    legendsContainer.appendChild(legendItem);
                }
            };
        </script>
    {% endif %}

    <script>
        document.getElementById("generatePdf").addEventListener("click", function (){
            const {jsPDF} = window.jspdf;
            
            const pdfHeader = document.querySelector(".pdf-header");
            
            const chart1Canvas = document.getElementById("statusChart");
            
            const mapContainer = document.getElementById("mapContainer");

            Swal.fire({
                title: "PDF is being generated.", text: "Kindly wait a while until the PDF is created.",

                didOpen: () => {
                    Swal.showLoading();
                },

                allowOutsideClick: false,
                
                showConfirmButton: false
            });

            pdfHeader.style.display = "block";

            mapContainer.style.display = "block";

            mapContainer.style.height = "200px";
        
            function waitForMapLoad(callback){
                const checkTilesLoaded = setInterval(() => {
                    const tiles = mapContainer.getElementsByClassName("leaflet-tile");

                    if (tiles.length > 0 && Array.from(tiles).every(tile => tile.complete)){
                        clearInterval(checkTilesLoaded);

                        callback();
                    }
                }, 1000);
            }

            waitForMapLoad(() => {
                const pdf = new jsPDF("p", "mm", "a4");

                const pageWidth = pdf.internal.pageSize.getWidth();

                const pageHeight = pdf.internal.pageSize.getHeight();

                html2canvas(pdfHeader).then(headerCanvas => {
                    const headerImgData = headerCanvas.toDataURL("image/png");

                    const headerHeight = headerCanvas.height * (pageWidth / headerCanvas.width);

                    html2canvas(chart1Canvas, {scale: 0.5}).then(chart1Canvas => {
                        const chart1ImgData = chart1Canvas.toDataURL("image/png");

                        const chart1Width = 100; 
                        
                        const chart1Height = 50;

                        leafletImage(map, function (err, canvas){
                            if (err){
                                console.error("An Error occured during capturing map image: ", err);
                                
                                return;
                            }
                            
                            const mapImgData = canvas.toDataURL("image/png");
                            
                            const mapWidth = pageWidth - 20; 

                            const locationNumber = {{location_number|escapejs}};

                            let mapHeight;

                            let mapX;

                            if (locationNumber === 3){
                                mapHeight = 50;
                                
                                mapX = chart1Width + 20;

                            } else {
                                mapHeight = (canvas.height / canvas.width) * mapWidth;

                                mapX = 10;
                            }

                            pdf.addImage(headerImgData, "PNG", 0, 7.5, pageWidth, headerHeight);

                            if (locationNumber === 3){
                                pdf.addImage(chart1ImgData, "PNG", 10, headerHeight + 15, chart1Width, chart1Height);
                            }

                            pdf.addImage(mapImgData, "PNG", mapX, headerHeight + 15, mapWidth - (locationNumber === 3 ? chart1Width + 10 : 0), mapHeight);

                            html2canvas(document.querySelector("#statusTable")).then(tableCanvas => {
                                const tableImgData = tableCanvas.toDataURL("image/png");
                                
                                const imgWidth = 190;

                                const tableImgHeight = tableCanvas.height * imgWidth / tableCanvas.width;

                                let heightLeft = tableImgHeight;

                                let position = headerHeight + Math.max(chart1Height || 0, mapHeight) + 20;

                                pdf.addImage(tableImgData, 'PNG', 10, position, imgWidth, tableImgHeight);

                                heightLeft -= pageHeight - position;

                                while (heightLeft >= 0){
                                    position = heightLeft - tableImgHeight;

                                    pdf.addPage();
                                    
                                    pdf.addImage(headerImgData, "PNG", 10, 10, 190, 48);

                                    if (locationNumber === 3){
                                        pdf.addImage(chart1ImgData, "PNG", 10, 60, chart1Width, chart1Height);
                                    }

                                    pdf.addImage(mapImgData, "PNG", mapX, 60, mapWidth - (locationNumber === 3 ? chart1Width + 20 : 0), mapHeight);
                                    
                                    pdf.addImage(tableImgData, "PNG", 10, position, imgWidth, tableImgHeight);
                                    
                                    heightLeft -= pageHeight;
                                }

                                pdf.save("infestation-report.pdf");

                                Swal.close(); 

                                mapContainer.style.width = "100%";

                                location.reload();
                            });
                        });
                    });
                });
            });
        });
    </script>

    <script>
        var map = L.map("map", {maxBounds: [[5.266008, 124.277344], [6.489983, 126.035156]]}).setView([5.9656, 125.1929], 11);

        L.tileLayer("https://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}", {minZoom: 11, maxZoom: 20, subdomains:["mt0", "mt1", "mt2", "mt3"]}).addTo(map);

        var geojsonLayerGroup = L.layerGroup().addTo(map);

        function updateMap(){
            var geojsonData = JSON.parse("{{geojson_data|escapejs}}");

            function getColor(statustype){
                switch (statustype){
                    case "Critical":
                        return "#C90016";

                    case "High":
                        return "#FF7518";
                    
                    case "Moderate":
                        return "#F4C430";
                
                    case "Low":
                        return "#698F3F";
            
                    default:
                        return "#003755";
                }
            }

            var minLat = Infinity, maxLat = -Infinity;

            var minLng = Infinity, maxLng = -Infinity;

            geojsonLayerGroup.clearLayers();

            L.geoJSON(geojsonData, {
                renderer: L.canvas(),

                style: function(feature){
                    var status = feature.properties.statustype;

                    var fillings = "";

                    if (status === "Critical"){
                        fillings = "#C90016";
                
                    } else if (status === "High"){
                        fillings = "#FF7518";

                    } else if (status === "Moderate"){
                        fillings = "#F4C430";

                    } else if (status === "Low"){
                        fillings = "#698F3F";
                    
                    } else{
                        fillings = "#003755";
                    };

                    return{
                        color: "#002C44", 
                        
                        weight: 1, 

                        fillColor: fillings, 

                        fillOpacity: 0.75
                    };
                },

                onEachFeature: function(feature, layer){
                    var latLngs = layer.getLatLngs();

                    latLngs.forEach(function(latLng){
                        latLng.forEach(function(coord){
                            var lat = coord.lat;

                            var lng = coord.lng;

                            if (lat < minLat) minLat = lat;

                            if (lat > maxLat) maxLat = lat;
                            
                            if (lng < minLng) minLng = lng;
                            
                            if (lng > maxLng) maxLng = lng;
                        });
                    });
                }
            }).addTo(geojsonLayerGroup);

            var centerLat = (minLat + maxLat) / 2;

            var centerLng = (minLng + maxLng) / 2;

            var currentZoom = map.getZoom();

            var newZoom = currentZoom + 1;

            if (minLat !== Infinity && minLng !== Infinity){
                map.setView([centerLat, centerLng], newZoom);
            }
        }

        function getCentroid(latLngs){
            var area = 0;

            var x = 0;
            
            var y = 0;
            
            var points = latLngs[0];

            for (var i = 0; i < points.length; i++){
                var p1 = points[i];

                var p2 = points[(i + 1) % points.length];
                
                var f = p1.lat * p2.lng - p2.lat * p1.lng;
                
                x += (p1.lat + p2.lat) * f;
                
                y += (p1.lng + p2.lng) * f;
                
                area += f * 3;
            }

            if (area === 0) return [0, 0];

            return [x / area, y / area];
        }

        updateMap();
    </script>
{% endblock %}