{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
<div class = "status" id = "status-filter">
    <form action = "" class = "status-form" method = "GET">
        {% csrf_token %}

        <div class = "card-header">
            <header>Filter status</header>
        </div>

        <div class = "card-body">
            <div class = "field">
                <div class = "column">
                    <label for = "from-date">From</label> 
                        
                    <div class = "from-date">
                        <input type = "date" value = "" id = "from-date" name = "from_date" required>                            
                    </div>

                    <label for = "barangay">Barangay</label> 

                    <select name = "barangay" id = "barangay">
                        <option disabled selected value>Choose barangay</option>

                        {% for status in statuses %}
                            <option value="{{status.location.id}}">{{status.location.barangay}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class = "column">
                    <label for = "to-date">To</label> 

                    <div class = "to-date">
                        <input type = "date" value = "" id = "to-date" name = "to_date" required>                            
                    </div>  

                    <label for = "municipality">Municipality</label> 

                    <select name = "municipality" id = "municipality">
                        <option disabled selected value>Choose municipality</option>

                        {% for status in statuses %}
                            <option value="{{status.location.id}}">{{status.location.municipality}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class = "button">
                <a class = "filter-status" type = "submit">Filter</a>
            </div>    
        </div>
    </form>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "info" %}<script>Swal.fire({title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: {confirmButton: "info-button", title: "title"}})</script>
        {% elif message.tags == "success" %}<script>Swal.fire({title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: {confirmButton: "success-button", title: "title"}})</script>
        {% else %}<script>Swal.fire({title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: {confirmButton: "error-button", title: "title"}})</script>
        {% endif %}    
    {% endfor %}
{% endif %}

<script>
    document.querySelector(".filter-status").onclick = function() {
        document.querySelector(".status-form").submit();
    }
</script>

<div class = "line"></div>

{% for status in statuses %}
<div class = "status">
    <div class = "card-header" {% if status.statustype.is_critical == True %} id = "critical-status" {% elif status.statustype.is_moderate == True %} id = "moderate-status" {% elif status.statustype.is_low == True %} id = "low-status" {% endif %}>
        <header>{{status.statustype | default:'nonexistent'}}</header>
    </div>

    <div class = "card-body">
        <div class = "field">
            <div class = "column">
                <label for = "onset-date">Onset Date</label> 
                    
                <div class = "onset-date">
                    <input type = "text" value = "{{status.onset_date | date:'M. j, Y' | default:'nonexistent'}}" id = "onset-date" name = "onset_date" readonly>
                        
                    <i class = "fa-solid fa-calendar-check"></i>
                </div>
            </div>

            <div class = "column">
                <label for = "location">Location</label> 

                <div class = "location">
                    <input type = "text" value = "{{status.location | default:'nonexistent'}}" id = "location" name = "location" readonly>

                    <i class = "fa-solid fa-location-dot"></i>      
                </div>  
            </div>
        </div>   
    </div>
</div>
{% endfor %}
{% endblock content %}